body,p,td,th,table,input,form,option
{
	color: #000000;
}

a:link,a:active,a:visited
{
	color: #336699;
}

a:hover
{
	color: #cc0000;
}

.login
{
	background-color: #486591;
	border-color: #000000;
}

.portal_text
{
	color: #fefefe;
	background-color: #486591;
}

.row_on,.th_bright,.app_header
{
	background-color: #fefefe;
}

.row_off,.portal,.about
{
	background-color: #e6e6e6;
}

.th
{
	background-color: #486591;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.cal_today
{
	background-color: #ffffcc;
}

.email_folder
{
	background-color: #486591;
	color: #ffffff;
}
