body,p,td,th,table,input,form,option
{
	color: #000000;
}

a:link,a:active,a:visited
{
	color: #336699;
}

a:hover
{
	color: #cc0000;
}

.info
{
	color: #000000;
}

.login,.portal,.about
{
	background-color: #FFE4C4;
	border-color: #000000;
}

.portal_text
{
	background-color: #AABBCC;
	color: #FFFFFF;
}

.th_bright,.app_header
{
	background-color: #AABBCC;
}

.msgbox
{
	background-color: #FFFFFF;
}

.row_on
{
	background-color: #EEEEFF;
}

.row_off
{
	background-color: #FFFFEE;
}

.th
{
	background-color: #FFE4C4;
}

.cal_today
{
	background-color: #D0DCE0;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #7090FF;
	color: #FFFFFF;
}
