body,p,td,th,table,input,form,option
{
	color: #000000;
}

a:link,a:active
{
	color: #336699;
}

a:visited
{
	color: #333366;
}

a:hover
{
	color: #cc0000;
}

.login,.portal,.about
{
	background-color: #ADADAD;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright
{
	background-color: #DDDDDD;
}

.msgbox
{
	background-color: #FFFFFF;
}

.row_off
{
	background-color: #EEEEEE;
}

.th,.app_header
{
	background-color: #ADADAD;
}

.cal_today
{
	background-color: #ffffcc;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #adadad;
	color: #ffffff;
}
