body,p,td,th,table,input,form,option
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

body
{
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	background: url(../images/content_spacer_middle.png);
}

table
{
	border-width: 0;
}

a:link,a:active
{
	color: #336699;
	text-decoration: none;
}

a:visited
{
	color: #333366;
	text-decoration: none;
}

a:hover
{
	color: #cc0000;
	text-decoration: none;
}

.bodytext
{
	color: #000000;
}

.whitetext
{
	color: #FFFFFF;
}

.small_text
{
	font-size: 80%;
}

.headertext
{
	font-size: 110%;
	font-weight: bold;
	color: #FFFFFF;
}

.inputtext
{
	background-color: #FFFFFF;
}

.buttontext,.linktext,.cal_dayview
{
	background-color: #C0C0C0;
}

.portal
{
	background-color: #ADADAD;
	border-width: 1px;
	border-color: #000000;
	border-style: ridge;
}

.portal_text
{
	color: #FFFFFF;
	font-weight: bold;
	background: url(../../default/images/bg_filler.png);
}

.row_on
{
	background-color: #DDDDDD;
}

.row_off
{
	background-color: #EEEEEE;
}

.th
{
	background-color: #ADADAD;
}

.th_text,.app_header_text
{
	font-weight: bold;
	color: #000000;
}

.app_header
{
	font-weight: bold;
	background-color: #DDDDDD;
}

.cal_today
{
	background-color: #ffffcc;
}

.email_folder
{
	background-color: #adadad;
	color: #ffffff;
}
