body,p,td,th,table,input,form,option
{
	color: #000000;
}

a:link,a:visited,a:active
{
	color: mediumblue;
}

a:hover
{
	color: #cc0000;
}

.login,.portal,.about
{
	background-color: #80BBFF;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright,.app_header
{
	background-color: #CCEEFF;
}

.msgbox
{
	background-color: #FFFFFF;
}

.row_off
{
	background-color: #DDF0FF;
}

.th
{
	background-color: #80BBFF;
}

.cal_dayview
{
	background-color: #c0c0c0;
}

.cal_today
{
	background-color: #FFFFCC;
}

.email_folder
{
	background-color: #7090FF;
	color: #FFFFFF;
}
