/* Theme vaguely resembling previous theme to reduce change stress */
/* Shoelace overrides */
:root,
:host,
.kdots-classic {
  --sl-shadow-x-small: 0 2px 4px hsla(240, 3.8%, 41.6%, 0.52);
  --sl-shadow-small: 0 4px 4px hsla(240, 3.8%, 46.1%, 0.52);
  --sl-shadow-medium: 0 4px 8px hsla(240, 3.8%, 46.1%, 0.52);
  --sl-shadow-large: 0 4px 16px hsla(240, 3.8%, 46.1%, 0.52);
  --sl-shadow-x-large: 0 8px 32px hsla(240, 3.8%, 46.1%, 0.52);
  /*  egw-framework#egw_fw_basecontainer {
	&::part(header) {
	}

	&::part(open-applications) {
	  --icon-size: var(--sl-spacing-x-large);
	  --tab-icon-size: var(--icon-size);
	  --tab-icon-size-active: var(--icon-size);
	}

	!* This doesn't work because ::part() selector can't have any extra bits *!
	&::part(tab-active)[active] {
	  border-top: 3px solid var(--application-color);
	}

	&::part(tab-icon) {
	  border-radius: 0;
	  background-color: initial;
	}

	&::part(image) {
	  filter: none;
	}
  }*/
}
:root egw-app,
:host egw-app,
.kdots-classic egw-app {
  --application-header-text-color: var(--sl-color-neutral-900);
  /* Remove big color bar, use just some border */
}
:root egw-app::part(app-header),
:host egw-app::part(app-header),
.kdots-classic egw-app::part(app-header),
:root egw-app::part(header),
:host egw-app::part(header),
.kdots-classic egw-app::part(header),
:root egw-app::part(details-header),
:host egw-app::part(details-header),
.kdots-classic egw-app::part(details-header),
:root egw-app::part(close-button),
:host egw-app::part(close-button),
.kdots-classic egw-app::part(close-button) {
  background-color: initial;
}
:root egw-app::part(app-header),
:host egw-app::part(app-header),
.kdots-classic egw-app::part(app-header),
:root egw-app *::part(header),
:host egw-app *::part(header),
.kdots-classic egw-app *::part(header),
:root egw-app::part(details-header),
:host egw-app::part(details-header),
.kdots-classic egw-app::part(details-header) {
  border-top: 4px solid var(--application-color, --sl-color-primary-500);
}
:root egw-app::part(name),
:host egw-app::part(name),
.kdots-classic egw-app::part(name) {
  --image-filter: none;
}
/* System messages */
.sl-toast-stack sl-alert::part(base) {
  border-top: 0px;
}
.sl-toast-stack sl-alert::part(icon) {
  padding-inline-start: var(--sl-spacing-x-small);
  padding-inline-end: var(--sl-spacing-x-small);
}
.sl-toast-stack sl-alert[variant="success"]::part(icon) {
  background-color: var(--sl-color-success-200);
}
.sl-toast-stack sl-alert[variant="warning"]::part(icon) {
  background-color: var(--sl-color-warning-200);
}
.sl-toast-stack sl-alert[variant="danger"]::part(icon) {
  background-color: var(--sl-color-danger-200);
}
