@import "../../node_modules/@shoelace-style/shoelace/dist/themes/dark.css";
html[data-darkmode="1"], .sl-theme-dark {
  background-color: var(--sl-color-neutral-50);
  color: var(--sl-color-neutral-700);

  //our strongest neutral color should not be fully black
  //--sl-color-neutral-0: var(--sl-color-neutral-50);

  --sl-color-primary-50:  hsl(210, 43%, 10%) !important;
  --sl-color-primary-100: hsl(210, 43%, 15%) !important;
  --sl-color-primary-200: hsl(210, 43%, 20%) !important;
  --sl-color-primary-300: hsl(210, 43%, 26%) !important;
  --sl-color-primary-400: hsl(210, 40%, 33%) !important;
  --sl-color-primary-500: hsl(210, 40%, 42%) !important;
  --sl-color-primary-600: hsl(210, 38%, 53%) !important;
  --sl-color-primary-700: hsl(210, 36%, 63%) !important;
  --sl-color-primary-800: hsl(210, 33%, 73%) !important;
  --sl-color-primary-900: hsl(210, 30%, 84%) !important;
  --sl-color-primary-950: hsl(210, 25%, 94%) !important;




  /*** HEADER ***/
  #egw_fw_topmenu_info_items {
	#topmenu_info_timer:before {
	  filter:initial;
	}
  }

  /*** APPLICATION ***/

  egw-app {
	--application-header-text-color: var(--sl-color-neutral-900);
  }

  /*** End APPLICATION ***/

  /*** WIDGETS ***/
  /* This should mostly go away with webcomponents */

  .et2_container {
	background-color: initial;
  }

  .dialogFooterToolbar et2-button::part(base):not(:hover), et2-dialog et2-button[variant='default'][slot='footer']::part(base):not(:hover) {
	background-color: var(--sl-input-background-color);
  }
  .nextmatch_sortheader {
	color: #96bcd9;
  }

  /* Date widget (flatpickr dark theme)  */
  @import (inline) "../../../node_modules/flatpickr/dist/themes/dark.css";

  .flatpickr-calendar {
	background: var(--sl-panel-background-color);
	box-shadow: var(--sl-shadow-large);

	.flatpickr-innerContainer {
	  background: var(--sl-panel-background-color);
	  border-bottom-color: var(--sl-panel-border-color);
	}

	.flatpickr-months {
	  background-color: var(--sl-color-neutral-200);

	  .flatpickr-month, .flatpickr-monthDropdown-months {
		background: none;
		color: var(--sl-color-neutral-700);
	  }
	}

	.flatpickr-weeks, .flatpickr-days {
	  border-left-color: var(--sl-panel-border-color);
	}

	span.flatpickr-weekday {
	  color: var(--sl-color-neutral-500);
	  background-color: var(--sl-color-neutral-200);
	}

	.flatpickr-time {
	  background-color: transparent;
	  border-color: var(--sl-panel-border-color);

	  .flatpickr-calendar.hasTime & {
		border-top: var(--sl-panel-border-width) solid var(--sl-panel-border-color);
	  }
	}
  }
  /** End WIDGETS **/
}