:root, :host, .kdots-glassy {
  // Shiny
  --inner-shine: inset 0 0.125rem 0 0 rgb(255 255 255 / 0.2);
  --top-highlight: inset 0 0.25rem 0 0 rgb(255 255 255 / 0.1);
  --upper-tint: inset 0 1.25em 0 0 rgb(255 255 255 / 0.1);
  --lower-shade: inset 0 -1.125em 0 0 rgb(0 0 0 / 0.02);
  --bottom-shadow: inset 0 -0.0625rem 0 0 rgb(0 0 0 / 0.15);

  --inner-shine-active: inset 0 -0.0625rem 0 0 rgb(255 255 255 / 0.1);
  --top-highlight-active: inset 0 0.125rem 0 0 rgb(0 0 0 / 0.04);
  --upper-tint-active: inset 0 1.25em 0 0 rgb(0 0 0 / 0.04);
  --lower-shade-active: inset 0 -1.125em 0 0 rgb(0 0 0 / 0.02);
  --bottom-shadow-active: inset 0 -0.125rem 0 0 rgb(255 255 255 / 0.04);

  /* Rounded corners */
  --sl-border-radius-small: 0.25rem; /* Small radius */
  --sl-border-radius-medium: var(--sl-input-height-medium); /* Medium radius */
  --sl-border-radius-large: 1.75rem; /* Large radius */

  --sl-panel-border-radius: var(--sl-border-radius-medium);

  et2-avatar::part(base) {
	background-color: transparent;
  }

  et2-avatar, et2-lavatar {
	&::part(base) {
	  border-radius: var(--sl-border-radius-circle);
	}

	&::part(image) {
	  border-radius: var(--sl-border-radius-circle);
	}
  }

  /* Input field changes */
  .et2-input-widget {
	&:not([disabled]) {
	  &::part(base), &::part(input-control), &::part(combobox) {
		box-shadow: var(--upper-tint), var(--lower-shade);
	  }
	  &::part(listbox){
		--sl-input-background-color: var(--sl-color-neutral-0);
	  }
	}
  }

  /* don't add another box shadow to input fields in glassy main header otherwise it shows up twice*/

  *[slot="main-header"] {
	*::part(base), *::part(input-control), *::part(combobox) {
	  box-shadow: none !important;
	}
  }

  /* Buttons */
  --sl-button-border-radius: 0.5rem;
  --sl-button-padding: 0.25rem 0.75rem;
  --sl-button-primary-background-color: hsl(var(--application-color-hsl));
  --sl-button-primary-color: hsl(var(--sl-color-neutral-0));
  --sl-button-primary-hover-background-color: hsl(calc(var(--application-color-hsl) / 0.9));
  --sl-button-primary-hover-border-color: hsl(calc(var(--application-color-hsl) / 1));

  et2-button, button {
	&::part(base) {
	  box-shadow: var(--inner-shine), var(--top-highlight), var(--upper-tint), var(--lower-shade), var(--bottom-shadow);
	}

	&:not([disabled]):active {
	  &::part(base) {
		box-shadow: var(--inner-shine-active), var(--top-highlight-active), var(--upper-tint-active), var(--lower-shade-active),
		var(--bottom-shadow-active);
		transform: scale(0.98);
	  }
	}
  }

  egw-app {
	&::part(app-header) {
	  box-shadow: var(--inner-shine), var(--top-highlight), var(--upper-tint), var(--lower-shade), var(--bottom-shadow);
	}
  }
}
