:root,
:host,
html,
.sl-theme-light {
  /*
  color token generator using #0053c9
  https://codepen.io/claviska/full/QWveRgL
   */
  --sl-color-primary-50: #f7fafd;
  --sl-color-primary-100: #e4edf9;
  --sl-color-primary-200: #d0dff5;
  --sl-color-primary-300: #bad0f0;
  --sl-color-primary-400: #9cbcea;
  --sl-color-primary-500: #75a2e2;
  --sl-color-primary-600: #4984d8;
  --sl-color-primary-700: #2169d0;
  --sl-color-primary-800: #0051c5;
  --sl-color-primary-900: #003a8d;
  --sl-color-primary-950: #002458;
  --sl-shadow-x-small: 0 1px 2px hsla(240, 3.8%, 46.1%, 0.24);
  --sl-shadow-small: 0 1px 2px hsla(240, 3.8%, 46.1%, 0.48);
  --sl-shadow-medium: 0 2px 4px hsla(240, 3.8%, 46.1%, 0.48);
  --sl-shadow-large: 0 2px 8px hsla(240, 3.8%, 46.1%, 0.48);
  --sl-shadow-x-large: 0 4px 16px hsla(240, 3.8%, 46.1%, 0.48);
  /*** APPLICATION ***/
  /*** End APPLICATION ***/
}
:root egw-app,
:host egw-app,
html egw-app,
.sl-theme-light egw-app {
  --application-header-text-color: var(--sl-color-neutral-100);
}
