@import "../../node_modules/@shoelace-style/shoelace/dist/themes/light.css";
:root, :host, html, .sl-theme-light {
  /*
  color token generator using #4177a2
  https://codepen.io/claviska/full/QWveRgL

  make them important, otherwise the shoelace sl-light style overrides this in some cases, look for a different option?
   */
  --sl-color-primary-50:  hsl(204, 33%, 98%) !important;  /* rgb(248 250 251) */
  --sl-color-primary-100: hsl(208, 28%, 93%) !important;  /* rgb(230 237 243) */
  --sl-color-primary-200: hsl(208, 31%, 87%) !important;  /* rgb(211 224 234) */
  --sl-color-primary-300: hsl(209, 33%, 81%) !important;  /* rgb(191 209 224) */
  --sl-color-primary-400: hsl(210, 36%, 73%) !important;  /* rgb(163 189 210) */
  --sl-color-primary-500: hsl(210, 35%, 63%) !important;  /* rgb(128 164 193) */
  --sl-color-primary-600: hsl(210, 33%, 52%) !important;  /* rgb(90 137 174) */
  --sl-color-primary-700: hsl(210, 43%, 42%) !important;  /* rgb(61 112 153) */
  --sl-color-primary-800: hsl(210, 43%, 35%) !important;  /* rgb(51 93 126) */
  --sl-color-primary-900: hsl(210, 43%, 25%) !important;  /* rgb(36 66 90) */
  --sl-color-primary-950: hsl(210, 43%, 15%) !important;  /* rgb(22 40 55) */





  --sl-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 24%);
  --sl-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 48%);
  --sl-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 48%);
  --sl-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 48%);
  --sl-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 48%);


  /*** APPLICATION ***/

  egw-app {
	--application-header-text-color: var(--sl-color-neutral-100);
  }

  /*** End APPLICATION ***/
}