/*
	font styling
	allowed attributes: font-family,font-size,color,font-weight
*/

body,td,textarea
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

select,input,button
{
	color: #006699;
	font-family: Arial, Helvetica, sans-serif;
	font-size:110%;
}

select
{
	font-size:100%;
}

a:link,a:visited
{
	cursor:pointer;
	color: #006699;
	text-decoration: none;
}

a:hover,a:active
{
	cursor:pointer;
	color: #ff9933;
	text-decoration: underline;
}
.divLoginboxHeader,.divSideboxHeader,a.appTitles,.appTitles,a.textSidebox,.textSidebox,#fmStatusBar
{
	font-size:90%;
}

.prefSection
{
	font-weight:bold;
	font-size:145%;
	line-height:40px;
}

#divAppboxHeader
{
	line-height:28px;
	font-size:125%;
	font-weight:bold;
	color:#666666;
}

#divGenTime,#divPoweredBy
{
	font-size: 80%;
	color: #ff0000;
}

#divPoweredBy
{
	color: #000000;
}

/*
	other styling
*/

body
{
	background-image:url(../images/body-background.png);
}

form
{
	margin:0px;
	padding:0px;
}

img
{
	border:0;
}


input,button,select
{
	border: solid 1px #bbbbbb;
}

input[type=submit],input[type=button],input[type=reset],button,.egwbutton

{
	background-color:#c5c5c5;
	border:  outset 1px #dcdad5;
	background-color:#b9d5e3;
	border:  outset 1px #b9d5e3;
	margin:  1px;
	padding: 1px;
	cursor:  pointer;
	color:  #004e7d;
}

input[type=submit]:hover,input[type=button]:hover,input[type=reset]:hover,button:hover,.egwbutton:hover
{
	background-color:#94bfd4;
	border:  outset 1px #b9d5e3;
	color:  #006699;
	color:  #004e7d;
}

input[type=submit]:active,input[type=button]:active,input[type=reset]:active,button:active,.egwbutton:active

{
	border:  inset 1px #bbbbbb;
}

input.egwbutton
{
	background-color:#c5c5c5;
	border:  outset 1px #dcdad5;
	background-color:#b9d5e3;
	border:  outset 1px #b9d5e3;
	margin:  1px;
	padding: 1px;
	cursor:  pointer;
	color:  #004e7d;
}

input.egwbutton:hover
{
   background-color:#94bfd4;
   border:  outset 1px #b9d5e3;
   color:  #006699;
   color:  #004e7d;

}
input.egwbutton:active
{
   border:  inset 1px #bbbbbb;
}

input[type=image]
{
	cursor: pointer;
	border: 0;
}

#thesideboxcolumn
{
	width: 177px;
	position:relative;
}

#sideresize
{
	background-image:url(../images/resize.png);
	width:13px;
	height:13px;
	right:1px;
	top:1px;
	position:absolute;
	z-index:9999;
}

.divLoginbox
{
	position:relative;
	width: 370px;
	border: #9c9c9c 1px solid;
}

.divSidebox
{
	position:relative;
  	border: #9c9c9c 1px solid;
	overflow:auto;
}

.divSideboxHeader,.divLoginboxHeader
{
	text-align:center;
	background-color:#dddddd;
	padding-top:2px;
	color:#666666;
}

a.divSideboxEntry, .divSideboxEntry
{
	text-align:left;
	background-color:#FDFDFD;
}

a.appTitles,.appTitles
{
	height:18px;
	padding-top:2px;
	padding-bottom:2px;
}

a.textSidebox
{
	padding: 0;
	border-top: 0;
}

.textSidebox
{
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 1px;
	border-top: solid #aaaaaa 1px;
	overflow: auto;
}

.sideboxSpace
{
	height:9px;
}

.greyLine
{
	margin:1px;
	border-top:solid 1px #7e7e7e;
	height:1px;
}

#extraIcons
{
	background-color:#eeeeee;
	border:solid 1px #7e7e7e;
}

.extraIconsRow
{
	border:solid 1px #dddddd;
	padding:2px;
}

body {
	padding: 0px;
	margin: 0px;
}

#divMain,#loginMainDiv,#popupMainDiv
{
	background-color: white;
	padding: 8px;
	border-bottom: solid 1px #7e7e7e;
}
/*
 ** Popups
 */
#popupMainDiv
{
	margin: 8px;
	border: solid 1px #7e7e7e;
	padding-bottom: 0px;
}

#divLogo
{
	position:absolute;
	left:30px;
	top:20px;
	z-index:999;
}

#topmenu
{
	background-color: #0081c1;
	background-image: url(../images/bgtopmenu2.png);
	color:#006699;
	/*border-top: solid 1px #7e7e7e;*/
	border-bottom: solid #5793ff 1px;
	height:20px;
	padding-top:4px ;
	line-height:16px;
}
#topmenu a
{
	color:#006699;
}

#topmenu_items
{
	float:left;
}
#topmenu_info
{
	float:right;
}

#divUpperTabs
{
	text-align:right;
	height: 15px;
	margin-right: 10px;
}

#divUpperTabs ul
{
	display:inline;
	margin:0;
	padding:10px 10px 0 1px;
	list-style:none;
}

#divUpperTabs li
{
	float:right;
	margin:0 5px 0 0;;
	padding:0 5px 0 5px;
	border:solid 1px #9c9c9c;
	border-bottom: 0px;
}

#divAppIconBar
{
	background-color:silver;
	border:solid 1px #9c9c9c;
	background-image: url(../images/background-icon-bar.png);
	background-repeat: repeat-x;
	overflow:visible;
	height: 45px; /* prevents text line to show in IE7+8(Compatibilitymode) */
}
/* Star-Plus-HTML Hack fix for the above */
*:first-child+html #divAppIconBar
{
	height: 60px;
}

#divAppTextBar
{
	background-color:white;
}

#divStatusBar
{
	background-color:white;
	height:18px;
	padding-left:3px;
}

#tdSidebox
{
	width:170px;
	background-color:white;
	overflow:visible;
}

#tdAppbox
{
	background-color:white;
	padding-left:5px;
	width: 100%;
}

#divAppboxHeader
{
	background-image:url(../images/appbox-header-background.png);
	background-repeat: repeat-x;
	height: 25px;
	border-bottom:solid 1px #c0c0c0;
	text-align:center;
	padding-bottom:0px;
	border-top:solid 1px #9c9c9c;
	border-left:solid 1px #9c9c9c;
	border-right:solid 1px #9c9c9c;
}

#divAppbox
{
	background-color:#ffffff;
	padding:5px;
	border-bottom:solid 1px #9c9c9c;
	border-left:solid 1px #9c9c9c;
	border-right:solid 1px #9c9c9c;
}

#divGenTime,#divPoweredBy
{
	bottom:4px;
	text-align:center;
	width:99%;
}

/*
	Printing
*/
@media screen {	.onlyPrint { display: none; } }
@media print {	.noPrint { display: none; } }

/*
	Portal_box as used in home
*/
.portal_box {
	border: #9c9c9c 1px solid;
}

.portal_box table {
	border: 1px solid black;
}

.portal_box_header {
	height: 15px;
	padding-top: 0px;
}

/*
	Login page
*/
#loginMainDiv {
	padding-top: 24px;
	height: 700px;	/* 95% does not work */
	position: relative;
	background-repeat: no-repeat;
	background-position: center 80px;
	background-image: url(../images/login-background.jpg);
}
#loginScreenMessage {
	text-align: center;
	padding: 10px;
}
#loginCdMessage {
	text-align: center;
	padding-bottom: 10px;
	color: red;
	font-style: italic;
}
.divLoginboxHeader {
	text-align: center;
	border: #9c9c9c 1px solid;	/* does NOT work */
	padding: 0px;
}

/*
Preferences tabs
*/
.tablink {
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
}

/* eGroupWare popup */
#egwpopup {
	background-color: #ffffff;
	border: 1px solid #d3d3d3;
}

#egwpopup hr {
	border: none;
	border-top: 1px solid #d3d3d3;
	height: 1px;
}

#egwpopup_header {
	background-image: url(../images/gradient22.png);
	height: 18px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	font-size:12px;
	font-weight: bold;
	color: #666666;
	text-align: center;
	border-bottom: 1px solid #d3d3d3;
}

#egwpopup_message {
	margin: 0;
	padding: 7px;
	overflow: auto;
}

#egwpopup_message > table {
	font-size: 95%;
}

#egwpopup_message .link {
	cursor: pointer;
}

#egwpopup_footer {
	margin: 0;
	padding: 7px;
	border: none;
	border-top: 1px solid #d3d3d3;
	text-align: center;
}

.selectbg
{
	position:absolute;
	z-index:10;
	overflow:hidden;
	width:250px;
}
.iframeforselectbox
{
	display:block;
	height:150px;
	left:10pt;
	position:absolute;
	top:0pt;
	width:235px;
	z-index:-1;
	border: 0px;
}

.bdforselection {
	padding:12px;
}
/* new dialog style */
.prompt {background:#fff url(../../default/images/prompt_bg.jpg) bottom right no-repeat; border:1px solid #4f6d81;}
.promptheader {background:url(../../default/images/prompt_header.gif) repeat-x; color:#355468; border:1px solid #4f6d81; border-bottom:none; height:24px}



/* TABLE STYLE */

/*
	Table formatting
*/

.th {
	color: black; background-color: #D3DCE3;
}

.row_on {
	color: black;
	background-color: #F1F1F1;
}

.row_off {
	color: black;
	background-color: #ffffff;
}

.egwGridView_grid tr.row_on {
	background-color: transparent;
}

.egwGridView_grid tr.row_off {
	background-color: transparent;
}

.narrow_column { width: 1%; white-space: nowrap; }

.egwGridView_outer table.egwGridView_grid {
	table-layout: fixed;
}

.egwGridView_grid {
	border-spacing: 0;
	border-collapse: collapse;
}

.egwGridView_outer div.innerContainer.queued {
	background-image: url(../../default/images/egw_action/ajax-loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 19px;
}

.egwGridView_grid > tbody > tr.focused > td {
	background-image: url(../../default/images/egw_action/focused_hatching.png);
	background-repeat: repeat;
}

.egwGridView_grid > tbody > tr.selected > td {
	background-color: #b7c3ff;
}

.egwGridView_grid tr.draggedOver td {
	background-color: #ffd09c !important;
}

.egwGridView_scrollarea {
	width: 100%;
	overflow: auto;
}

.egwGridView_spacer {
	background-image: url(../../default/images/egw_action/non_loaded_bg.png);
	background-position: top left;
}

.egwGridView_outer {
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
	padding: 0;
/*	margin: 5px;*/
}

.egwGridView_outer td, .egwGridView_outer tr {
	padding: 0;
	margin: 0;
}

.egwGridView_grid > tbody > tr > td {
	border-right: 1px solid silver;
	border-bottom: 1px solid #e0e0e0;
	padding: 2px 3px 2px 4px;
	margin: 0;
}

.egwGridView_outer th div.innerContainer,
.egwGridView_grid td div.innerContainer {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
}

.egwGridView_grid tr.fullRow {
	font-style: italic;
}

.egwGridView_grid tr.row_on:hover,
.egwGridView_grid tr.row_off:hover,
.egwGridView_grid tr.row:hover {
	background-color: #f0f0ff;
}

.egwGridView_grid tr {
	padding: 2px 3px 2px 4px;
	margin: 0;
}

.egwGridView_grid tr.hidden {
	display: none;
}

.egwGridView_grid span.indentation {
	display: inline-block;
}

.egwGridView_grid span {
	vertical-align: middle;
}

.egwGridView_grid span.iconOverlayContainer {
	margin: 2px 5px 2px 2px;
	position: relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	overflow: visible;
	display: inline-block;
}

.egwGridView_grid span.overlayContainer {
	position: absolute;
	right: -2px;
	bottom: -2px;
	vertical-align: bottom;
	text-align: right;
}

.egwGridView_grid span.iconContainer {
	display: inline-block;
	padding: 0;
	margin: 0;
	text-align: center;
}

.egwGridView_grid span.overlayContainer img.overlay {
	position: relative;
	top: 1px;
	margin: 0;
	padding: 0;
}

.egwGridView_grid img.icon {
	vertical-align: middle;
	margin: 0;
}

.egwGridView_grid span.arrow {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	background-repeat: no-repeat;
	margin-right: 2px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.egwGridView_grid span.arrow.opened {
	cursor: pointer;
	background-image: url(../../default/images/egw_action/arrows.png);
	background-position: -8px 0;
}

.egwGridView_grid span.arrow.closed {
	cursor: pointer;
	background-image: url(../../default/images/egw_action/arrows.png);
	background-position: 0 0;
}

.egwGridView_grid span.arrow.loading {
	cursor: pointer;
	background-image: url(../../default/images/egw_action/ajax-loader.gif);
	background-position: 0 0;
}

.egwGridView_grid span.caption {
	cursor: default;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.egwGridView_grid tr.th > td, /*legacy*/
.egwGridView_outer thead th,
.nextmatch_header, .lettersearch {
	background-color: #E0E0E0;
	font-weight: normal;
	padding: 2px;
	text-align: left;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	background-image: url(../../default/images/egw_action/header_overlay.png);
	background-position: center;
	background-repeat: repeat-x;
}

.lettersearch, .lettersearch_active {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 25px;
	border: 1px solid #D3DCE3;
	text-align: center;
	cursor: pointer;
}
.lettersearch_active,.lettersearch:hover {
	border: 1px solid black;
	background-color: #E8F0F0;
}
.lettersearch_active {
	font-weight: bold;
}
td.lettersearch {
	border-color: #E0E0E0;	
	background-image: url(../images/gradient22.png);
}

.nextmatch_header tr {
	background: none;
}
.nextmatch_header {
	padding: 0px;
}

.egwGridView_grid tr.th > td:hover, /*legacy*/
.egwGridView_outer thead th:hover {
	background-color: #F0F0F0;
}

.egwGridView_grid tr.th > td:active, /*legacy*/
.egwGridView_outer thead th:active {
	background-color: #D0D0D0;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
}


.egwGridView_outer thead th.optcol {
	padding: 0;
	text-align: center;
}

.selectcols {
	display: inline-block;
	width: 10px;
	height: 9px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-image: url(../../default/images/egw_action/selectcols.png);
	background-position: center;
	background-repeat: no-repeat;
}

.nextmatch_header .selectcols {
	background: none;
	height: auto;
}

.egwGridView_grid td.frame,
.egwGridView_outer td.frame,
.egwGridView_grid td.egwGridView_spacer {
	padding: 0 !important;
	border-right: 0 none silver !important;
	border-bottom: 0 none silver !important;
}

.egwGridView_outer span.sort {
	display: inline-block;
	width: 7px;
	height: 7px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 2px;
	vertical-align: middle;
}

.egwGridView_outer span.sort.asc {
	background-image: url(../images/up.png);
}

.egwGridView_outer span.sort.desc {
	background-image: url(../images/down.png);
}

