body
{
	font-family: Verdana,Arial,Helvetica,sans-serif; 
	font-size: 10pt; 
	font-style: normal; 
	color: #000000;
	line-height: normal; 
	font-weight: normal; 
	letter-spacing: 0em; 
	word-spacing: 0em; 
	background-color: #FFFFFF;
}

table
{   
	background-color: #967FF4;
	border: 0px; 
	font-family: Verdana,Arial,Helvetica,sans-serif; 
	font-size: 10pt;
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	color: #000000; 
	text-decoration: none;
	letter-spacing: 0em; 
	word-spacing: 0em; 
	padding: 2em;
}

th
{	
	background-color: #9999FF;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

td.row-on
{
	background-color: #CCCCFF;
}

td.row-off
{
	background-color: #E4DFFF;
}


a:link
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: blue;
	font-style: bold;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:visited
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: blue;
	font-style: bold;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:active
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: red;
	font-style: bold;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:hover
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: red;
	font-style: bold;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.navbar
{
	background-color: #967FF4;
	color: #000000;
}

.navbar:spezial_logo
{
	background-image: url(logo_967FF4.gif);	
}

.calendar:today
{
	background-color: #FFFFCC;
}

.email:folder
{
	background-color: #666699;
	color: #FFFFFF;
}

.bg01
{
	background-color: #dadada;
}

.bg02
{
	background-color: #dad0d0;
}

.bg03
{
	background-color: #dacaca;
}

.bg04
{
	background-color: #dac0c0;
}

.bg05
{
	background-color: #dababa;
}

.bg06
{
	background-color: #dab0b0;
}

.bg07
{
	background-color: #daaaaa;

}
.bg08
{
	background-color: #da9090;
}

.bg09
{
	background-color: #da8a8a;

}

.bg10
{
	background-color: #da7a7a;
}


