body,p,td,th,table,input,form,option
{
	color: #000000;
}

body
{
	background-color: #FFFFFF;
}

a:link,a:visited
{
	color: blue;
}

a:hover,a:active
{
	color: red;
}

.navbar,.th
{
	background-color: #003300;
}

.navbar:spezial_logo
{
	background-image: url(logo_003300.gif);	
}

.login,.portal,.about
{
	background-color: #80BBFF;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright,.app_header
{
	background-color: #D3DCE3;
}

.row_off
{
	background-color: #EEEEEE;
}

.cal_today
{
	background-color: #FFFFCC;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #666699;
	color: #FFFFFF;
}
