body,p,td,th,table,input,form,option
{
	color: #000000;
}

body
{
	background-color: #FFFFFF;
}

a:link,a:visited
{
	color: blue;
}

a:active,a:hover
{
	color: red;
}

.navbar,.th
{
	background-color: #000099;
}

.navbar:spezial_logo
{
	background-image: url(logo_000099.gif);	
}

.login,.portal,.about
{
	background-color: #000099;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright,.app_header
{
	background-color: #DDDDDD;
}

.row_off
{
	background-color: #D3DCE3;
}

.th_text
{
	color: #000000;
}

.calendar:today
{
	background-color: #FFFFCC;
}

.calendar:dayview
{
	background-color: #C0C0C0;
}

.email:folder
{
	background-color: #666699;
	color: #FFFFFF;
}
