body
{
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	background-color: #FFFFFF;
}

table
{
	border-width: 0;
}

td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:link
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: blue;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:visited
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: blue;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:active
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: red;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:hover
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: red;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.navbar
{
	background-color: #000099;
}

.navbar:spezial_logo
{
	background-image: url(logo_000099.gif);	
}

.row_on
{
	background-color: #DDDDDD;
}

.row_off
{
	background-color: #EEEEEE;
}

.th
{
	background-color: #D3DCE3;
}

.th_bright
{
	background-color: #DDDDDD;
}

.th_text
{
	font-style: bold;
	font-weight: bold;
	color: #000000;
}

.appheader
{
	font-style: bold;
	font-weight: bold;
	background-color: #DDDDDD;
}

.functionmsg
{
	font-style: bold;
	font-weight: bold;
}

.forms
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.calendar:today
{
	background-color: #FFFFCC;
}

.calendar:dayview
{
	background-color: #C0C0C0;
}

.email:folder
{
	background-color: #666699;
	color: #FFFFFF;
}
