body
{
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	background-color: #dfdfdf;
}

table
{
	border-width: 0;
	color: #222222;
}

td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:link
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #0000ff;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:visited
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #5555ff;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:active
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: black;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:hover
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: black;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.navbar
{
	background-color: #aaaaaa;
	color: #000000;
}

.navbar:spezial_logo
{
	background-image: url(logo_003300.gif);	
}

.row_on
{
	background-color: #eeeeee;
}

.row_off
{
	background-color: #cccccc;
}

.th
{
	background-color: #aaaaaa;
}

.th_bright
{
	background-color: #eeeeee;
}

.th_text
{
	font-style: bold;
	font-weight: bold;
	color: #000000;
}

.appheader
{
	font-style: bold;
	font-weight: bold;
	background-color: #eeeeee;
}

.functionmsg
{
	font-style: bold;
	font-weight: bold;
}

.forms
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.cal_today
{
	background-color: #FBF1C5;
}

.cal_dayview
{
	background-color: #F9E99F;
}

.email_folder
{
	background-color: #EAD688;
	color: #000000;
}

.bg01
{
	background-color: #eeeeee;
}

.bg02
{
	background-color: #cccccc;
}

.bg03
{
	background-color: #bbbbbb;
}

.bg04
{
	background-color: #aaaaaa;
}

.bg05
{
	background-color: #999999;
}

.bg06
{
	background-color: #888888;
}

.bg07
{
	background-color: #777777;

}
.bg08
{
	background-color: #666666;
}

.bg09
{
	background-color: #555555;
}

.bg10
{
	background-color: #444444;
}
