body,p,td,th,table,input,form,option
{
	color: #000000;
}

body
{
	background-color: #dfdfdf;
}

table
{
	color: #222222;
}

a:link
{
	color: #0000ff;
}

a:visited
{
	color: #5555ff;
}

a:active,a:hover
{
	color: black;
}

.navbar,.th
{
	background-color: #aaaaaa;
	color: #000000;
}

.navbar:spezial_logo
{
	background-image: url(logo_003300.gif);	
}

.login,.portal,.about
{
	background-color: #aaaaaa;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright,.app_header
{
	background-color: #eeeeee;
}

.row_off
{
	background-color: #cccccc;
}

.cal_today
{
	background-color: #FBF1C5;
}

.cal_dayview
{
	background-color: #F9E99F;
}

.email_folder
{
	background-color: #EAD688;
	color: #000000;
}

.bg01
{
	background-color: #eeeeee;
}

.bg02
{
	background-color: #cccccc;
}

.bg03
{
	background-color: #bbbbbb;
}

.bg04
{
	background-color: #aaaaaa;
}

.bg05
{
	background-color: #999999;
}

.bg06
{
	background-color: #888888;
}

.bg07
{
	background-color: #777777;

}
.bg08
{
	background-color: #666666;
}

.bg09
{
	background-color: #555555;
}

.bg10
{
	background-color: #444444;
}
