body,p,td,th,table,input,form,option
{
	color: #000000;
}

body
{
	background-color: #80BBFF;
}

a:link,a:visited
{
	color: blue;
}

a:active,a:hover
{
	color: red;
}

.navbar,.th,.bottom
{
	background-color: #7090FF;
}

.navbar:spezial_logo
{
	background-image: url(logo_003300.gif);	
}

.login,.portal,.about
{
	background-color: #7090FF;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright
{
	background-color: #D3DCE3;
}

.row_off
{
	background-color: #EEEEEE;
}

.cal_today
{
	background-color: #FFFFCC;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email:folder
{
	background-color: #7090FF;
	color: #FFFFFF;
}
