body,p,td,th,table,input,form,option
{
	color: #000000;
}

body
{
	background-color: #FFFFFF;
}

a:link,a:visited,a:active
{
	color: maroon;
}

a:hover
{
	color: red;
}

.navbar
{
	background-color: #967FF4;
}

.navbar:spezial_logo
{
	background-image: url(logo_967FF4.gif);	
}

.login,.portal,.about
{
	background-color: #967FF4;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright
{
	background-color: #CCCCFF;
}

.row_off
{
	background-color: #E4DFFF;
}

.th,.bottom
{
	background-color: #9999FF;
}

.cal_today
{
	background-color: #FFFFCC;
}

.email_folder
{
	background-color: #666699;
	color: #FFFFFF;
}
