body,p,td,th,table,input,form,option
{
	color: #FFFFFF;
}

body
{
	background-color: #000000;
}

a:link,a:visited,a:active
{
	color: #0000FF;
}

a:hover
{
	color: #00FF33;
}

.navbar
{
	background-color: #00FF33;
	color: #FFFFFF;
}

.navbar:spezial_logo
{
	background-image: url(logo_885522.gif);	
}

.login,.portal,.about
{
	background-color: #00FF33;
	border-color: #909090;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright
{
	background-color: #909090;
}

.row_off
{
	background-color: #808080;
}

.th,.bottom
{
	background-color: #404040;
	color: #00FF33;
}

.th_text
{
	color: #00FF33;
}

.cal_today
{
	background-color: #BFBFBF;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #808080;
	color: #000000;
}

.bg01
{
	background-color: #dadada;
}

.bg02
{
	background-color: #dad0d0;
}

.bg03
{
	background-color: #dacaca;
}

.bg04
{
	background-color: #dac0c0;
}

.bg05
{
	background-color: #dababa;
}

.bg06
{
	background-color: #dab0b0;
}

.bg07
{
	background-color: #daaaaa;

}
.bg08
{
	background-color: #da9090;
}

.bg09
{
	background-color: #da8a8a;
}

.bg10
{
	background-color: #da7a7a;
}

