body
{
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	background-color: #000000;
}

table
{
	border-width: 0;
}

td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:link
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #0000FF;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:visited
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #0000FF;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:active
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #0000FF;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:hover
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #00FF33;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.navbar
{
	background-color: #00FF33;
	color: #FFFFFF;
}

.navbar:spezial_logo
{
	background-image: url(logo_885522.gif);	
}

.row_on
{
	background-color: #909090;
}

.row_off
{
	background-color: #808080;
}

.th
{
	background-color: #404040;
	color: #00FF33;
}

.th_bright
{
	background-color: #909090;
}

.th_text
{
	font-style: bold;
	font-weight: bold;
	color: #00FF33;
}

.appheader
{
	font-style: bold;
	font-weight: bold;
	background-color: #909090;
}

.functionmsg
{
	font-style: bold;
	font-weight: bold;
}

.forms
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #00FF33;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.cal_today
{
	background-color: #BFBFBF;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #808080;
	color: #000000;
}

.bg01
{
	background-color: #dadada;
}

.bg02
{
	background-color: #dad0d0;
}

.bg03
{
	background-color: #dacaca;
}

.bg04
{
	background-color: #dac0c0;
}

.bg05
{
	background-color: #dababa;
}

.bg06
{
	background-color: #dab0b0;
}

.bg07
{
	background-color: #daaaaa;

}
.bg08
{
	background-color: #da9090;
}

.bg09
{
	background-color: #da8a8a;
}

.bg10
{
	background-color: #da7a7a;
}

