body,p,td,th,table,input,form,option
{
	color: #000000;
}

body
{
	background-color: #E4DFFF;
}

a:link,a:visited,a:active
{
	color: maroon;
}

a:hover
{
	color: red;
}

.navbar,.th,.bottom
{
	background-color: #663366;
}

.navbar:spezial_logo
{
	background-image: url(logo_663366.gif);	
}

.login,.portal,.about
{
	background-color: #663366;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright
{
	background-color: #9999FF;
}

.row_off
{
	background-color: #EEEEEE;
}

.cal_today
{
	background-color: #FFFFCC;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email:folder
{
	background-color: #666699;
	color: #FFFFFF;
}
