body,p,td,th,table,input,form,option
{
	color: #9d1811;
}

body
{
	background-color: #ce9592;
}

a:link,a:visited,a:active
{
	color: #666666;
}

a:hover
{
	color: red;
}

.navbar,.th
{
	background-color: #bd524a;
	color: #000000;
}

.navbar:spezial_logo
{
	background-image: url(logo_990000.gif);	
}

.login,.portal,.about
{
	background-color: #bd524a;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright,.app_header
{
	background-color: #DDDDDD;
}

.row_off
{
	background-color: #ffbab7;
}

.cal_today
{
	background-color: #bd524a;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #bd542a;
	color: #9d1811;
}
