body
{
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	background-color: #ce9592;
}

table
{
	border-width: 0;
}

td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	color: #9d1811;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:link
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:visited
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:active
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:hover
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: red;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.navbar
{
	background-color: #bd524a;
	color: #000000;
}

.navbar:spezial_logo
{
	background-image: url(logo_990000.gif);	
}

.row_on
{
	background-color: #DDDDDD;
}

.row_off
{
	background-color: #ffbab7;
}

.th
{
	color: #9d1811;
	background-color: #bd524a;
}

.th_bright
{
	background-color: #DDDDDD;
}

.th_text
{
	font-style: bold;
	font-weight: bold;
	color: #000000;
}

.appheader
{
	font-style: bold;
	font-weight: bold;
	background-color: #DDDDDD;
}

.functionmsg
{
	font-style: bold;
	font-weight: bold;
}

.forms
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.cal_today
{
	background-color: #bd524a;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #bd542a;
	color: #9d1811;
}
