body
{
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	background-color: #FFFFFF;
}

table
{
	border-width: 0;
}

td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:link
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: mediumblue;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:visited
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: mediumblue;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:active
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: mediumblue;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:hover
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #cc0000;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.navbar
{
	background-color: #80BBFF;
}

.portal
{
	background-color: #80BBFF;
	border-width: 1px;
	border-color: #000000;
	border-style: ridge;
}

.portal_text
{
	color: #FFFFFF;
}

.bodytext
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
}

.whitetext
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #ffffff;
}

.headertext
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #ffffff;
}

.inputtext
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
	background-color: #ffffff;
}

.buttontext
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
	background-color: #c0c0c0;
}

.linktext
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10pt;
    color: #000000;
    background-color: #c0c0c0;
}

.row_on
{
	background-color: #CCEEFF;
}

.row_off
{
	background-color: #DDF0FF;
}

.th
{
	background-color: #80BBFF;
}

.th_bright
{
	background-color: #CCEEFF;
}

.th_text
{
	font-style: bold;
	font-weight: bold;
	color: #000000;
}

.appheader
{
	font-style: bold;
	font-weight: bold;
	background-color: #CCEEFF;
}

.functionmsg
{
	font-style: bold;
	font-weight: bold;
}

.forms
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.cal_today
{
	background-color: #FFFFCC;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #7090FF;
	color: #FFFFFF;
}
