body,p,td,th,table,input,form,option
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

body
{
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	background-color: #FFFFFF;
}

table
{
	border-width: 0;
}

a:link,a:visited,a:active
{
	color: mediumblue;
	text-decoration: none;
}

a:hover
{
	color: #cc0000;
	text-decoration: none;
}

.navbar,.th
{
	background-color: #80BBFF;
}

.portal
{
	background-color: #80BBFF;
	border-width: 1px;
	border-color: #000000;
	border-style: ridge;
	width: 100%;
}

.portal_text
{
	color: #FFFFFF;
	font-weight: bold;
	background: url(../images/bg_filler.png);
}

.bodytext
{
	color: #000000;
}

.whitetext
{
	color: #FFFFFF;
}

.small_text
{
	font-size: 80%;
}

.headertext
{
	font-size: 110%;
	font-weight: bold;
	color: #FFFFFF;
}

.inputtext
{
	background-color: #FFFFFF;
}

.buttontext,.link_text,.cal_dayview
{
	background-color: #C0C0C0;
}

.row_on,.th_bright
{
	background-color: #CCEEFF;
}

.row_off
{
	background-color: #DDF0FF;
}

.th_text.app_header_text
{
	font-weight: bold;
}

.app_header
{
	font-weight: bold;
	background-color: #CCEEFF;
}

.cal_today
{
	background-color: #FFFFCC;
}

.email_folder
{
	background-color: #7090FF;
	color: #FFFFFF;
}
