body,p,td,th,table,input,form,option
{
	color: #000000;
}

body
{
	background-color: #FFFFFF;
}

a:link,a:visited,a:active
{
	color: mediumblue;
}

a:hover
{
	color: #cc0000;
}

.navbar,.th
{
	background-color: #80BBFF;
}

.login,.portal
{
	background-color: #80BBFF;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.bodytext
{
	color: #000000;
}

.whitetext
{
	color: #FFFFFF;
}

.headertext
{
	color: #FFFFFF;
}

.inputtext
{
	background-color: #FFFFFF;
}

.buttontext,.link_text,.cal_dayview
{
	background-color: #C0C0C0;
}

.row_on,.th_bright
{
	background-color: #CCEEFF;
}

.row_off
{
	background-color: #DDF0FF;
}

.app_header
{
	background-color: #CCEEFF;
}

.cal_today
{
	background-color: #FFFFCC;
}

.email_folder
{
	background-color: #7090FF;
	color: #FFFFFF;
}
