body
{
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	background-color: #FBF1C5;
}

table
{
	border-width: 0;
}

td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:link
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: maroon;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:visited
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: maroon;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:active
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: maroon;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:hover
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #C5AA2B;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.navbar
{
	background-color: #F7E58F;
}

.row_on
{
	background-color: #F7E58F;
}

.row_off
{
	background-color: #EAD688;
}

.th
{
	background-color: #C8A63B;
}

.th_bright
{
	background-color: #F7E58F;
}

.th_text
{
	font-style: bold;
	font-weight: bold;
	color: #000000;
}

.appheader
{
	font-style: bold;
	font-weight: bold;
	background-color: #F7E58F;
}

.functionmsg
{
	font-style: bold;
	font-weight: bold;
}

.forms
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.cal_today
{
	background-color: #FBF1C5;
}

.cal_dayview
{
	background-color: #F9E99F;
}

.email_folder
{
	background-color: #EAD688;
	color: #000000;
}

.bg01
{
	background-color: #FBF4D3;
}

.bg02
{
	background-color: #F9EDB3;
}

.bg03
{
	background-color: #F5E28B;
}

.bg04
{
	background-color: #F0D866;
}

.bg05
{
	background-color: #EDCD39;
}

.bg06
{
	background-color: #D5B211;
}

.bg07
{
	background-color: #CCAB12;

}
.bg08
{
	background-color: #C58C13;
}

.bg09
{
	background-color: #B69910;
}

.bg10
{
	background-color: #AC9010;
}
