body
{
	font-family: Verdana,Arial,Helvetica,sans-serif; 
	font-size: 10pt; 
	font-style: normal; 
	color: #000000;
	line-height: normal; 
	font-weight: normal; 
	letter-spacing: 0em; 
	word-spacing: 0em; 
	background-color: #FBF1C5;
}

table
{   
	background-color: #EAD688;
	border: 0px; 
	font-family: Verdana,Arial,Helvetica,sans-serif; 
	font-size: 10pt;
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	color: #C5AA2B; 
	text-decoration: none;
	letter-spacing: 0em; 
	word-spacing: 0em; 
	padding: 2em;
}

th
{	
	background-color: #C8A63B;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

td.row-on
{
	background-color: #F7E58F;
}

td.row-off
{
	background-color: #EAD688;
}


a:link
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: blue;
	font-style: bold;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:visited
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: blue;
	font-style: bold;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:active
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: red;
	font-style: bold;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

a:hover
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: red;
	font-style: bold;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

.navbar
{
	background-color: #F7E58F;
	color: #000000;
}

.calendar:today
{
	background-color: #FBF1C5;
}

.calendar:dayview
{
	background-color: #F9E99F;
}

.email:folder
{
	background-color: #EAD688;
	color: #000000;
}

.bg01
{
	background-color: #FBF4D3;
}

.bg02
{
	background-color: #F9EDB3;
}

.bg03
{
	background-color: #F5E28B;
}

.bg04
{
	background-color: #F0D866;
}

.bg05
{
	background-color: #EDCD39;
}

.bg06
{
	background-color: #D5B211;
}

.bg07
{
	background-color: #CCAB12;

}
.bg08
{
	background-color: #C58C13;
}

.bg09
{
	background-color: #B69910;
}

.bg10
{
	background-color: #AC9010;
}
