body,p,td,th,table,input,form,option
{
	color: #000000;
}

body
{
	background-color: #FBF1C5;
}

a:link,a:visited,a:active
{
	color: maroon;
}

a:hover
{
	color: #C5AA2B;
}

.navbar,.th,.bottom
{
	background-color: #F7E58F;
}

.login,.portal,.about
{
	background-color: #F7E58F;
	border-color: #000000;
}

.portal_text
{
	color: #FFFFFF;
}

.row_on,.th_bright
{
	background-color: #C8A63B;
}

.row_off
{
	background-color: #EAD688;
}

.cal_today
{
	background-color: #FBF1C5;
}

.cal_dayview
{
	background-color: #F9E99F;
}

.email_folder
{
	background-color: #EAD688;
}

.bg01
{
	background-color: #FBF4D3;
}

.bg02
{
	background-color: #F9EDB3;
}

.bg03
{
	background-color: #F5E28B;
}

.bg04
{
	background-color: #F0D866;
}

.bg05
{
	background-color: #EDCD39;
}

.bg06
{
	background-color: #D5B211;
}

.bg07
{
	background-color: #CCAB12;

}
.bg08
{
	background-color: #C58C13;
}

.bg09
{
	background-color: #B69910;
}

.bg10
{
	background-color: #AC9010;
}
