textarea
{
	font-family: monospace, sans-serif;
	font-size: 110%;
}

.defaultProfile { color:#000000; font-weight:bold !important; }


.quoted1 { color:#660066; }
.quoted2 { color:#007777; }
.quoted3 { color:#990000; }
.quoted4 { color:#000099; }
.quoted5 { color:#bb6600; }

tr.mail div {
	cursor: default;
	white-space: nowrap;
}

tr.mail a {
	cursor: pointer;
	white-space: nowrap;
}

tr.recent div,
tr.recent span,
tr.recent time,
tr.recent a,
tr.unseen div,
tr.unseen span,
tr.unseen time,
tr.unseen a {
	color: #003075;
	font-weight: bold;
}

tr.labelone div,
tr.labelone span,
tr.labelone time,
tr.labelone a {
	color: #ff0080 !important;
}
tr.labeltwo div,
tr.labeltwo span,
tr.labeltwo time,
tr.labeltwo a {
	color: #ff8000 !important;
}
tr.labelthree div,
tr.labelthree span,
tr.labelthree time,
tr.labelthree a {
	color: #008000 !important;
}
tr.labelfour div,
tr.labelfour span,
tr.labelfour time,
tr.labelfour a {
	color: #0000ff !important;
}
tr.labelfive div,
tr.labelfive span,
tr.labelfive time,
tr.labelfive a {
	color: #8000ff !important;
}

tr.flagged div,
tr.flagged span,
tr.flagged time,
tr.flagged a {
	color: #ff0000 !important;
}

tr.prio_high div,
tr.prio_high span,
tr.prio_high time,
tr.prio_high a {
	color: #ac0000 !important;
}

tr.deleted div,
tr.deleted span,
tr.deleted time,
tr.deleted a {
	color: silver;
	text-decoration : line-through;
}

span.status_img {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
	background-image: url(images/kmmsgread.png);
}

tr.deleted span.status_img {
	background-image: url(images/kmmsgdel.png);
}

tr.unseen span.status_img {
	background-image: url(images/kmmsgunseen.png);
}

tr.flagged_seen span.status_img {
	background-image: url(images/read_flagged_small.png) !important;
}

tr.flagged_unseen span.status_img {
	background-image: url(images/unread_flagged_small.png) !important;
}

tr.recent span.status_img {
	background-image: url(images/kmmsgnew.png) !important;
}

tr.replied span.status_img {
	background-image: url(images/kmmsgreplied.png) !important;
}

tr.forwarded span.status_img {
	background-image: url(images/kmmsgforwarded.png) !important;
}

.subjectBold
{
	FONT-SIZE: 12px;
	font-weight : bold;
	font-family : Arial;
}

.subject
{
	FONT-SIZE: 12px;
	font-family : Arial;
}

TR.sieveRowActive
{
	FONT-SIZE: 11px;
	height : 20px;
	padding: 0;
	background : White;
}

A.sieveRowActive
{
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
}

TR.sieveRowInActive
{
	FONT-SIZE: 11px;
	height : 20px;
	padding: 0;
	background : White;
	color: Silver;
}

A.sieveRowInActive
{
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
	color: Silver;
}

.bodyDIV {
	position:absolute;
	background-color:white;
	top:134px;
	bottom:0px;
	width:100%;
	border-top: 1px solid #efefdf;
}

.bodyDIVAttachment {
	bottom:80px;
}

#attachmentSpanAllDIV{
	background-color:#efefdf;
	height:260px;
	overflow:auto;
}

#attachmentDIV {
	position:fixed;
	background-color:#efefdf;
	bottom:0px;
	min-height:80px;
	max-height:239px;
	width:100%;
	border-top: 1px solid silver;
	overflow:auto;
}

#popupattachmentDIV {
	position:top;
	background-color:#efefdf;
	bottom:0px;
	min-height:80px;
	max-height:239px;
	width:100%;
	border-top: 1px solid silver;
	overflow:auto;
}

pre {
 white-space: pre-wrap; /* Mozilla, since 1999 */
 white-space: -pre-wrap; /* Opera 4-6 */
 white-space: -o-pre-wrap; /* Opera 7 */
 width: 99%;
}

/*
 avoid the vertical scrollbar within the sidebox section (triggered by the vertical dimension of the tree)
*/
.divSidebox {
	overflow: hidden;
}
.textSidebox {
	overflow-x: hidden;
	overflow-y: auto;
}
/*
 avoid the vertical scrollbar within the actual tablecontainer (of the tree)
*/
.containerTableStyle {
	width: 100%;
	overflow: hidden;
}
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree div {
	width: 100%;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}
.dtree table, .dtree tr, .dtree td {
	border: none;
}
.dtree table {
	overflow: hidden;
	width: 100%;
	display: table-row;
}
.dtree tbody, .dtree tr, .dtree td, .dtree span {
	width: 100%;
	overflow: hidden;
}
.useEllipsis {
	text-overflow: ellipsis;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	word-wrap: break-word;
	float: left;
	&:after{
		content: " ...";
	}
}
#mail-index {
	position: relative
}
.mail-index_quotabox {
	position: absolute;
	top:8px;
	right:74px;
	width:200px !important;
	z-index:99;
}
.mail-index_vacation {
	position: absolute;
	top:3px;
	right:190px;
	width:250px !important;
	z-index:99;
}
.mail-index_vacation > div {
	text-align: center;
}
.mail-index_vacation > div > span {
	color: red;
}
.mail_DisplayNone {
	display: none !important;
}
.mail-index_quotaDisplayNone {
	display: none !important;
}
.mail-index_QuotaGreen, .mail-index_QuotaYellow, .mail-index_QuotaRed {
	height:12px !important;
	width:100px !important;
}
.mail-index_QuotaGreen > div {
	background-color: green !important;
	height:11px !important;
}
.mail-index_QuotaYellow > div {
	background-color: yellow !important;
	height:11px !important;
}
.mail-index_QuotaRed > div {
	background-color: red !important;
	height:11px !important;
}
/*
 influence the tree display and scrolling behavior
*/
#mail-tree_target {
	min-height: 35px;
	max-height: 450px;
	display: block;
	display: -moz-inline-stack;
	display: -moz-box;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
	z-index:100;
}
/*
 we need the the image displayed with our buttons on the left side
*/
input[type=button] {
	background-position: left;
}

#mail-index_messageIFRAME {
	width: 100%;
	height: 100%;
	border: 0;
}
/*********************************
 ************  mailCompose  ******
 *********************************/
#mail-compose_selectFromVFSForCompose{
	width:20px;
	float:none;
	background-color: transparent;
	background-size: 18px;
	padding: 0;
	background-position: center;
	border:none;
}
#mail-index_button\[mailcreate\] {
	width: 99%;
	text-align: left;
	font-weight: bold;
	padding-left: 25px;
	background-image: url(images/write_mail.png) !important;
	background-position: left;
	background-repeat: no-repeat;
}
.mail-compose_toolbar{
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	background-color: #c0d2ec;
	background-image: url(../../../phpgwapi/templates/default/images/egw_action/header_overlay.png);
	background-position: center;
	background-repeat: repeat-x;
}
.mail-compose_toolbar > span {
	padding: 10px;
	white-space: nowrap;
}
.mail-compose_toolbar > span.priority {
	border-right: none;
}
.compose_egw_icons {
	height: 24px;
	width: 24px;
	vertical-align: middle;
}
div.mail-compose_fileselector {
	width:auto;
	margin-top: 3px;
}
.mail-compose_fileselector span.et2_file_span {
	background-repeat: no-repeat;
	background-image: url(images/attach.png);
	background-size: inherit;
	background-position: left;
}
.mail-compose_fileselector div.progress {
	display: none;
}
#mail-compose_button\[send\] {
	text-align: left;
	font-weight: bold;
	padding-left: 30px;
	width: 80px;
	background-image: url(images/mail_send.png) !important;
	background-position: left;
	background-repeat: no-repeat;
}
.mailDisplay{
	position: relative;
	background-color: white;
	width: 100%;
}
#mail-index_mailPreview {
	overflow: hidden;
	position: relative;
	background-color: white;
}
.maildisplayAllAdresses {
	max-height: 245px !important;
	overflow:scroll;
	overflow-x:hidden;
}
#mail-compose_toolbar {
	padding: 0px !important;
}
#mail-compose_toolbar > button {
	padding: .2em .4em;
}
#mail-compose_toolbar > img {
	width: 16px;
	padding: 0px;
	height: 16px !important;
}
#mail-compose_toolbar > button > span > img {
	width: 16px;
	padding: 0px;
	height: 16px !important;
}
#mail-compose_toolbar > button {
	padding: .2em .4em;
}
#mail-display_toolbar > button > span {
	padding: .2em .4em;
}
#mail-display_toolbar > button > span > img {
	width: 16px;
	padding: 0px;
	height: 16px !important;
}
#mail-display_toolbar .et2_button_icon {
	width: 16px;
	height: 16px;
}
.mailPreviewIcons {
	position: absolute;
	right: 0;
	top: 0;
}
#mail-index_toolbar {
	padding: 0px;
}
#mail-index_toolbar > button > span {
	padding: .2em .4em;
}
#mail-index_toolbar > button > span > img {
	width: 16px;
	padding: 0px;
	height: 16px !important;
}
#mail-index_mailPreviewContainer {
	position: absolute;
	border: 1px solid silver;
	top: 9em;
	bottom: 0;
	left: 3px;
	right: 0;
}
#mail-index_previewAttachmentArea {
	background-color:#efefdf;
	max-height: 1.6em;
	max-width: 50%;
	overflow:scroll;
	overflow-x:hidden;
	border: 1px solid red;
	opacity: 1;
	-moz-opacity:1;
	filter: Alpha(opacity=100);
	display: inline-block !important;
	vertical-align: text-top;
}
#mail-index_previewAttachmentArea.noContent {
	border:0px !important;
	display: none !important;
}

.mailDisplayContainer, .mailDisplayAttachments {
	display: block;
	display: -moz-inline-stack;
	display: -moz-box;
	/*width: 99%;*/
	overflow: hidden;
	overflow-y: auto;
	left: 8px;
	right: 8px;
}
.mailDisplayContainer {
	position: fixed;
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid silver;
	top: 120px;
}
.mailDisplayContainerFixedHeight {
	bottom: 123px;
}
.mailDisplayContainerFullHeight {
	bottom: .1em;
}
.mailDisplayBody {
	height:100%;
	width:100%;
	background-color:white;
	padding:0px;
	margin:0px;
}
.mailDisplayAttachments {
	background-color:#efefdf;
	height: 121px;
	position: fixed;
	bottom: .1em;
	border: 1px solid red;
	opacity: 1;
	-moz-opacity:1;
	filter: Alpha(opacity=100);
}
#divGenTime_mail {
	display: none;
}
div.mail-display > div:first-parent > div.first-parent
{
	height: 99%;
}
.mailDisplayHeaders {
	overflow: hidden;
	right: 8px;
}
.mailDisplayHeaderSection {
	position: absolute;
	top: 12px;

}
div.mailDisplayHeaders > div:first-parent {
	overflow: hidden;
}
div.mailDisplayHeaders > span:first-child,  div.mailPreviewHeaders > span:first-child {
	width: 7em;
	display: inline-block;
}
#mail-display_toolbar {
	display: inline-flex;
}
#mail-compose_mailaccount{
	width: 80%;
}
div.mailComposeHeaders > span:first-child {
	width: 8em;
}
div.mailDisplayHeaders > span:first-child, div.mailComposeHeaders > span:first-child, div.mailComposeBody, div.mailPreviewHeaders > * {
	margin-left: 3px;
}
div.mailDisplayHeaders div.mail_extraEmails
{
	display: inline-block;
	max-height: 1.3em;
	max-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.mailDisplayHeaders div.mail_extraEmails.visible
{
	position: fixed;
	left: 7em;
	display: block;
	max-height: 8em;
	min-width: 30em;
	z-index: 999;
	overflow-y: auto;
	background-color: white;
}
div.mailComposeBody {
	white-space: normal !important;
}
#mail-compose_mail_plaintext {
	white-space: pre !important;
}
div.mailPreviewHeaders div.mail_extraEmails {
	display: inline-block;
	max-height: 1.3em;
	max-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
}
div#mail-index div#mail-index_mailPreview div#mail-index_mailPreviewHeadersSubject {
  width: 58%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
div#mail-index div#mail-index_mailPreview div#mail-index_mailPreviewHeadersSubject > span {
  white-space: nowrap;
}
div.mailPreviewHeaders div.mail_extraEmails.visible,
div.mailPreviewHeaders #mail-index_previewAttachmentArea.visible {
	position: absolute;
	left: 7em;
	display: block;
	max-height: 8em;
	min-width: 30em;
	z-index: 1;
	overflow-y: auto;
	background-color: white;
}
.mail_extraEmails > a {
	display:inline;
	margin: 5px 5px 0 0;
}
.mail_extraEmails.visible > a {
	display: list-item;
}

/**
 * Lock div for tree to prevent further clicks
 */
#mail-index_nm\[foldertree\] {
	position: relative;
}
#mail_folder_lock_div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	// only change styling below:
	background-image: url(../../../phpgwapi/templates/default/images/ajax-loader.gif);
	background-position: left top;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.5);
}

.mail_subscription_header
{
  font-weight: bold;
  font-size: 150%;
  padding-bottom: 20px;
}

#mail-subscribe table.et2_grid tr td {
  padding: 0px;
}
#mail-subscribe table.et2_grid tr td div.et2_box {
  height: 500px;
  overflow: auto;
}

/* MAIL PRINT */
@media print {
	.mailDisplayHeaders {
		border-bottom: 0.1em solid #d7d7d7;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	#mail-display_mailDisplayBodySrc {
		display: none;
	}
	.tmpPrintDiv {
		margin-top: 10px;
		margin-bottom: 30px;
		display: block;
		overflow: visible;
		height: auto;
	}
	.mailDisplayContainer {
		border: none;
		overflow: visible !important;
		position: static !important;
	}
	.mailDisplayAttachments{
		border: none;
		overflow: visible !important;
		position: inherit !important;
	}
	.et2_button {
		display: none;
	}
}
