*.old
*.old.xet
*.old.lang
/api/js/etemplate/etemplate2.min.js
/api/js/etemplate/etemplate2.min.js.map
/api/js/jsapi.min.js
/api/js/jsapi.min.js.map
/calendar/js/app.min.js
/calendar/js/app.min.js.map
/mail/js/app.min.js
/mail/js/app.min.js.map
/notifications/js/*.min.js
/notifications/js/*.min.js.map
/pixelegg/css/*.min.css
/pixelegg/css/*.min.css.map
/pixelegg/js/*.min.js
/pixelegg/js/*.min.js.map
/pixelegg/mobile/*.min.css
/pixelegg/mobile/*.min.css.map
/nbproject/private/Auf Branch master
/activesync/
/archive/
/authors.txt
/authors.xml
/bookmarks/
/courseprotocol/
/ecoman/
/esyncpro/
/etemplate/
/eventmgr/
/ewawi/
/eworkflow/
/collabora/
/groups/
/header.inc.php
/jdots/
/licenses/
/managementserver/
/nbproject/
/news_admin/
/node_modules/
/outdated/
/phpbrain/
/phpfreechat/
/phpgwapi/
/polls/
/projectmanager/
/ranking/
/records/
/registration/
/sambaadmin/
/sitemgr/
/stylite/
/tracker/
/usage/
/vendor/
/wiki/
/api/src/Accounts/Ads/
