/nbproject/private/Auf Branch 14.2
/phpgwapi/js/ckeditor/
/activesync/
/bookmarks/
/esyncpro/
/header.inc.php
/nbproject/
/news_admin/
/phpbrain/
/phpfreechat/
/projectmanager/
/ranking/
/registration/
/sambaadmin/
/sitemgr/
/stylite/
/tracker/
/vendor/
/wiki/
