*.old
*.old.xet
*.old.lang
*.old.inc.php
*.min.js
*.min.js.map
*.min.css
*.min.css.map
*.sql
*.diff
*.patch
*.log
/activesync/
/archive/
/authors.txt
/authors.xml
/bookmarks/
/courseprotocol/
/ecoman/
/esyncpro/
/etemplate/
/openid/
/ewawi/
/eworkflow/
/collabora/
/groups/
/header.inc.php
/jdots/
/licenses/
/managementserver/
/nbproject/
/news_admin/
/node_modules/
/outdated/
/phpbrain/
/phpfreechat/
/phpgwapi/
/polls/
/projectmanager/
/ranking/
/records/
/registration/
/sambaadmin/
/sitemgr/
/stylite/
/tracker/
/usage/
/vendor/
/wiki/
.idea/
addressbook/carddav/
calendar/caldav/
infolog/caldav/
cockroach-data/
messenger/
policy/
profitbricks/
rocketchat/
status/
