memory_limit = 32M
max_execution_time = 60
register_globals = Off
magic_quotes_gpc = Off
magic_quotes_runtime = Off
upload_max_filesize = 16M
session.use_trans_sid = Off
session.gc_probability = 1
session.gc_divisor = 10
mbstring.func_overload = 0
