<?php
  /**************************************************************************\
  * phpGroupWare                                                             *
  * http://www.phpgroupware.org                                              *
  * This file written by Dan Kuykendall <seek3r@phpgroupware.org>            *
  * --------------------------------------------                             *
  *  This program is free software; you can redistribute it and/or modify it *
  *  under the terms of the GNU General Public License as published by the   *
  *  Free Software Foundation; either version 2 of the License, or (at your  *
  *  option) any later version.                                              *
  \**************************************************************************/

  /* $Id$ */

  /**************************************************************************\
  * !!!!!!! EDIT THESE LINES !!!!!!!!                                        *
  * This setting allows you to easily move the include directory and the     *
  * base of the phpGroupWare install. Simple edit the following 2 lines with * 
  * the absolute path to fit your site, and you should be up and running.    *
  \**************************************************************************/

  $phpgw_info["server"]["server_root"] = "/path/to/phpgroupware";
  $phpgw_info["server"]["include_root"]	= "/path/to/phpgroupware/inc";
  /* This is the basic include needed on each page for phpGroupWare application compliance */
  $phpgw_info["flags"]["htmlcompliant"] = True;

  $phpgw_domain["default"] = array (
    "db_host" => "localhost", 
    "db_name" => "phpgw_domain1", 
    "db_user" => "phpgroupware", 
    "db_pass" => "their_password", 
  /* Look at the README file */
    "db_type" => "mysql",
  /* This will limit who is allowed to make configuration modifcations */
    "config_passwd" => "changeme"
  );

  /* This is used to control mcrypt's use */
  $phpgw_info["server"]["mcrypt_enabled"] = False;
  /* Set this to "old" for versions < 2.4, otherwise the exact mcrypt version you use. */
  $phpgw_info["server"]["mcrypt_version"] = "2.6.3";

  /* This is a random string used as the initilazation vector for mcrypt
     feel free to change it when setting up phpgroupware on a clean database,
     but you must not change it after that point!
     It should be around 30 bytes in length.
   */
  $phpgw_info["server"]["mcrypt_iv"] = "cwjasud83l;la-0d.e/lc;[-%kl)ls,lf0;sa-;921kx;90flwl,skfcujd,wsodsp";

  /* Uncomment this out and use this for supporting different domains using this single install */
  /* (ignore if you are only supporting a single domain)*/
/*
  $phpgw_domain["domain2.com"] = array (
    "db_host" => "localhost", 
    "db_name" => "phpgw_domain1", 
    "db_user" => "phpgroupware", 
    "db_pass" => "their_password", 
    "db_type" => "mysql",
    "config_passwd" => "changeme"
  );
*/
  /**************************************************************************\
  * Do not edit these lines                                                  *
  \**************************************************************************/
  include($phpgw_info["server"]["server_root"]."/version.inc.php");
  $phpgw_info["server"]["header_version"] = "1.4";
  if (!$phpgw_info["flags"]["noapi"] == True){
    include($phpgw_info["server"]["include_root"] . "/phpgwapi/phpgw.inc.php");
  }

  // Leave off the final php closing tag, some editors will add
  // a \n or space after which will mess up cookies later on
