/**
 * Styles for etemplate2 tests
 *
 * @version: $Id$
 */

/* Stuff for the standalone test webpage */

body, table, td {
	font-family: Lucida Grande, sans-serif;
	font-size: 10pt;
}

#linklist a {
	color: blue;
	display: block;
}

#linklist a:visited {
	color: blue;
}

#linklist a:hover {
	color: #5050FF;
}

#container {
	margin: 10px;
	border: 1px solid gray;
	padding: 10px;
}

.header {
	color: #111;
	margin: 30px 0 5px 0;
	border-bottom: 1px solid #111;
}

/**
 * VBox widget
 */
div.et2_vbox>* {
	display: block;
}

/**
 * HBox widget
 */

div.et2_hbox div.et2_hbox {
	display: inline;
}

div.et2_hbox>* {
	text-align: left;
}

div.et2_hbox_left {
	float: left;
}

div.et2_hbox_al_center {
	text-align: center;
}

div.et2_hbox_al_right {
	text-align: right;
}

div.et2_hbox_right {
	float: right;
	clear: right;
}

.et2_placeholder {
	display: inline-block;
	border: 1px solid cornflowerblue;
	background-color: #FCFCFC;
	padding: 3px;
	margin: 1px;
}

.et2_placeholder .et2_caption {
	display: block;
	font-size: 8pt;
	margin: 0 0 5px 0;
	font-weight: bold;
	color: #2E2E2E;
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}

.et2_placeholder .et2_attr {
	display: block;
	font-size: 8pt;
	color: #3030A0;
	margin: 2px 0 2px 0;
}

.et2_grid td {
	border: 1px dashed silver;
}

.et2_label {
	color: #101050;
	font-size: 10pt;
}

button.et2_button {
	background-color: #E0E0E0;
	background-image: url(gfx/gradient01.png);
	background-position: center;
	background-repeat: repeat-x;

	border: 1px solid silver;
	color: #101010;
	cursor: pointer;
	margin: 5px;
	padding: 3px;
	text-align: center;

	font-size: 9pt;

	text-shadow: 1px 1px #E0E0E0;
}

button.et2_button:hover {
	color: #050505;
	border: 1px solid gray;
	background-color: #D0D0EE;
}

button.et2_button:active {
	background-image: url(gfx/gradient02.png);
	background-color: #D0D0E0;
}

button.et2_button:focus {
	border: 1px solid #2c3d6f;
	color: #202d52;
	outline: none;
}

.et2_textbox {
	resize: none;
}

.et2_bold {
	font-weight: bold;
}

.et2_italic {
	font-style: italic;
}

.egw_tooltip
{
	position: fixed;
	border: 1px solid #897f51;
	padding: 3px;
	background-color: #FDF9DB;
	max-width: 300px;
	color: black;
}

/**
 * Tabs widget
 */

.et2_tabflag {
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
	cursor: pointer;
	border: 1px solid silver;

	background-color: #E0E0E0;
	background-image: url(gfx/gradient01.png);
	background-position: center;
	background-repeat: repeat-x;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.et2_tabflag:hover {
	color: #050505;
	border: 1px solid gray;
	background-color: #D0D0EE;
}

.et2_tabflag:active {
	background-image: url(gfx/gradient02.png);
	background-color: #D0D0E0;
}

.et2_tabs {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: silver;
	padding: 5px;
}

.et2_tabflag.active {
	border-bottom: 1px solid white;
	background-color: white;
	background-image: none;
}

.et2_tabheader {
	background-image: url(gfx/tab_header_bg.png);
	background-position: bottom;
	background-repeat: repeat-x;
}


/**
* Validation
*/
input[required] {
	background-color: #ffffd0;
}
input.invalid {
	border-style: dotted;
	border-color: red;
}
.error {
	-moz-border-radius: 0 4px 4px 0;
	-moz-box-shadow: 0 0 6px #DDDDDD;
	background-color: #FFFE36;
	border: 1px solid #E1E16D;
	color: #000000;
	display: none;
	font-size: 11px;
	height: 15px;
	padding: 4px 10px;
}
.error p {
	margin: 0;
}
