//Toolbar adjustments to make it more compact
@toolbar-group-padding-x: 8px;
@toolbar-button-width: 30px;
@toolbar-button-spacing-x: 0;
@toolbar-button-select-padding: 2px;
@toolbar-button-bespoke-label-max-width: 4em;
@toolbar-button-bespoke-spacing-x: 2px;

//(table) popup toolbar should fit horizontal to not overlap the table

.tox-silver-popup-sink .tox-pop{
	width: 21rem;
}