/*
								"DHX SKYBLUE" DHTMLXMENU SKIN 2009
*/
/****************************************************************************************************************************************************/
/*									TOPLEVEL								    */
.dhtmlxMenu_egw_Middle {
	position: relative;
	height: 20px;
	border: none;
	background-image: url("../imgs/dhxmenu_topbg.gif");
	background-position: top;
	background-repeat: repeat-x;
	-moz-user-select: none;
	padding: 0px 7px;
}
.dhtmlx_winviewport.dhtmlx_skin_egw div.dhtmlxMenu_egw_Middle,
.dhxlayout_fullscreened div.dhtmlxMenu_egw_Middle,
.dhx_tabbar_zone.dhx_tabbar_zone_egw div.dhtmlxMenu_egw_Middle,
.dhx_acc_base_egw div.dhtmlxMenu_egw_Middle,
.dhtmlx_skin_egw div.dhtmlx_window_active div.dhtmlxMenu_egw_Middle,
.dhtmlx_skin_egw div.dhtmlx_window_inactive div.dhtmlxMenu_egw_Middle,
table.dhtmlxLayoutPolyContainer_egw td.dhtmlxLayoutSinglePoly div.dhtmlxMenu_egw_Middle {
	height: 29px !important;
}

.dhtmlxMenu_egw_Middle.dir_left div.align_left {
	float: left;
}
.dhtmlxMenu_egw_Middle.dir_left div.align_right {
	float: right;
}


/* menu in window, layout, accordion have bottom margin 9px */
/*
.dhtmlx_skin_egw div.dhtmlx_wins_body_inner div.dhtmlxMenu_egw_Middle,
table.dhtmlxLayoutPolyContainer_egw td.dhtmlxLayoutSinglePoly div.dhtmlxMenu_egw_Middle {
	height: 27px !important;
}



.dhtmlxMenu_egw_Layout, .dhtmlxMenu_egw_Accordion {
	border-bottom: #cedce8 1px solid;
}

.dhtmlxMenu_egw_Middle.in_acccell, .dhtmlxMenu_egw_Middle.in_layoutcell {
	height: 27px;
	background-image: url("../imgs/dhxmenu_egw/dhxmenu_bg_acccell.gif");
	background-position: top;
	background-repeat: repeat-x;
}
*/

/****************************************************************************************************************************************************/
/*									TOPLEVEL ITEMS								    */
/* toplevel item normal */
div.dhtmlxMenu_egw_TopLevel_Item_Normal,
div.dhtmlxMenu_egw_TopLevel_Item_Disabled,
div.dhtmlxMenu_egw_TopLevel_Item_Selected {
	position: relative;
	float: left;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	margin: 0px 2px 100px 0px;
	padding: 0px 5px;
	color: #000000;
}
div.dhtmlxMenu_egw_TopLevel_Item_Normal {
	border-left: #ececec 1px solid !important;
	border-right: #ececec 1px solid !important;
	/*
	background-image:url("../imgs/dhxmenu_egw/dhxmenu_topsepbg.gif");
	background-position:right center;
	background-repeat:no-repeat;
	*/
}
/* toplevel item disabled */
div.dhtmlxMenu_egw_TopLevel_Item_Disabled {
	color: #999999 !important;
}
/* toplevel item selected (over) */
div.dhtmlxMenu_egw_TopLevel_Item_Selected {
	background-image: url("../imgs/dhxmenu_topselbg.gif");
	background-repeat: repeat-x;
	border-left: #ffffff 1px solid !important;
	border-right: #ffffff 1px solid !important;
}
/* toplevel separator */
.dhtmlxMenu_egw_Middle div.top_sep {
	font-size: 1px;
	cursor: default;
	-moz-user-select: none;
	background-image: url("../imgs/dhxmenu_topsepbg.gif");
	background-repeat: no-repeat;
	background-position: top center;
	height: 20px;
	position: relative;
	float: left;
	width: 3px;
	margin-left: 0px;
	margin-right: 2px;
}
/* top level image */
.dhtmlxMenu_egw_Middle img.dhtmlxMenu_TopLevel_Item_Icon {
	float: left;
	margin: 2px 2px 0px 2px;
	width: 16px;
	height: 16px;
}


/* top level text*/
div.dhtmlxMenu_egw_TopLevel_Item_Normal div.top_level_text,
div.dhtmlxMenu_egw_TopLevel_Item_Disabled div.top_level_text,
div.dhtmlxMenu_egw_TopLevel_Item_Selected div.top_level_text {
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}
/****************************************************************************************************************************************************/
/*									SUBLEVEL POLYGON							    */
div.dhtmlxMenu_egw_SubLevelArea_Polygon {
	position: absolute;
	background-color: #ececec;
	border: #aaaaaa 1px outset;
	overflow: hidden;
	padding-top: 1px;
	padding-bottom: 1px;
	box-shadow: 2px 3px 13px #666666;
	-moz-box-shadow: 2px 3px 13px #666666;
	-webkit-box-shadow: 2px 3px 13px #666666;
	-khtml-box-shadow: 2px 3px 13px #666666;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135,strength=3);
	-moz-user-select: none;

}
/* IE6 sublevel undercover fix */
iframe.dhtmlxMenu_IE6CoverFix_egw {
	position: absolute;
	border: none;
	background: #000000;
	filter: alpha(opacity=100);
}
/****************************************************************************************************************************************************/
/*									SUBLEVEL ITEMS								    */

div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl {
	
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item {
	height: 28px;
	cursor: default;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis {
	height: 28px;
	cursor: default;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected {
	height: 28px;
	cursor: default;
	background-image: url("../imgs/dhxmenu_subselbg.png");
	background-repeat: repeat-x;
	background-position: center;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon {
	width: 24px;
	text-align: left;
	-moz-user-select: none;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon img.sub_icon {
	width: 16px;
	height: 16px;
	margin: 6px 2px 2px 8px;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_text {
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_item_text {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	white-space: nowrap;
	text-align: left;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_item_text {
	color: #999999 !important;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk {
	padding-left: 8px;
	padding-right: 8px;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk div.sub_item_hk {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	color: #a4bed4;
	text-align: right;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected td.sub_item_hk div.sub_item_hk {
	color: #999999;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis td.sub_item_hk div.sub_item_hk {
	color: #cecece !important;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon tr.sub_sep {
	height: 3px;
	font-size: 1px;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon div.sub_sep {
	font-size: 1px;
	border-top: 2px #eeeeee groove;
	cursor: default;
	height: 2px;
}
/****************************************************************************************************************************************************/
/*									SUBLEVEL ARROWS								    */

div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.complex_arrow {
	width: 7px;
	height: 24px;
	background-image: url("../imgs/dhxmenu_subar.gif");
	background-repeat: no-repeat;
	background-position:  0px 0px;
	float: right;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected div.complex_arrow {
	background-position: -7px 0px !important;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.complex_arrow {
	background-position: -14px 0px !important;
}
/****************************************************************************************************************************************************/
/*									LOADING ICON								    */

div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.complex_arrow_loading {
	width: 7px;
	height: 24px;
	background-image: url("../imgs/dhxmenu_loader.gif");
	background-repeat: no-repeat;
	background-position:  center center;
	float: right;
}
/****************************************************************************************************************************************************/
/*									UP/DOWN OVERFLOW ARROWS							    */
div.dhtmlxMenu_egw_SubLevelArea_Arrow {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	overflow: hidden;
}
div.dhtmlxMenu_egw_SubLevelArea_Arrow div.dhtmlxMenu_SubLevelArea_Arrow_Icon {
	position: relative;
	margin-top: 6px;
	margin-left: auto;
	margin-right: auto;
	width: 29px;
	height: 8px;
	background-repeat: no-repeat;
	background-image: url("../imgs/dhxmenu_upar.gif");
}
/* up arrows */
div.dhtmlxMenu_egw_SubLevelArea_ArrowUp,
div.dhtmlxMenu_egw_SubLevelArea_ArrowUp_Over,
div.dhtmlxMenu_egw_SubLevelArea_ArrowUp_Disabled {
	position: absolute;
	height: 20px;
	font-size: 1px;
}
div.dhtmlxMenu_egw_SubLevelArea_ArrowUp div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -87px 0px; }
div.dhtmlxMenu_egw_SubLevelArea_ArrowUp_Over div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -116px 0px; }
div.dhtmlxMenu_egw_SubLevelArea_ArrowUp_Disabled div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -145px 0px; }
/* down arrows */
div.dhtmlxMenu_egw_SubLevelArea_ArrowDown,
div.dhtmlxMenu_egw_SubLevelArea_ArrowDown_Over,
div.dhtmlxMenu_egw_SubLevelArea_ArrowDown_Disabled {
	position: absolute;
	height: 20px;
	font-size: 1px;
}
div.dhtmlxMenu_egw_SubLevelArea_ArrowDown div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: 0px 0px; }
div.dhtmlxMenu_egw_SubLevelArea_ArrowDown_Over div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -29px 0px; }
div.dhtmlxMenu_egw_SubLevelArea_ArrowDown_Disabled div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -58px 0px; }
/****************************************************************************************************************************************************/
/*									TOPLEVEL TEXT								    */
.dhtmlxMenu_egw_Middle div.dhtmlxMenu_TopLevel_Text_right {
	position: absolute;
	top: 0px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	left: none;
	right: 8px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	color: #000000;
	cursor: default;
}
.dhtmlxMenu_egw_Middle div.dhtmlxMenu_TopLevel_Text_left {
	position: absolute;
	top: 0px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	right: none;
	left: 8px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
	color: #000000;
	cursor: default;
}
/****************************************************************************************************************************************************/
/*									ITEM'S CHECKS, RADIOS							    */
/* sublevel */
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon {
	float: left;
	margin: 2px 4px 2px 8px;
	width: 16px;
	height: 16px;
	background-position: top right;
	background-repeat: no-repeat;
	background-image: url("../imgs/dhxmenu_chrd.gif");
}
/* checkboxes */
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_0 {
	background-position: 0px 0px !important;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_1 {
	background-position: -18px 0px !important;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_0 {
	background-position: -36px 0px !important;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_1 {
	background-position: -54px 0px !important;
}
/* radios */
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_0 {
	background-position: -72px 0px !important;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_1 {
	background-position: -90px 0px !important;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_0 {
	background-position: -108px 0px !important;
}
div.dhtmlxMenu_egw_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_1 {
	background-position: -126px 0px !important;
}
