.dTabs_noTabs 
{
	background-color: #a3a3a3;
	width: '100%';
}

.dTabs_selected
{
	background-color: #e3e3e3;
	color: black;
	font-weight: bold;
	text-align: center;
	width: 2px;
	cursor: pointer;
}

.dTabs_unselected
{
	background-color: #c9c9c9;
	color: black;
	font-weight: 0;
	text-align: center;
	width: 2px;
	cursor: pointer;
	cursor: hand;
}

.dTabs_unselected:hover
{
	background-color: #c9c9c9;
	color: red;
	font-weight: 0;
	text-align: center;
	width: 2px;
	cursor: pointer;
	cursor: hand;
}

.dTabs_disabled
{
	background-color: #c9c9c9;
	color: #a3a3a3;
	font-weight: 0;
	text-align: center;
	width: 2px;
	cursor: hand;
	cursor: pointer;
}

.dTabs_tr_index
{
	border-spacing: 0px;
	padding: 5px;
}
