et2-select-country:not([open])::part(prefix), et2-select-country::part(flag) {
    position: relative;
    background-image: url(../images/flags.png);
    background-position: 0 100px; /* to NOT display a flag for every value not explict defined below */
    background-repeat: no-repeat;
    text-indent: 15px;
    height: 10px;
	min-width: 20px;
    margin-right: 10px;
}
/* No country selected*/
et2-select-country:not(.hasValue)::part(prefix), et2-select-country::part(emptyLabel) {
    background-image: url(../images/internet.svg);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    height: 20px;
}
/* First selector is for the current value, second for the option */
et2-select-country[value="BE"]::part(prefix), et2-select-country::part(country_BE_flag) {
	min-width: 18px
}

et2-select-country[value="CH"]::part(prefix), et2-select-country::part(country_CH_flag) {
	min-width: 15px
}

et2-select-country[value="MC"]::part(prefix), et2-select-country::part(country_MC_flag) {
	min-width: 19px
}

et2-select-country[value="NE"]::part(prefix), et2-select-country::part(country_NE_flag) {
	min-width: 18px
}

et2-select-country[value="NP"]::part(prefix), et2-select-country::part(country_NP_flag) {
	min-width: 13px
}

et2-select-country[value="VA"]::part(prefix), et2-select-country::part(country_VA_flag) {
	min-width: 15px
}

et2-select-country[value="AC"]::part(prefix), et2-select-country::part(country_AC_flag) {
    height: 10px;
    background-position: 0px 0px
}

et2-select-country[value="AD"]::part(prefix), et2-select-country::part(country_AD_flag) {
    height: 14px;
    background-position: -22px 0px
}

et2-select-country[value="AE"]::part(prefix), et2-select-country::part(country_AE_flag) {
    height: 10px;
    background-position: -44px 0px
}

et2-select-country[value="AF"]::part(prefix), et2-select-country::part(country_AF_flag) {
    height: 14px;
    background-position: -66px 0px
}

et2-select-country[value="AG"]::part(prefix), et2-select-country::part(country_AG_flag) {
    height: 14px;
    background-position: -88px 0px
}

et2-select-country[value="AI"]::part(prefix), et2-select-country::part(country_AI_flag) {
    height: 10px;
    background-position: -110px 0px
}

et2-select-country[value="AL"]::part(prefix), et2-select-country::part(country_AL_flag) {
    height: 15px;
    background-position: -132px 0px
}

et2-select-country[value="AM"]::part(prefix), et2-select-country::part(country_AM_flag) {
    height: 10px;
    background-position: -154px 0px
}

et2-select-country[value="AO"]::part(prefix), et2-select-country::part(country_AO_flag) {
    height: 14px;
    background-position: -176px 0px
}

et2-select-country[value="AQ"]::part(prefix), et2-select-country::part(country_AQ_flag) {
    height: 14px;
    background-position: -198px 0px
}

et2-select-country[value="AR"]::part(prefix), et2-select-country::part(country_AR_flag) {
    height: 13px;
    background-position: -220px 0px
}

et2-select-country[value="AS"]::part(prefix), et2-select-country::part(country_AS_flag) {
    height: 10px;
    background-position: -242px 0px
}

et2-select-country[value="AT"]::part(prefix), et2-select-country::part(country_AT_flag) {
    height: 14px;
    background-position: -264px 0px
}

et2-select-country[value="AU"]::part(prefix), et2-select-country::part(country_AU_flag) {
    height: 10px;
    background-position: -286px 0px
}

et2-select-country[value="AW"]::part(prefix), et2-select-country::part(country_AW_flag) {
    height: 14px;
    background-position: -308px 0px
}

et2-select-country[value="AX"]::part(prefix), et2-select-country::part(country_AX_flag) {
    height: 13px;
    background-position: -330px 0px
}

et2-select-country[value="AZ"]::part(prefix), et2-select-country::part(country_AZ_flag) {
    height: 10px;
    background-position: -352px 0px
}

et2-select-country[value="BA"]::part(prefix), et2-select-country::part(country_BA_flag) {
    height: 10px;
    background-position: -374px 0px
}

et2-select-country[value="BB"]::part(prefix), et2-select-country::part(country_BB_flag) {
    height: 14px;
    background-position: -396px 0px
}

et2-select-country[value="BD"]::part(prefix), et2-select-country::part(country_BD_flag) {
    height: 12px;
    background-position: -418px 0px
}

et2-select-country[value="BE"]::part(prefix), et2-select-country::part(country_BE_flag) {
    height: 15px;
    background-position: -440px 0px
}

et2-select-country[value="BF"]::part(prefix), et2-select-country::part(country_BF_flag) {
    height: 14px;
    background-position: -460px 0px
}

et2-select-country[value="BG"]::part(prefix), et2-select-country::part(country_BG_flag) {
    height: 12px;
    background-position: -482px 0px
}

et2-select-country[value="BH"]::part(prefix), et2-select-country::part(country_BH_flag) {
    height: 12px;
    background-position: -504px 0px
}

et2-select-country[value="BI"]::part(prefix), et2-select-country::part(country_BI_flag) {
    height: 12px;
    background-position: -526px 0px
}

et2-select-country[value="BJ"]::part(prefix), et2-select-country::part(country_BJ_flag) {
    height: 14px;
    background-position: -548px 0px
}

et2-select-country[value="BL"]::part(prefix), et2-select-country::part(country_BL_flag) {
    height: 14px;
    background-position: -570px 0px
}

et2-select-country[value="BM"]::part(prefix), et2-select-country::part(country_BM_flag) {
    height: 10px;
    background-position: -592px 0px
}

et2-select-country[value="BN"]::part(prefix), et2-select-country::part(country_BN_flag) {
    height: 10px;
    background-position: -614px 0px
}

et2-select-country[value="BO"]::part(prefix), et2-select-country::part(country_BO_flag) {
    height: 14px;
    background-position: -636px 0px
}

et2-select-country[value="BQ"]::part(prefix), et2-select-country::part(country_BQ_flag) {
    height: 14px;
    background-position: -658px 0px
}

et2-select-country[value="BR"]::part(prefix), et2-select-country::part(country_BR_flag) {
    height: 14px;
    background-position: -680px 0px
}

et2-select-country[value="BS"]::part(prefix), et2-select-country::part(country_BS_flag) {
    height: 10px;
    background-position: -702px 0px
}

et2-select-country[value="BT"]::part(prefix), et2-select-country::part(country_BT_flag) {
    height: 14px;
    background-position: -724px 0px
}

et2-select-country[value="BV"]::part(prefix), et2-select-country::part(country_BV_flag) {
    height: 15px;
    background-position: -746px 0px
}

et2-select-country[value="BW"]::part(prefix), et2-select-country::part(country_BW_flag) {
    height: 14px;
    background-position: -768px 0px
}

et2-select-country[value="BY"]::part(prefix), et2-select-country::part(country_BY_flag) {
    height: 10px;
    background-position: -790px 0px
}

et2-select-country[value="BZ"]::part(prefix), et2-select-country::part(country_BZ_flag) {
    height: 14px;
    background-position: -812px 0px
}

et2-select-country[value="CA"]::part(prefix), et2-select-country::part(country_CA_flag) {
    height: 10px;
    background-position: -834px 0px
}

et2-select-country[value="CC"]::part(prefix), et2-select-country::part(country_CC_flag) {
    height: 10px;
    background-position: -856px 0px
}

et2-select-country[value="CD"]::part(prefix), et2-select-country::part(country_CD_flag) {
    height: 15px;
    background-position: -878px 0px
}

et2-select-country[value="CF"]::part(prefix), et2-select-country::part(country_CF_flag) {
    height: 14px;
    background-position: -900px 0px
}

et2-select-country[value="CG"]::part(prefix), et2-select-country::part(country_CG_flag) {
    height: 14px;
    background-position: -922px 0px
}

et2-select-country[value="CH"]::part(prefix), et2-select-country::part(country_CH_flag) {
    height: 15px;
    background-position: -944px 0px
}

et2-select-country[value="CI"]::part(prefix), et2-select-country::part(country_CI_flag) {
    height: 14px;
    background-position: -961px 0px
}

et2-select-country[value="CK"]::part(prefix), et2-select-country::part(country_CK_flag) {
    height: 10px;
    background-position: -983px 0px
}

et2-select-country[value="CL"]::part(prefix), et2-select-country::part(country_CL_flag) {
    height: 14px;
    background-position: -1005px 0px
}

et2-select-country[value="CM"]::part(prefix), et2-select-country::part(country_CM_flag) {
    height: 14px;
    background-position: -1027px 0px
}

et2-select-country[value="CN"]::part(prefix), et2-select-country::part(country_CN_flag) {
    height: 14px;
    background-position: -1049px 0px
}

et2-select-country[value="CO"]::part(prefix), et2-select-country::part(country_CO_flag) {
    height: 14px;
    background-position: -1071px 0px
}

et2-select-country[value="CP"]::part(prefix), et2-select-country::part(country_CP_flag) {
    height: 14px;
    background-position: -1093px 0px
}

et2-select-country[value="CR"]::part(prefix), et2-select-country::part(country_CR_flag) {
    height: 12px;
    background-position: -1115px 0px
}

et2-select-country[value="CU"]::part(prefix), et2-select-country::part(country_CU_flag) {
    height: 10px;
    background-position: -1137px 0px
}

et2-select-country[value="CV"]::part(prefix), et2-select-country::part(country_CV_flag) {
    height: 12px;
    background-position: -1159px 0px
}

et2-select-country[value="CW"]::part(prefix), et2-select-country::part(country_CW_flag) {
    height: 14px;
    background-position: -1181px 0px
}

et2-select-country[value="CX"]::part(prefix), et2-select-country::part(country_CX_flag) {
    height: 10px;
    background-position: -1203px 0px
}

et2-select-country[value="CY"]::part(prefix), et2-select-country::part(country_CY_flag) {
    height: 13px;
    background-position: -1225px 0px
}

et2-select-country[value="CZ"]::part(prefix), et2-select-country::part(country_CZ_flag) {
    height: 14px;
    background-position: -1247px 0px
}

et2-select-country[value="DE"]::part(prefix), et2-select-country::part(country_DE_flag) {
    height: 12px;
    background-position: -1269px 0px
}

et2-select-country[value="DG"]::part(prefix), et2-select-country::part(country_DG_flag) {
    height: 10px;
    background-position: -1291px 0px
}

et2-select-country[value="DJ"]::part(prefix), et2-select-country::part(country_DJ_flag) {
    height: 14px;
    background-position: -1313px 0px
}

et2-select-country[value="DK"]::part(prefix), et2-select-country::part(country_DK_flag) {
    height: 15px;
    background-position: -1335px 0px
}

et2-select-country[value="DM"]::part(prefix), et2-select-country::part(country_DM_flag) {
    height: 10px;
    background-position: -1357px 0px
}

et2-select-country[value="DO"]::part(prefix), et2-select-country::part(country_DO_flag) {
    height: 13px;
    background-position: -1379px 0px
}

et2-select-country[value="DZ"]::part(prefix), et2-select-country::part(country_DZ_flag) {
    height: 14px;
    background-position: -1401px 0px
}

et2-select-country[value="EA"]::part(prefix), et2-select-country::part(country_EA_flag) {
    height: 14px;
    background-position: -1423px 0px
}

et2-select-country[value="EC"]::part(prefix), et2-select-country::part(country_EC_flag) {
    height: 14px;
    background-position: -1445px 0px
}

et2-select-country[value="EE"]::part(prefix), et2-select-country::part(country_EE_flag) {
    height: 13px;
    background-position: -1467px 0px
}

et2-select-country[value="EG"]::part(prefix), et2-select-country::part(country_EG_flag) {
    height: 14px;
    background-position: -1489px 0px
}

et2-select-country[value="EH"]::part(prefix), et2-select-country::part(country_EH_flag) {
    height: 10px;
    background-position: -1511px 0px
}

et2-select-country[value="ER"]::part(prefix), et2-select-country::part(country_ER_flag) {
    height: 10px;
    background-position: -1533px 0px
}

et2-select-country[value="ES"]::part(prefix), et2-select-country::part(country_ES_flag) {
    height: 14px;
    background-position: -1555px 0px
}

et2-select-country[value="ET"]::part(prefix), et2-select-country::part(country_ET_flag) {
    height: 10px;
    background-position: -1577px 0px
}

et2-select-country[value="EU"]::part(prefix), et2-select-country::part(country_EU_flag) {
    height: 14px;
    background-position: -1599px 0px
}

et2-select-country[value="FI"]::part(prefix), et2-select-country::part(country_FI_flag) {
    height: 12px;
    background-position: -1621px 0px
}

et2-select-country[value="FJ"]::part(prefix), et2-select-country::part(country_FJ_flag) {
    height: 10px;
    background-position: -1643px 0px
}

et2-select-country[value="FK"]::part(prefix), et2-select-country::part(country_FK_flag) {
    height: 10px;
    background-position: -1665px 0px
}

et2-select-country[value="FM"]::part(prefix), et2-select-country::part(country_FM_flag) {
    height: 11px;
    background-position: -1687px 0px
}

et2-select-country[value="FO"]::part(prefix), et2-select-country::part(country_FO_flag) {
    height: 15px;
    background-position: -1709px 0px
}

et2-select-country[value="FR"]::part(prefix), et2-select-country::part(country_FR_flag) {
    height: 14px;
    background-position: -1731px 0px
}

et2-select-country[value="GA"]::part(prefix), et2-select-country::part(country_GA_flag) {
    height: 15px;
    background-position: -1753px 0px
}

et2-select-country[value="GB"]::part(prefix), et2-select-country::part(country_GB_flag) {
    height: 10px;
    background-position: -1775px 0px
}

et2-select-country[value="GD"]::part(prefix), et2-select-country::part(country_GD_flag) {
    height: 12px;
    background-position: -1797px 0px
}

et2-select-country[value="GE"]::part(prefix), et2-select-country::part(country_GE_flag) {
    height: 14px;
    background-position: -1819px 0px
}

et2-select-country[value="GF"]::part(prefix), et2-select-country::part(country_GF_flag) {
    height: 14px;
    background-position: -1841px 0px
}

et2-select-country[value="GG"]::part(prefix), et2-select-country::part(country_GG_flag) {
    height: 14px;
    background-position: -1863px 0px
}

et2-select-country[value="GH"]::part(prefix), et2-select-country::part(country_GH_flag) {
    height: 14px;
    background-position: -1885px 0px
}

et2-select-country[value="GI"]::part(prefix), et2-select-country::part(country_GI_flag) {
    height: 10px;
    background-position: -1907px 0px
}

et2-select-country[value="GL"]::part(prefix), et2-select-country::part(country_GL_flag) {
    height: 14px;
    background-position: -1929px 0px
}

et2-select-country[value="GM"]::part(prefix), et2-select-country::part(country_GM_flag) {
    height: 14px;
    background-position: -1951px 0px
}

et2-select-country[value="GN"]::part(prefix), et2-select-country::part(country_GN_flag) {
    height: 14px;
    background-position: -1973px 0px
}

et2-select-country[value="GP"]::part(prefix), et2-select-country::part(country_GP_flag) {
    height: 14px;
    background-position: -1995px 0px
}

et2-select-country[value="GQ"]::part(prefix), et2-select-country::part(country_GQ_flag) {
    height: 14px;
    background-position: -2017px 0px
}

et2-select-country[value="GR"]::part(prefix), et2-select-country::part(country_GR_flag) {
    height: 14px;
    background-position: -2039px 0px
}

et2-select-country[value="GS"]::part(prefix), et2-select-country::part(country_GS_flag) {
    height: 10px;
    background-position: -2061px 0px
}

et2-select-country[value="GT"]::part(prefix), et2-select-country::part(country_GT_flag) {
    height: 13px;
    background-position: -2083px 0px
}

et2-select-country[value="GU"]::part(prefix), et2-select-country::part(country_GU_flag) {
    height: 11px;
    background-position: -2105px 0px
}

et2-select-country[value="GW"]::part(prefix), et2-select-country::part(country_GW_flag) {
    height: 10px;
    background-position: -2127px 0px
}

et2-select-country[value="GY"]::part(prefix), et2-select-country::part(country_GY_flag) {
    height: 12px;
    background-position: -2149px 0px
}

et2-select-country[value="HK"]::part(prefix), et2-select-country::part(country_HK_flag) {
    height: 14px;
    background-position: -2171px 0px
}

et2-select-country[value="HM"]::part(prefix), et2-select-country::part(country_HM_flag) {
    height: 10px;
    background-position: -2193px 0px
}

et2-select-country[value="HN"]::part(prefix), et2-select-country::part(country_HN_flag) {
    height: 10px;
    background-position: -2215px 0px
}

et2-select-country[value="HR"]::part(prefix), et2-select-country::part(country_HR_flag) {
    height: 10px;
    background-position: -2237px 0px
}

et2-select-country[value="HT"]::part(prefix), et2-select-country::part(country_HT_flag) {
    height: 12px;
    background-position: -2259px 0px
}

et2-select-country[value="HU"]::part(prefix), et2-select-country::part(country_HU_flag) {
    height: 10px;
    background-position: -2281px 0px
}

et2-select-country[value="IC"]::part(prefix), et2-select-country::part(country_IC_flag) {
    height: 14px;
    background-position: -2303px 0px
}

et2-select-country[value="ID"]::part(prefix), et2-select-country::part(country_ID_flag) {
    height: 14px;
    background-position: -2325px 0px
}

et2-select-country[value="IE"]::part(prefix), et2-select-country::part(country_IE_flag) {
    height: 10px;
    background-position: -2347px 0px
}

et2-select-country[value="IL"]::part(prefix), et2-select-country::part(country_IL_flag) {
    height: 15px;
    background-position: -2369px 0px
}

et2-select-country[value="IM"]::part(prefix), et2-select-country::part(country_IM_flag) {
    height: 10px;
    background-position: -2391px 0px
}

et2-select-country[value="IN"]::part(prefix), et2-select-country::part(country_IN_flag) {
    height: 14px;
    background-position: -2413px 0px
}

et2-select-country[value="IO"]::part(prefix), et2-select-country::part(country_IO_flag) {
    height: 10px;
    background-position: -2435px 0px
}

et2-select-country[value="IQ"]::part(prefix), et2-select-country::part(country_IQ_flag) {
    height: 14px;
    background-position: -2457px 0px
}

et2-select-country[value="IR"]::part(prefix), et2-select-country::part(country_IR_flag) {
    height: 12px;
    background-position: -2479px 0px
}

et2-select-country[value="IS"]::part(prefix), et2-select-country::part(country_IS_flag) {
    height: 15px;
    background-position: -2501px 0px
}

et2-select-country[value="IT"]::part(prefix), et2-select-country::part(country_IT_flag) {
    height: 14px;
    background-position: -2523px 0px
}

et2-select-country[value="JE"]::part(prefix), et2-select-country::part(country_JE_flag) {
    height: 12px;
    background-position: -2545px 0px
}

et2-select-country[value="JM"]::part(prefix), et2-select-country::part(country_JM_flag) {
    height: 10px;
    background-position: -2567px 0px
}

et2-select-country[value="JO"]::part(prefix), et2-select-country::part(country_JO_flag) {
    height: 10px;
    background-position: -2589px 0px
}

et2-select-country[value="JP"]::part(prefix), et2-select-country::part(country_JP_flag) {
    height: 14px;
    background-position: -2611px 0px
}

et2-select-country[value="KE"]::part(prefix), et2-select-country::part(country_KE_flag) {
    height: 14px;
    background-position: -2633px 0px
}

et2-select-country[value="KG"]::part(prefix), et2-select-country::part(country_KG_flag) {
    height: 12px;
    background-position: -2655px 0px
}

et2-select-country[value="KH"]::part(prefix), et2-select-country::part(country_KH_flag) {
    height: 13px;
    background-position: -2677px 0px
}

et2-select-country[value="KI"]::part(prefix), et2-select-country::part(country_KI_flag) {
    height: 10px;
    background-position: -2699px 0px
}

et2-select-country[value="KM"]::part(prefix), et2-select-country::part(country_KM_flag) {
    height: 12px;
    background-position: -2721px 0px
}

et2-select-country[value="KN"]::part(prefix), et2-select-country::part(country_KN_flag) {
    height: 14px;
    background-position: -2743px 0px
}

et2-select-country[value="KP"]::part(prefix), et2-select-country::part(country_KP_flag) {
    height: 10px;
    background-position: -2765px 0px
}

et2-select-country[value="KR"]::part(prefix), et2-select-country::part(country_KR_flag) {
    height: 14px;
    background-position: -2787px 0px
}

et2-select-country[value="KW"]::part(prefix), et2-select-country::part(country_KW_flag) {
    height: 10px;
    background-position: -2809px 0px
}

et2-select-country[value="KY"]::part(prefix), et2-select-country::part(country_KY_flag) {
    height: 10px;
    background-position: -2831px 0px
}

et2-select-country[value="KZ"]::part(prefix), et2-select-country::part(country_KZ_flag) {
    height: 10px;
    background-position: -2853px 0px
}

et2-select-country[value="LA"]::part(prefix), et2-select-country::part(country_LA_flag) {
    height: 14px;
    background-position: -2875px 0px
}

et2-select-country[value="LB"]::part(prefix), et2-select-country::part(country_LB_flag) {
    height: 14px;
    background-position: -2897px 0px
}

et2-select-country[value="LC"]::part(prefix), et2-select-country::part(country_LC_flag) {
    height: 10px;
    background-position: -2919px 0px
}

et2-select-country[value="LI"]::part(prefix), et2-select-country::part(country_LI_flag) {
    height: 12px;
    background-position: -2941px 0px
}

et2-select-country[value="LK"]::part(prefix), et2-select-country::part(country_LK_flag) {
    height: 10px;
    background-position: -2963px 0px
}

et2-select-country[value="LR"]::part(prefix), et2-select-country::part(country_LR_flag) {
    height: 11px;
    background-position: -2985px 0px
}

et2-select-country[value="LS"]::part(prefix), et2-select-country::part(country_LS_flag) {
    height: 14px;
    background-position: -3007px 0px
}

et2-select-country[value="LT"]::part(prefix), et2-select-country::part(country_LT_flag) {
    height: 12px;
    background-position: -3029px 0px
}

et2-select-country[value="LU"]::part(prefix), et2-select-country::part(country_LU_flag) {
    height: 12px;
    background-position: -3051px 0px
}

et2-select-country[value="LV"]::part(prefix), et2-select-country::part(country_LV_flag) {
    height: 10px;
    background-position: -3073px 0px
}

et2-select-country[value="LY"]::part(prefix), et2-select-country::part(country_LY_flag) {
    height: 10px;
    background-position: -3095px 0px
}

et2-select-country[value="MA"]::part(prefix), et2-select-country::part(country_MA_flag) {
    height: 14px;
    background-position: -3117px 0px
}

et2-select-country[value="MC"]::part(prefix), et2-select-country::part(country_MC_flag) {
    height: 15px;
    background-position: -3139px 0px
}

et2-select-country[value="MD"]::part(prefix), et2-select-country::part(country_MD_flag) {
    height: 10px;
    background-position: -3160px 0px
}

et2-select-country[value="ME"]::part(prefix), et2-select-country::part(country_ME_flag) {
    height: 10px;
    background-position: -3182px 0px
}

et2-select-country[value="MF"]::part(prefix), et2-select-country::part(country_MF_flag) {
    height: 14px;
    background-position: -3204px 0px
}

et2-select-country[value="MG"]::part(prefix), et2-select-country::part(country_MG_flag) {
    height: 14px;
    background-position: -3226px 0px
}

et2-select-country[value="MH"]::part(prefix), et2-select-country::part(country_MH_flag) {
    height: 11px;
    background-position: -3248px 0px
}

et2-select-country[value="MK"]::part(prefix), et2-select-country::part(country_MK_flag) {
    height: 10px;
    background-position: -3270px 0px
}

et2-select-country[value="ML"]::part(prefix), et2-select-country::part(country_ML_flag) {
    height: 14px;
    background-position: -3292px 0px
}

et2-select-country[value="MM"]::part(prefix), et2-select-country::part(country_MM_flag) {
    height: 14px;
    background-position: -3314px 0px
}

et2-select-country[value="MN"]::part(prefix), et2-select-country::part(country_MN_flag) {
    height: 10px;
    background-position: -3336px 0px
}

et2-select-country[value="MO"]::part(prefix), et2-select-country::part(country_MO_flag) {
    height: 14px;
    background-position: -3358px 0px
}

et2-select-country[value="MP"]::part(prefix), et2-select-country::part(country_MP_flag) {
    height: 10px;
    background-position: -3380px 0px
}

et2-select-country[value="MQ"]::part(prefix), et2-select-country::part(country_MQ_flag) {
    height: 14px;
    background-position: -3402px 0px
}

et2-select-country[value="MR"]::part(prefix), et2-select-country::part(country_MR_flag) {
    height: 14px;
    background-position: -3424px 0px
}

et2-select-country[value="MS"]::part(prefix), et2-select-country::part(country_MS_flag) {
    height: 10px;
    background-position: -3446px 0px
}

et2-select-country[value="MT"]::part(prefix), et2-select-country::part(country_MT_flag) {
    height: 14px;
    background-position: -3468px 0px
}

et2-select-country[value="MU"]::part(prefix), et2-select-country::part(country_MU_flag) {
    height: 14px;
    background-position: -3490px 0px
}

et2-select-country[value="MV"]::part(prefix), et2-select-country::part(country_MV_flag) {
    height: 14px;
    background-position: -3512px 0px
}

et2-select-country[value="MW"]::part(prefix), et2-select-country::part(country_MW_flag) {
    height: 14px;
    background-position: -3534px 0px
}

et2-select-country[value="MX"]::part(prefix), et2-select-country::part(country_MX_flag) {
    height: 12px;
    background-position: -3556px 0px
}

et2-select-country[value="MY"]::part(prefix), et2-select-country::part(country_MY_flag) {
    height: 10px;
    background-position: -3578px 0px
}

et2-select-country[value="MZ"]::part(prefix), et2-select-country::part(country_MZ_flag) {
    height: 14px;
    background-position: -3600px 0px
}

et2-select-country[value="NA"]::part(prefix), et2-select-country::part(country_NA_flag) {
    height: 14px;
    background-position: -3622px 0px
}

et2-select-country[value="NC"]::part(prefix), et2-select-country::part(country_NC_flag) {
    height: 10px;
    background-position: -3644px 0px
}

et2-select-country[value="NE"]::part(prefix), et2-select-country::part(country_NE_flag) {
    height: 15px;
    background-position: -3666px 0px
}

et2-select-country[value="NF"]::part(prefix), et2-select-country::part(country_NF_flag) {
    height: 10px;
    background-position: -3686px 0px
}

et2-select-country[value="NG"]::part(prefix), et2-select-country::part(country_NG_flag) {
    height: 10px;
    background-position: -3708px 0px
}

et2-select-country[value="NI"]::part(prefix), et2-select-country::part(country_NI_flag) {
    height: 12px;
    background-position: -3730px 0px
}

et2-select-country[value="NL"]::part(prefix), et2-select-country::part(country_NL_flag) {
    height: 14px;
    background-position: -3752px 0px
}

et2-select-country[value="NO"]::part(prefix), et2-select-country::part(country_NO_flag) {
    height: 15px;
    background-position: -3774px 0px
}

et2-select-country[value="NP"]::part(prefix), et2-select-country::part(country_NP_flag) {
    height: 15px;
    background-position: -3796px 0px;
    background-color: transparent
}

et2-select-country[value="NR"]::part(prefix), et2-select-country::part(country_NR_flag) {
    height: 10px;
    background-position: -3811px 0px
}

et2-select-country[value="NU"]::part(prefix), et2-select-country::part(country_NU_flag) {
    height: 10px;
    background-position: -3833px 0px
}

et2-select-country[value="NZ"]::part(prefix), et2-select-country::part(country_NZ_flag) {
    height: 10px;
    background-position: -3855px 0px
}

et2-select-country[value="OM"]::part(prefix), et2-select-country::part(country_OM_flag) {
    height: 10px;
    background-position: -3877px 0px
}

et2-select-country[value="PA"]::part(prefix), et2-select-country::part(country_PA_flag) {
    height: 14px;
    background-position: -3899px 0px
}

et2-select-country[value="PE"]::part(prefix), et2-select-country::part(country_PE_flag) {
    height: 14px;
    background-position: -3921px 0px
}

et2-select-country[value="PF"]::part(prefix), et2-select-country::part(country_PF_flag) {
    height: 14px;
    background-position: -3943px 0px
}

et2-select-country[value="PG"]::part(prefix), et2-select-country::part(country_PG_flag) {
    height: 15px;
    background-position: -3965px 0px
}

et2-select-country[value="PH"]::part(prefix), et2-select-country::part(country_PH_flag) {
    height: 10px;
    background-position: -3987px 0px
}

et2-select-country[value="PK"]::part(prefix), et2-select-country::part(country_PK_flag) {
    height: 14px;
    background-position: -4009px 0px
}

et2-select-country[value="PL"]::part(prefix), et2-select-country::part(country_PL_flag) {
    height: 13px;
    background-position: -4031px 0px
}

et2-select-country[value="PM"]::part(prefix), et2-select-country::part(country_PM_flag) {
    height: 14px;
    background-position: -4053px 0px
}

et2-select-country[value="PN"]::part(prefix), et2-select-country::part(country_PN_flag) {
    height: 10px;
    background-position: -4075px 0px
}

et2-select-country[value="PR"]::part(prefix), et2-select-country::part(country_PR_flag) {
    height: 14px;
    background-position: -4097px 0px
}

et2-select-country[value="PS"]::part(prefix), et2-select-country::part(country_PS_flag) {
    height: 10px;
    background-position: -4119px 0px
}

et2-select-country[value="PT"]::part(prefix), et2-select-country::part(country_PT_flag) {
    height: 14px;
    background-position: -4141px 0px
}

et2-select-country[value="PW"]::part(prefix), et2-select-country::part(country_PW_flag) {
    height: 13px;
    background-position: -4163px 0px
}

et2-select-country[value="PY"]::part(prefix), et2-select-country::part(country_PY_flag) {
    height: 11px;
    background-position: -4185px 0px
}

et2-select-country[value="QA"]::part(prefix), et2-select-country::part(country_QA_flag) {
    height: 8px;
    background-position: -4207px 0px
}

et2-select-country[value="RE"]::part(prefix), et2-select-country::part(country_RE_flag) {
    height: 14px;
    background-position: -4229px 0px
}

et2-select-country[value="RO"]::part(prefix), et2-select-country::part(country_RO_flag) {
    height: 14px;
    background-position: -4251px 0px
}

et2-select-country[value="RS"]::part(prefix), et2-select-country::part(country_RS_flag) {
    height: 14px;
    background-position: -4273px 0px
}

et2-select-country[value="RU"]::part(prefix), et2-select-country::part(country_RU_flag) {
    height: 14px;
    background-position: -4295px 0px
}

et2-select-country[value="RW"]::part(prefix), et2-select-country::part(country_RW_flag) {
    height: 14px;
    background-position: -4317px 0px
}

et2-select-country[value="SA"]::part(prefix), et2-select-country::part(country_SA_flag) {
    height: 14px;
    background-position: -4339px 0px
}

et2-select-country[value="SB"]::part(prefix), et2-select-country::part(country_SB_flag) {
    height: 10px;
    background-position: -4361px 0px
}

et2-select-country[value="SC"]::part(prefix), et2-select-country::part(country_SC_flag) {
    height: 10px;
    background-position: -4383px 0px
}

et2-select-country[value="SD"]::part(prefix), et2-select-country::part(country_SD_flag) {
    height: 10px;
    background-position: -4405px 0px
}

et2-select-country[value="SE"]::part(prefix), et2-select-country::part(country_SE_flag) {
    height: 13px;
    background-position: -4427px 0px
}

et2-select-country[value="SG"]::part(prefix), et2-select-country::part(country_SG_flag) {
    height: 14px;
    background-position: -4449px 0px
}

et2-select-country[value="SH"]::part(prefix), et2-select-country::part(country_SH_flag) {
    height: 10px;
    background-position: -4471px 0px
}

et2-select-country[value="SI"]::part(prefix), et2-select-country::part(country_SI_flag) {
    height: 10px;
    background-position: -4493px 0px
}

et2-select-country[value="SJ"]::part(prefix), et2-select-country::part(country_SJ_flag) {
    height: 15px;
    background-position: -4515px 0px
}

et2-select-country[value="SK"]::part(prefix), et2-select-country::part(country_SK_flag) {
    height: 14px;
    background-position: -4537px 0px
}

et2-select-country[value="SL"]::part(prefix), et2-select-country::part(country_SL_flag) {
    height: 14px;
    background-position: -4559px 0px
}

et2-select-country[value="SM"]::part(prefix), et2-select-country::part(country_SM_flag) {
    height: 15px;
    background-position: -4581px 0px
}

et2-select-country[value="SN"]::part(prefix), et2-select-country::part(country_SN_flag) {
    height: 14px;
    background-position: -4603px 0px
}

et2-select-country[value="SO"]::part(prefix), et2-select-country::part(country_SO_flag) {
    height: 14px;
    background-position: -4625px 0px
}

et2-select-country[value="SR"]::part(prefix), et2-select-country::part(country_SR_flag) {
    height: 14px;
    background-position: -4647px 0px
}

et2-select-country[value="SS"]::part(prefix), et2-select-country::part(country_SS_flag) {
    height: 10px;
    background-position: -4669px 0px
}

et2-select-country[value="ST"]::part(prefix), et2-select-country::part(country_ST_flag) {
    height: 10px;
    background-position: -4691px 0px
}

et2-select-country[value="SV"]::part(prefix), et2-select-country::part(country_SV_flag) {
    height: 12px;
    background-position: -4713px 0px
}

et2-select-country[value="SX"]::part(prefix), et2-select-country::part(country_SX_flag) {
    height: 14px;
    background-position: -4735px 0px
}

et2-select-country[value="SY"]::part(prefix), et2-select-country::part(country_SY_flag) {
    height: 14px;
    background-position: -4757px 0px
}

et2-select-country[value="SZ"]::part(prefix), et2-select-country::part(country_SZ_flag) {
    height: 14px;
    background-position: -4779px 0px
}

et2-select-country[value="TA"]::part(prefix), et2-select-country::part(country_TA_flag) {
    height: 10px;
    background-position: -4801px 0px
}

et2-select-country[value="TC"]::part(prefix), et2-select-country::part(country_TC_flag) {
    height: 10px;
    background-position: -4823px 0px
}

et2-select-country[value="TD"]::part(prefix), et2-select-country::part(country_TD_flag) {
    height: 14px;
    background-position: -4845px 0px
}

et2-select-country[value="TF"]::part(prefix), et2-select-country::part(country_TF_flag) {
    height: 14px;
    background-position: -4867px 0px
}

et2-select-country[value="TG"]::part(prefix), et2-select-country::part(country_TG_flag) {
    height: 13px;
    background-position: -4889px 0px
}

et2-select-country[value="TH"]::part(prefix), et2-select-country::part(country_TH_flag) {
    height: 14px;
    background-position: -4911px 0px
}

et2-select-country[value="TJ"]::part(prefix), et2-select-country::part(country_TJ_flag) {
    height: 10px;
    background-position: -4933px 0px
}

et2-select-country[value="TK"]::part(prefix), et2-select-country::part(country_TK_flag) {
    height: 10px;
    background-position: -4955px 0px
}

et2-select-country[value="TL"]::part(prefix), et2-select-country::part(country_TL_flag) {
    height: 10px;
    background-position: -4977px 0px
}

et2-select-country[value="TM"]::part(prefix), et2-select-country::part(country_TM_flag) {
    height: 14px;
    background-position: -4999px 0px
}

et2-select-country[value="TN"]::part(prefix), et2-select-country::part(country_TN_flag) {
    height: 14px;
    background-position: -5021px 0px
}

et2-select-country[value="TO"]::part(prefix), et2-select-country::part(country_TO_flag) {
    height: 10px;
    background-position: -5043px 0px
}

et2-select-country[value="TR"]::part(prefix), et2-select-country::part(country_TR_flag) {
    height: 14px;
    background-position: -5065px 0px
}

et2-select-country[value="TT"]::part(prefix), et2-select-country::part(country_TT_flag) {
    height: 12px;
    background-position: -5087px 0px
}

et2-select-country[value="TV"]::part(prefix), et2-select-country::part(country_TV_flag) {
    height: 10px;
    background-position: -5109px 0px
}

et2-select-country[value="TW"]::part(prefix), et2-select-country::part(country_TW_flag) {
    height: 14px;
    background-position: -5131px 0px
}

et2-select-country[value="TZ"]::part(prefix), et2-select-country::part(country_TZ_flag) {
    height: 14px;
    background-position: -5153px 0px
}

et2-select-country[value="UA"]::part(prefix), et2-select-country::part(country_UA_flag) {
    height: 14px;
    background-position: -5175px 0px
}

et2-select-country[value="UG"]::part(prefix), et2-select-country::part(country_UG_flag) {
    height: 14px;
    background-position: -5197px 0px
}

et2-select-country[value="UM"]::part(prefix), et2-select-country::part(country_UM_flag) {
    height: 11px;
    background-position: -5219px 0px
}

et2-select-country[value="US"]::part(prefix), et2-select-country::part(country_US_flag) {
    height: 11px;
    background-position: -5241px 0px
}

et2-select-country[value="UY"]::part(prefix), et2-select-country::part(country_UY_flag) {
    height: 14px;
    background-position: -5263px 0px
}

et2-select-country[value="UZ"]::part(prefix), et2-select-country::part(country_UZ_flag) {
    height: 10px;
    background-position: -5285px 0px
}

et2-select-country[value="VA"]::part(prefix), et2-select-country::part(country_VA_flag) {
    height: 15px;
    background-position: -5307px 0px
}

et2-select-country[value="VC"]::part(prefix), et2-select-country::part(country_VC_flag) {
    height: 14px;
    background-position: -5324px 0px
}

et2-select-country[value="VE"]::part(prefix), et2-select-country::part(country_VE_flag) {
    height: 14px;
    background-position: -5346px 0px
}

et2-select-country[value="VG"]::part(prefix), et2-select-country::part(country_VG_flag) {
    height: 10px;
    background-position: -5368px 0px
}

et2-select-country[value="VI"]::part(prefix), et2-select-country::part(country_VI_flag) {
    height: 14px;
    background-position: -5390px 0px
}

et2-select-country[value="VN"]::part(prefix), et2-select-country::part(country_VN_flag) {
    height: 14px;
    background-position: -5412px 0px
}

et2-select-country[value="VU"]::part(prefix), et2-select-country::part(country_VU_flag) {
    height: 12px;
    background-position: -5434px 0px
}

et2-select-country[value="WF"]::part(prefix), et2-select-country::part(country_WF_flag) {
    height: 14px;
    background-position: -5456px 0px
}

et2-select-country[value="WS"]::part(prefix), et2-select-country::part(country_WS_flag) {
    height: 10px;
    background-position: -5478px 0px
}

et2-select-country[value="XK"]::part(prefix), et2-select-country::part(country_XK_flag) {
    height: 15px;
    background-position: -5500px 0px
}

et2-select-country[value="YE"]::part(prefix), et2-select-country::part(country_YE_flag) {
    height: 14px;
    background-position: -5522px 0px
}

et2-select-country[value="YT"]::part(prefix), et2-select-country::part(country_YT_flag) {
    height: 14px;
    background-position: -5544px 0px
}

et2-select-country[value="ZA"]::part(prefix), et2-select-country::part(country_ZA_flag) {
    height: 14px;
    background-position: -5566px 0px
}

et2-select-country[value="ZM"]::part(prefix), et2-select-country::part(country_ZM_flag) {
    height: 14px;
    background-position: -5588px 0px
}

et2-select-country[value="ZW"]::part(prefix), et2-select-country::part(country_ZW_flag) {
    height: 10px;
    background-position: -5610px 0px
}