.tox.tox-tinymce .tox-mbtn {height: 16px; font-size: 11px;}
.tox.tox-tinymce .tox-toolbar__group {padding: 0;}
.tox.tox-tinymce .tox-tbtn {font-size: 11px;}
.tox.tox-tinymce .tox-tbtn--bespoke .tox-tbtn__select-label{width: 4em;}