html[data-darkmode="1"] body {
  background-color: black;
  color: var(--sl-color-neutral-700);

  /*** HEADER ***/
  #egw_fw_topmenu_info_items {
	#topmenu_info_timer:before {
	  filter:initial;
	}
  }

  /*** APPLICATION ***/

  egw-app {
	--application-header-text-color: var(--sl-color-neutral-700);
  }

  /*** End APPLICATION ***/

  /*** WIDGETS ***/
  /* This should mostly go away with webcomponents */

  .et2_container {
	background-color: initial;
  }

  .dialogFooterToolbar et2-button::part(base):not(:hover), et2-dialog et2-button[variant='default'][slot='footer']::part(base):not(:hover) {
	background-color: var(--sl-input-background-color);
  }
  .nextmatch_sortheader {
	color: #96bcd9;
  }

  /** End WIDGETS **/
}