/*
	font styling
	allowed attributes: font-family,font-size,color,font-weight
*/

.divappbot
{
	bottom: 0px;
	width: 100%;
}

body,td
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
}

select,input,button
{
	color: #006699; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:110%;
}

select
{
	font-size:100%;
}

a:link,a:visited
{
	cursor:pointer;
	color: #103f64;
	text-decoration: none;
}

a:hover,a:active
{
	cursor:pointer;
	color: #9a3028;
	text-decoration: underline;
}

.prefSection
{
	font-weight:bold;
	font-size:145%;
	line-height:40px;
}

#divGenTime,#divPoweredBy
{
	font-size: 80%;
	color: #ff0000;
}

#divPoweredBy 
{
	color: #000000;
}

/* 
	other styling
*/

body 
{
	background-color:#9f9f9f;
	padding:0px;
	margin:0px;
}

form
{
	margin:0px;
	padding:0px;
}

img
{
	border:0;
}


input,button,select
{
	border: solid 1px #9f9f9f;
	color: #17202b;
}

input[type=submit],input[type=button],input[type=reset],button,.egwbutton

{
	background-color:#c5c5c5;
	border:  0px solid #dddddd;
	background-color:#fbf8f1;
	background-image: url(../images/butInactive-bm.png);
	border: solid 1px #9f9f9f;
	margin:  0px;
	padding: 0px;
	cursor:  pointer; 
	color: #666666;
}

input[type=submit]:hover,input[type=button]:hover,input[type=reset]:hover,button:hover,.egwbutton:hover
{
	background-color:#88b4e1;
	background-image: url(../images/butHover-bm.png);
	border: 1px solid #007205;
	padding: 0px;
	color:  white;
}

input[type=submit]:active,input[type=button]:active,input[type=reset]:active,button:active,.egwbutton:active

{
	background-image: url(../images/butActive-bm.png);
	border: 1px solid #a21616;
	color: #257900;
}

input.egwbutton
{
	background-color:#c5c5c5;
	border:  outset 1px #dcdad5;
	background-color:#b9d5e3;
	border:  outset 1px #b9d5e3;
	margin:  1px;
	padding: 1px;
	cursor:  pointer; 
	color:  #004e7d;
}

input.egwbutton:hover
{
	background-color:#94bfd4;
	border:  outset 1px #b9d5e3;
	color:  #006699;
	color:  #004e7d;

}
input.egwbutton:active
{
   border:  inset 1px #bbbbbb;
}

input[type=image]
{
	cursor: pointer; 
	border: 0;
}

/*
	Sidebox - Loginbox Style ***BEGIN***
*/

#thesideboxcolumn
{
	width: 203px;
	position:relative;
}

#sideresize
{
	background-image:url(../images/resize-bm.png);
	width:16px;
	height:100px;
	right:-18px;
	top:0px;
	position:absolute;
	z-index:9999;
}

#tdSidebox
{
	overflow:visible;
}

.divLoginbox
{
	position:relative;
	width: 370px; 
	border-right: #9f9f9f 0px solid;
}

.divSidebox 
{
	position: relative; 
	border: 0px solid #9f9f9f;
	background-color: white;
	overflow:auto;
}

.divLoginboxHeader,.divSideboxHeader,a.appTitles,.appTitles,a.textSidebox,.textSidebox,#fmStatusBar
{
	font-size:90%;
}

.textSideboxStar
{
	width: 20px;
	font-size:90%;
	border-top:1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-left: 0px solid #9f9f9f;
}

.divSideboxHeader,.divLoginboxHeader 
{
	text-align:center;
	color: #666666;
	height: 23px;
	font-weight:bold;
	font-size:12px;
	position: relative;
	left: 0px;
	top: 0px;
	padding:0px;
	border-top: 0px solid #9f9f9f;
	border-left: 0px solid #9f9f9f;
	border-right: 0px solid #9f9f9f;
}

.menuHeadLt
{
	background-image:url(../images/menuTitleLt-bm.png);
	padding:0px;
	width: 24px;
	height:23px;
}
.menuHeadMid
{
	background-image:url(../images/menuTitleMid-bm.png);
	width: 100%;
	line-height:23px;
}

.menuHeadRt
{
	background-image:url(../images/menuTitleRt-bm.png);
	width:24px;
	padding:0px;
	height: 23px;
}

.menuBotLt
{
	background-image:url(../images/menuBotLt-bm.png);
	padding:0px;
	width: 20px;
	height:18px;
}
.menuBotMid
{
	background-image:url(../images/menuBotMid-bm.png);
	width: 100%;
	line-height:18px;
}

.menuBotRt
{
	background-image:url(../images/menuBotRt-bm.png);
	width:20px;
	padding:0px;
	height: 18px;
}


a.divSideboxEntry, .divSideboxEntry
{
	text-align:left;
	height:18px;
	border-left: 0px solid #9f9f9f;
}

a.appTitles,.appTitles
{
	height:25px;
	border-left: 0px solid #9f9f9f;
}

a.textSidebox
{
	border-top: 0;
}

.textSidebox
{
	height:18px;
	padding-left: 2px;
	border-top: 1px solid #e1e1e1;
	overflow: auto;
}

.textSideboxHover
{
	background-color: white;
	height: 18px;
	border-top: 1px solid #e1e1e1;
	padding-left: 2px;	
	font-size: 10px;
}

.textSideboxHover:first-letter
{
	text-transform:uppercase;
}


.textSideboxSpacer
{
	height:19px;
	padding-left: 0px;
	border-left: solid #9f9f9f 0px;
	border-top: 1px solid #e1e1e1;
}

.slideoutBack
{
	background-color:white;
	border: #17202b 1px solid;
	padding:10px;
	background-image:url(../images/bmback.jpg);
	width: 203px;
}

.sideboxDrop
{
	position: relative;
	left: 0px;
	top: 0px;
	border-bottom: 0px solid white;
	border-left: 1px solid #9f9f9f;
	border-right: 1px solid #9f9f9f;
}

.textSidebox:first-letter
{
	text-transform:uppercase;
}

.sideboxSpace
{
	height:29px;
}

/*
	Sidebox - Loginbox Style ***END***
*/

.greyLine
{
	margin:1px;
	border-top:solid 1px #7e7e7e;
	height:1px;
}

/*
	Drop Shadow ***BEGIN***
*/

.menuOneBox
{
	position: relative;
	left: 0;
	text-align: left;
	background-image: url(../images/shadowAlpha.png);
}

.menuOneBoxTwo
{
	position: relative;
	left: 0;
	text-align: left;
}


/*
	Drop Shadow ***END***
*/

/*
	Extra Icons Menu ***BEGIN***
*/

#extraIcons
{
	background-image: url(../images/bmback.jpg);
	background-color:#fbf8f1;
	border:solid 1px #666666;
	position: relative;
	left: -4px;
	top: -4px;
}

.extraIconsHeader
{
	text-align:center;
	background-image:url(../images/menuTitle-bm.png);
	color:#e1e1e1;
	font-weight:normal;
	font-size:10px;
	height: 23px;
}

.extraIconsRowIcon
{
	border-right: 0px solid #9f9f9f;
	background-color: #e1e1e1;
	width: 20px;
	padding: 1px;
}

.extraIconsRow
{
	border-top: 1px solid #e1e1e1;
	height: 19px;
	padding:1px;
	padding-left: 3px;
	font-size: 10px;
	background-color: white;
}

.extraIconsRow:hover
{
	border-top: 1px solid #e1e1e1;
	padding:1px;
	padding-left: 3px;
	font-size: 10px;
	background-color: #e1e1e1;
}

/*
	Extra Icons Menu ***END***
*/

body {
	padding: 0px;
}

#divMain,#popupMainDiv
{
	background-image:url(../images/bmback.jpg);
	background-color: #646464;
	padding:9px;
	margin: 0px;
}

#popupMainDiv
{
	margin: 9px;
}

#divLogo
{
	position:absolute;
	left:17px;
	top:28px;
	z-index:999;
}

#topmenu
{
	background-color: #0081c1;
	background-image: url(../images/hilitetest-bm.png);
	color:#006699;
	border-top: 1px solid #9f9f9f;
	border-bottom: 1px solid #9f9f9f;
	height:24px;
	line-height:20px;
	padding-top: 4px;
}
#topmenu a
{
	color:#006699;
}

#topmenu_items
{
	float:left;
}
#topmenu_info
{
	float:right;
}

#divUpperTabs
{
	text-align:right;
	height: 15px;
	margin-right: 10px;
}

#divUpperTabs ul
{
	display:inline;
	margin:0;
	padding:10px 10px 0 1px;
	list-style:none;
}

#divUpperTabs li
{
	float:right;
	margin:0 5px 0 0;;
	padding:0 5px 0 5px;
	border:solid 1px #9c9c9c;
	border-bottom: 0px;
}

/*
	App Icon Bar ***BEGIN***
*/

.divAppIconBlock /* this allows the icons and text to be positioned via absolute and requires the iconspacer div */
{
	border-top: 0px solid #efefef;
	background-repeat: repeat-x;
	padding: 0px;
	position:relative;
	top:0px;
	left:0px;
	z-index:40;
}

#divAppIconBar
{
	height: 60px;
	background-image: url(../images/iconbar-bm.png);
	position: relative;
	top: 0px;
	left: 0px;
}

.iconBackFirstCell
{
	background-image: url(../images/firstcell-bm.png);
	background-repeat: no-repeat;
	height:60px;
}

.appIconTbl
{
	padding:0px;
	background-image: url(../images/rtbump-bm.png);
	background-repeat: no-repeat;
	background-position: top right;
	vertical-align: top;
	color: white;
}

.iconBack
{
	border-right: 0px solid #bfbfbf;
	border-top: 1px solid #9f9f9f;
	height: 38px;
}

.iconBackHover
{
	background-image: url(../images/pointer-bm.png);
	background-repeat: no-repeat;
	background-position: 90% 100%;
	border-top: 1px solid #9f9f9f;
	border-left: 0px solid white;
	cursor: pointer;
}

.appIconSpacer
{
	height:0px;
	background-color: #ffffff;
}

#divAppTextBar
{
	white-space: nowrap;
}

/*
	App Icon Bar ***END***
*/

#divStatusBar
{
	position: relative;
	top:0px;
	left:0px;
	height:22px;
	vertical-align:bottom;
	border: 0px solid black;
	padding-top:0px;
}

/*
	Appbox ***BEGIN***
*/

#tdAppbox
{
	padding-left:9px;
	width: 100%;
	border: 0px solid red;
}

#divAppboxHeader
{
	background-image:url(../images/menuTitle-bm.png);
	height:24px;
	padding-top: 0px;
	font-size:14px;
	font-weight: bold;
	color: #666666;
	text-align:center;
	padding:0px;
	border-top:solid 0px #9f9f9f;
	border-left:solid 0px #9f9f9f;
	border-right:solid 0px #9f9f9f;
}

.appBoxHeadLt
{
	background-image:url(../images/abhlt.png);
	padding:0px;
	width: 24px;
	height:24px;
}
.appBoxHeadMid
{
	background-image:url(../images/abhmid.png);
	padding:0px;
	line-height:24px;
}
.appBoxHeadRt
{
	background-image:url(../images/abhrt.png);
	width:24px;
	padding:0px;
	height: 24px;
}


#divAppbox
{
	background-image:url(../images/bmback2.jpg);
	background-color:#ffffff;
	padding:9px;
	border-bottom:solid 0px #9f9f9f;
	border-left:solid 1px #9f9f9f;
	border-right:solid 1px #9f9f9f;
}

/*
	Appbox ***END***
*/

#admin_info
{
	position:relative;
	text-align:right;
}

#divGenTime,#divPoweredBy 

{
	bottom:4px;
	text-align:center;
	width:99%;
}

/*
        Table formatting
*/
.th {
        color: black; background-color: #d9d9d9;
	background-image: url(../images/hilitetest-bm.png);
}
.row_on {
	color: black;
	background-color: #F1F1F1;
	background-image: url(../images/rowon-bm.png);
}
.row_off {
	color: black;
	background-color: #ffffff;
	background-image: url(../images/rowoff-bm.png);
}
.narrow_column { width: 1%; white-space: nowrap; }

/*
        Printing
*/
@media screen { .onlyPrint { display: none; } }
@media print {  .noPrint { display: none; } }

/*
        Portal_box as used in home
*/
.portal_box {
	border: #9c9c9c 1px solid;
}

.portal_box table {
	border: 1px solid black;
}

.portal_box_header {
	height: 15px;
	padding-top: 0px;
}

/*
        Preferences tabs
*/
.tablink
{
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
}

/* eGroupWare popup */
#egwpopup {
	background-image: url(../images/bmback2.jpg);
	background-color: #ffffff;
	border: 1px solid #9f9f9f;
	border-top-style: none;
}

#egwpopup hr {
	border: none;
	border-top: 1px solid #9f9f9f;
	height: 1px;
}

#egwpopup_header {
	background-image: url(../images/menuTitleMid-bm.png);
	height: 24px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	font-size:12px;
	font-weight: bold;
	color: #666666;
	text-align: center;
}

#egwpopup_message {
	margin: 0;
	padding: 7px;
	overflow: auto;
}

#egwpopup_message > table {
	font-size: 95%;
}

#egwpopup_message .link {
	cursor: pointer;
}

#egwpopup_footer {
	margin: 0;
	padding: 7px;
	border: none;
	border-top: 1px solid #9f9f9f;
	text-align: center;
}
