/*
	font styling
	allowed attributes: font-family,font-size,color,font-weight
*/

body,td
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
}

select,input,button
{
	color: #006699; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:110%;
}

select
{
	font-size:100%;
}

a:link,a:visited
{
	cursor:pointer;
	color: #727f8a; 
	text-decoration: none;
}

a:hover,a:active
{
	cursor:pointer;
	color: #9a3028;
	text-decoration: underline;
}
.divLoginboxHeader,.divSideboxHeader,a.appTitles,.appTitles,a.textSidebox,.textSidebox,#fmStatusBar
{
	font-size:90%;
}

.textSideboxStar
{
	font-size:90%;
	background-color: #a7c4db;
	border-right: 1px solid #9f9f9f;
}

.prefSection
{
	font-weight:bold;
	font-size:145%;
	line-height:40px;
}

#divAppboxHeader
{
	line-height:20px;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
}

#divGenTime,#divPoweredBy
{
	font-size: 80%;
	color: #ff0000;
}

#divPoweredBy 
{
	color: #000000;
}

/* 
	other styling
*/

body 
{
	/*background-image:url(../images/body-background.png);*/
	background-color:#9f9f9f;
	padding:9px;
	margin:9px;
}

form
{
	margin:0px;
	padding:0px;
}

img
{
	border:0;
}


input,button,select
{
	border: solid 1px #bbbbbb;
	color: black;
}

input[type=submit],input[type=button],input[type=reset],button,.egwbutton

{
/*	color:white;*/
	background-color:#c5c5c5;
	border:  outset 1px #dcdad5;
	/*background-color:#b9d5e3;*/
	background-color:#f6efe0;
	/*border:  outset 1px #b9d5e3;*/
	border: solid 1px #e2d4b2;
	margin:  1px;
	padding: 1px;
	cursor:  pointer; 
	/*color:  #004e7d;*/
	color: #17202b;
/*	cursor:  hand; */
}

input[type=submit]:hover,input[type=button]:hover,input[type=reset]:hover,button:hover,.egwbutton:hover
{
	background-color:#88b4e1;
	border:  outset 1px #b9d5e3;
	color:  #006699;
	color:  #ffffff;
}

input[type=submit]:active,input[type=button]:active,input[type=reset]:active,button:active,.egwbutton:active

{
	border:  inset 1px #bbbbbb;
}

input.egwbutton
{
	background-color:#c5c5c5;
	border:  outset 1px #dcdad5;
	background-color:#b9d5e3;
	border:  outset 1px #b9d5e3;
	margin:  1px;
	padding: 1px;
	cursor:  pointer; 
	color:  #004e7d;
/*	cursor:  hand; */
}

input.egwbutton:hover
{
   background-color:#94bfd4;
   border:  outset 1px #b9d5e3;
   color:  #006699;
   color:  #004e7d;

}
input.egwbutton:active
{
   border:  inset 1px #bbbbbb;
}

input[type=image]
{
	cursor: pointer; 
/*	cursor: hand; */
	border: 0;
}

.divLoginbox,.divSidebox 

{
	position:relative;
	width: 370px; 
	border: #9f9f9f 1px solid; 
}

.divSidebox 
{
	width: 188px; 
}

.divSideboxHeader,.divLoginboxHeader 
{
	text-align:center;
	background-image:url(../images/menuTitle.png);
	color:#17202b;
	height: 18px;
	font-weight:bold;
	font-size:12px;
}

a.divSideboxEntry, .divSideboxEntry
{
	text-align:left;
	height:18px;
	background-color:#fbf8f1;
	border-top: 1px solid #9f9f9f;
}

a.appTitles,.appTitles
{
	height:25px;
	/*padding-top:2px;*/
	/*padding-bottom:2px;*/
}

a.textSidebox
{
	border-top: 0;
}

.textSidebox
{
	height:18px;
	padding-left: 2px;
	/*padding-top:2px;*/
	/*padding-bottom:2px;*/
	border-top: solid #9f9f9f 1px;
}

.textSideboxHover
{
	/*background-image: url(../images/appTitleBar.png);*/
	background-color: #ede6d8;
	background-repeat: repeat-x;
	border-top: 1px solid #9f9f9f;
	padding-left: 2px;	
	font-size: 10px;
}

.textSideboxHover:first-letter {
        text-transform:uppercase;
}


.textSideboxSpacer
{
        height:18px;
        padding-left: 0px;
        /*padding-top:2px;*/
        /*padding-bottom:2px;*/
        border-top: solid #9f9f9f 1px;
}


/* 
 ** make the sidebox entries consistently start with a capital letter 
 */
.textSidebox:first-letter {
	text-transform:uppercase;
}

.sideboxSpace
{
	height:9px;
}

.greyLine
{
	margin:1px;
	border-top:solid 1px #7e7e7e;
	height:1px;
}

#extraIcons
{
	background-color:#eeeeee;
	border:solid 1px #7e7e7e;
}

.extraIconsRow
{
	border:solid 1px #dddddd;
	padding:2px;
}

body {
	padding: 0px;
}

#divMain
{
	background-image:url(../images/divmain-background.jpg);
	background-repeat:no-repeat;
	background-color:white;
	padding:9px;
	border:solid 1px #17202b;
}

#divLogo
{
	position:absolute;
	left:19px;
	top:21px;
	z-index:51;
}

#divUpperTabs
{
	text-align:right;
	height: 15px;
	margin-right: 10px;
}

#divUpperTabs ul
{
	display:inline;
	margin:0;
	padding:10px 10px 0 1px;
	list-style:none;
}

#divUpperTabs li
{
	float:right;
	margin:0 5px 0 0;;
	padding:0 5px 0 5px;
	border:solid 1px #9c9c9c;
	border-bottom: 0px;
}

#divAppIconBar
{
	/*background-color:#fbf8f1;*/
	border-left: 1px solid #9f9f9f;
	border-right: 1px solid #9f9f9f;
	background-image: url(../images/iconBarBack.png); 
	background-repeat: repeat-x;
	height: 57px;
	padding:0px;
}

.iconBack
{
	background-image: url(../images/iconBackBlue.png);
	border-right: 1px solid #9f9f9f;
	border-left: 1px solid #cfcfcf;
	border-bottom: 1px solid #9f9f9f;
	border-top: 1px solid #9f9f9f;
}

.iconBackHover
{
	background-image: url(../images/iconBackYellow.png);
	border-right: 1px solid #9f9f9f;
        border-left: 1px solid #cfcfcf;
        border-bottom: 1px solid #9f9f9f;
        border-top: 1px solid #9f9f9f;
}

#divAppTextBar
{
	/*background-color:white;*/
}

#divStatusBar
{
	/*background-color:white;*/
	position: relative;
	top:0px
	left:0px;
	height:18px;
	vertical-align:bottom;
	border: 0px solid black;
	padding-left:186px;
	padding-top:10px;
	/*margin-top: 18px;*/
}

#tdSidebox
{
	width:170px;
	/*background-color:white;*/
	overflow:visible;
}

#tdAppbox
{
	/*background-color:white;*/
	padding-left:5px;
	width: 100%;
}

#divAppboxHeader
{
	background-image:url(../images/appTitleBar.png);
	height:18px;
	color: black;
	text-align:center;
	padding-bottom:0px;
	border:solid 1px #17202b;
}

#divAppbox
{
	background-color:#fbf8f1;
	padding:5px;
	border-bottom:solid 1px #17202b;
	border-left:solid 1px #17202b;
	border-right:solid 1px #17202b;
}



/*
	this must move to the filemanager app
*/

#fmStatusBar
{
	margin-left:4px;
	margin-bottom:3px;
}

.fmButton
{
	background-repeat: no-repeat;
	background-image:url(../images/buttonbackground.png);
	width:28px;
	height:28px;
}

#fmLocation
{
	position:relative;
	margin-bottom:3px;
	height:27px;
}

#fmMenu
{
	position:relative;
}

#fmFileWindow
{
	background-color:#ffffff;
	margin-left:4px;
	padding:5px;
	position:relative;
	border-right: #cccccc 1px solid; 
	border-top: #9c9c9c 2px solid; 
	border-left: #9c9c9c 2px solid; 
	border-bottom: #cccccc 1px solid
}

#admin_info
{
	position:relative;
	text-align:right;
}

#divGenTime,#divPoweredBy 

{
	bottom:4px;
	text-align:center;
	width:99%;
}
