.preview, .import_progress {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 97%;
	height: 95%;
	overflow: hidden;
	background-color: white;
	z-index: 999;
	display: none;
	border: 1px solid black;
	margin: 1.5%;
}

.import_progress {
	display: initial;
}

/* Not sure why these are missing */
.import_progress sl-progress-bar {
	--track-color: hsl(240 5.9% 90%);
	--indicator-color: hsl(200.4 98% 39.4%);
	--label-color: var(--label-color);
	--sl-border-radius-pill: 9999px;
}

.preview .content, .import_progress .log {
    overflow: auto;
    max-height: 99%;
    display: block;
	flex: 1 1 auto;
}

.preview_box .header, .preview .header {
    font-size: 150%;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px outset;
}

.preview  tr{
  vertical-align: top;
}

.preview [id$='buttons'] {
}

.wizard_content > div > table {
    width: 100%;
}