.preview {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 97%;
    height: 95%;
    overflow: hidden;
    background-color: white;
    z-index: 999;
    display: none;
    border: 1px solid black;
    margin: 1.5%;
}

.preview .content {
    overflow: auto;
    max-height: 99%;
    display: block;
}

.preview_box .header, .preview .header {
    font-size: 150%;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px outset;
}

.preview  tr{
  vertical-align: top;
}

.preview [id$='buttons'] {
    margin-left: 50%;
}

.wizard_content > div > table {
    width: 100%;
}