/**
 * Mobile support for idots: only show application area, all apps are in slideout instead of navbar
 *
 * @version $Id$
 */

#divLogo,#tdSidebox,#divGenTime,#divPoweredBy,#divUpperTabs,#divAppboxHeader {
	display:none;
}

#extra_icons_show {
	position: absolute;
	top: 17px;
	left: 0;
}

#menu1Container {
	left: 0px;
}

td.extraIconsRow {
	padding-top: 5px;
	padding-bottom: 5px;
}

#sideboxdragarea {
	top: 60px;
}

#menu2handle {
	padding-top: 60px;
}

#divMain,#popupMainDiv {
	border:none;
	margin:0px;
	padding:0px;
}

#tdAppbox,#divAppboxHeader,#divSubContainer,#divAppbox {
	border: none;
	text-align: left;
}
#divAppboxHeader {
	background: none;
}

div#divAppbox {
	min-height: 768px;
}

div.prefAppBox {
	width: 215px;
}