/*
	The styles in this file are used for printing only!

	Additional UI Elements can be disabled for printing by adding their Id here or adding the noPrint class to them.
*/
/* $Id$ */

#divLogo,#divAppIconBar,#tdSidebox,#divStatusBar,#sideboxdragarea,.noPrint,#topmenu {
	display:none;
}

#divMain,#popupMainDiv {
	border:none;
	margin:0px;
	padding:0px;
}

#tdAppbox,#divAppboxHeader,#divSubContainer,#divAppbox {
	border: none;
	text-align: left;
}
#divAppboxHeader {
	background: none;
}

/* all tables */
table {
	border-collapse: collapse;
}

/* cells in nextmatch/list rows */
.th td,.row_on td,.row_off td{
	border-left: thin black solid;
	border-right: thin black solid;
	padding: 1mm;
}

/* nextmatch/list rows */
tr.row_on,tr.row_off{
	border-bottom: thin gray dotted;
	padding-top: 0px; margin-top:0px;
	padding-bottom: 0px; margin-bottom: 0px;
}

/* nextmatch/list headers */
tr.th {
	border-bottom: thin black solid;
}
tr.th td {
	font-weight: bold;
}

/* cell in tables in nextmatch/list cells */
.th table td,.row_on table td,.row_off table td {
	border: none;
	padding-left: 0mm;
	padding-top: 0mm;
}

/* show links as regular text */
a,a:link,a:visited,a:hover {
	font-style: normal;
	color: black;
}

/* hide background-image to save print costs and spool time */
body {
	background-image: none;
}

/* MSIE needs these styles to repeat table header and footer part on each page */
thead { display: table-header-group; }
tfoot { display: table-footer-group; }

/**
 * remove border and use black color for input elements
 */
input, select, textarea {
	border: none;
	color: black;
}
