Source: egroupware
Section: web
Priority: optional
Maintainer: Peter Eisentraut <petere@debian.org>
Build-Depends: debhelper (>= 5), dpatch, po-debconf
Build-Depends-Indep: gawk
Standards-Version: 3.7.2

Package: egroupware
Architecture: all
Depends: egroupware-core, ${egw:Modules}
Description: web-based groupware suite
 ${commondesc}
 .
 This package is a metapackage containing dependencies on all the
 eGroupWare applications.  If you want to conveniently install
 eGroupWare with all available applications, install this package.

Package: egroupware-core
Architecture: all
Depends: apache2 | apache (>=1.3.29.0.1) | apache-ssl (>=1.3.29.0.1) | apache-perl (>=1.3.29.0.1),
 libapache2-mod-php5 | libapache-mod-php5,
 php5-cli,
 php5-pgsql | php5-mysql,
 php-fpdf (>= 1.53.dfsg-2), php5-gd, php-log, php-pear,
 perl, egroupware-egw-pear (= ${Source-Version}),
 ${misc:Depends}
Recommends: postgresql-client | mysql-client
Suggests: egroupware,
 php5-ldap,
 php5-mcrypt,
 php5-mhash,
 php5-imap,
 php5-auth-pam
Description: eGroupWare core modules
 ${commondesc}
 .
 The core package provides the modules for initial setup, global
 administration, and preferences, and the API for the applications.  It
 does not, by itself, provide any groupware functionality.  The actual
 eGroupWare applications are shipped separately in packages named
 "egroupware-<name>".

Package: egroupware-addressbook
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-etemplate (= ${Source-Version})
Description: eGroupWare addressbook management application
 ${commondesc}
 .
 This eGroupWare application provides a contact manager with vCard
 support.  It can store and retrieve contact information via SQL, LDAP,
 or Active Directory.

Package: egroupware-calendar
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-etemplate (= ${Source-Version}), egroupware-infolog (= ${Source-Version})
Description: eGroupWare calendar management application
 ${commondesc}
 .
 This eGroupWare application provides a powerful calendar with a meeting
 request system, alarms, iCal and E-Mail support, and ACL security.

Package: egroupware-developer-tools
Architecture: all
Depends: egroupware-core (= ${Source-Version})
Description: eGroupWare developer tools
 ${commondesc}
 .
 This eGroupWare application contains tools for eGroupWare developers
 and translators.  The translation tools allow you to create and extend
 translation files for eGroupWare.  They can search the sources for new
 or added phrases and show you the ones missing in your language.

Package: egroupware-emailadmin
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-egw-pear (= ${Source-Version})
Description: eGroupWare E-mail user administration application
 ${commondesc}
 .
 This eGroupWare application allows the administration of E-mail user
 accounts.  It is intended to be used with the package
 egroupware-felamimail.

Package: egroupware-etemplate
Architecture: all
Depends: egroupware-core (= ${Source-Version})
Description: widget-based template system for eGroupWare
 ${commondesc}
 .
 This eGroupWare application contains a widget-based template system for
 eGroupWare with an interactive editor and a database-table editor
 (creates tables_current.inc.php and updates automatically
 tables_update.inc.php).

Package: egroupware-felamimail
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-emailadmin (= ${Source-Version}),
 php5-imap
Provides: mail-reader, imap-client
Description: eGroupWare FeLaMiMail application
 ${commondesc}
 .
 FeLaMiMail is an E-mail application for eGroupWare.

Package: egroupware-filemanager
Architecture: all
Depends: egroupware-core (= ${Source-Version})
Description: eGroupWare file manager application
 ${commondesc}
 .
 This eGroupWare application provides a web-based file manager.
 Abilities include all common file actions (upload, mkdir, rename,
 delete, copy, move), creating, and editing text files, and syncing with
 the file system.  Per file/directory comments are stored, and version
 history is tracked.  Group sharing and ACL are fully supported.

Package: egroupware-infolog
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-etemplate (= ${Source-Version})
Description: eGroupWare infolog application
 ${commondesc}
 .
 This eGroupWare application allows tracking on-going and previous support
 requests, phone calls, and other customer relations.

Package: egroupware-manual
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-wiki (= ${Source-Version})
Description: eGroupWare manual
 ${commondesc}
 .
 This package contains the eGroupWare manual, provided an
 eGroupWare application.

Package: egroupware-mydms
Architecture: all
Depends: egroupware-core (= ${Source-Version})
Description: eGroupWare document management system
 ${commondesc}
 .
 This package contains a document management system for eGroupWare.

Package: egroupware-news-admin
Architecture: all
Depends: egroupware-core (= ${Source-Version})
Description: eGroupWare news administration interface
 ${commondesc}
 .
 This eGroupWare application provides an interface to handle a simple web
 based news system.

Package: egroupware-phpbrain
Architecture: all
Depends: egroupware-core (= ${Source-Version})
Description: eGroupWare phpbrain application
 ${commondesc}
 .
 This eGroupWare application provides a knowledge base system.

Package: egroupware-phpsysinfo
Architecture: all
Depends: egroupware-core (= ${Source-Version}),
 php5-gd
Description: eGroupWare phpSysInfo application
 ${commondesc}
 .
 phpSysInfo is a PHP script that displays information about the
 host being accessed.  It will displays things like uptime,
 lm-sensors readings, CPU, memory, SCSI, IDE, PCI, ethernet, floppy,
 and video information.

Package: egroupware-projectmanager
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-etemplate (= ${Source-Version}),
 php5-gd,
 ttf-bitstream-vera
Description: eGroupWare projects management application
 ${commondesc}
 .
 This eGroupWare application provides a project work-flow tracker.

Package: egroupware-registration
Architecture: all
Depends: egroupware-core (= ${Source-Version})
Description: eGroupWare registration application
 ${commondesc}
 .
 This eGroupWare application allows users to create eGroupWare accounts
 through a web interface.  Site administrators can decide what pieces of
 information are requested and whether each is required or not.

Package: egroupware-resources
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-etemplate (= ${Source-Version}), egroupware-filemanager (= ${Source-Version})
Suggests: egroupware-calendar
Description: eGroupWare resource manager application
 ${commondesc}
 .
 This eGroupWare application provides a resource management and booking
 system, which integrates into eGroupWare's calendar.

Package: egroupware-sambaadmin
Architecture: all
Depends: egroupware-core (= ${Source-Version}),
 php5-ldap
Description: eGroupWare Samba administration application
 ${commondesc}
 .
 This eGroupWare application is for managing LDAP-based Samba servers.

Package: egroupware-sitemgr
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-etemplate (= ${Source-Version})
Recommends: php5-xsl
Description: eGroupWare site manager application
 ${commondesc}
 .
 This is a content management system application for eGroupWare.

Package: egroupware-timesheet
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-etemplate (= ${Source-Version})
Suggests: egroupware-projectmanager
Description: eGroupWare timesheet application
 ${commondesc}
 .
 This eGroupWare application is for tracking times and other activities
 for the project manager.

Package: egroupware-wiki
Architecture: all
Depends: egroupware-core (= ${Source-Version}), egroupware-etemplate (= ${Source-Version})
Description: eGroupWare wiki application
 ${commondesc}
 .
 This eGroupWare application provides a wiki.

#Package: egroupware-workflow
#Architecture: all
#Depends: egroupware-core (= ${Source-Version})
#Description: eGroupWare workflow application
# ${commondesc}
# .
# This eGroupWare application provides a workflow management engine.

#Package: egroupware-jinn
#Architecture: all
#Depends: egroupware-core (= ${Source-Version})
#Description: eGroupWare jinn application
# ${commondesc}
# .
# This eGroupWare application provides the jinn application.

#Package: egroupware-gallery
#Architecture: all
#Depends: egroupware-core (= ${Source-Version})
#Description: eGroupWare gallery application
# ${commondesc}
# .
# This eGroupWare application provides a gallery.

Package: egroupware-egw-pear
Architecture: all
Depends: egroupware-core (= ${Source-Version})
Description: eGroupWare pear modules
 ${commondesc}
 .
 This eGroupWare application provides the patched pear classes, required by eGroupWare.
