Source: phpgroupware-phpgroupware
Section: web
Priority: optional
Maintainer: Luca - De Whiskey's - De Vitis <luca@debian.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: phpgroupware-core
Section: web
Architecture: all
Depends: phpgroupware (>= ${Source-Version}), php3-pgsql | php3-cgi-pgsql | php4-pgsql | php3-mysql | php3-cgi-mysql | php4-mysql
Provides: phpgroupware-core-doc
Conflicts: phpgroupware-core-doc
Description: The phpGroupWare core module
 This is the phpGroupWare core module. It provides the XMLRPC server, the SOAP
 server, the wrapper for anonymous login and other core files.

Package: phpgroupware
Architecture: all
Section: web
Depends: apache | httpd, php3-imap | php3-cgi-imap | php4-imap, phpgroupware-core (>= ${Source-Version}), phpgroupware-api (>= ${Source-Version}), phpgroupware-setup (>= ${Source-Version}), phpgroupware-admin (>= ${Source-Version}), phpgroupware-preferences (>= ${Source-Version}), debconf, wwwconfig-common
Recommends:  php3-ldap | php3-cgi-ldap | php4-ldap
Suggests: slapd | ldap-server, postgresql | mysql-server, courier-imap | imap-server, libdbi-perl, phpgroupware-manual, phpgroupware-todo, phpgroupware-notes, phpgroupware-email, phpgroupware-nntp, phpgroupware-calendar, phpgroupware-addressbook
Conflicts: phpgroupware-doc, phpgroupware-unstable-apps, phpgroupware-transy
Description: Web based GroupWare system written in PHP
 phpGroupWare is a web based GroupWare system. It comes with several core
 apps for email, calendar, todo list, address book, file manager, and a
 notepad. It also provides a framework for add-on modules to integrate
 seamlessly in phpGroupWare. Some samples are a bookmark manager, a trouble
 ticket system, a weather reporter, a phone log, a chat program, and a forum
 system. There are many more in development, and you can develop your own as
 well. 
 .
 You should use it if you would like a powerful groupware system that can be
 access from anywhere on the Internet, and allows for custom add-ons. For
 companies with a distributed user base, it's an ideal solution. Oh, and did I
 mention that its FREE? 
