/* $Id$ */
div#infolog-edit.et2_container {
	width: 842px;
}
.infolog_headertext { color: black; font-size: 120%; }
.infolog_lpadding5 { padding-left: 5px; }
.low,.low_done,.normal,.normal_done,.high,.high_done,.urgent,.urgent_done { font-weight: bold; }
.low,.low_done { color:#606060; }
.normal,.normal_done { color:black }
.high { color:#cc0000; }
.high_done { color:#800000; }
.urgent { color:#ff00ff; }
.urgent_done { color:#800080; }
.infolog_overdue { color:#cc0000; font-weight:bold; }
.private { font-style:italic; }
.infolog_planned { font-style:italic; }
table.infolog_fullWidth { width: 100%; }
.infolog_infoId:before span{ content:"#" }
#infolog-edit_info_contact { width: 98%;}
.infolog_fixedHeight { height: 12px; }
.noWrap { white-space: nowrap; }
.infolog_user_filter select { width: 100px; }
.inputFullWidth input { width: 100%; }
.infolog_image16 img { height: 16px; }
td.infolog_searchParent input[type=search] { width: 90%; }
.infolog_responsible select {width: 120px;}
#info_contact select { width: 117px; }
#info_contact input {width: 134px;}
#info_subject {width: 100%;}
tr.infolog_rowHasParent > td:first-child {
	background-image: url(../../../phpgwapi/templates/default/images/egw_action/arrow_up.png);
	background-repeat: no-repeat;
	background-position: 6px -2px;
}
tr.dialogHeader td, tr.dialogHeader2 td, tr.dialogHeader3 td, tr.dialogHeader4 td,
tr.dialogOperators td,.dialogFooterToolbar {
	padding: 5px 0 5px 0;
	vertical-align: middle;
}
