/* $Id$ */
#infolog-edit.et2_container {
}
/* Minimum width for first column */
#infolog-index.et2_container .gridCont_0_div_col_0 {
	min-width: 45px;
}

.infolog_headertext { color: black; font-size: 120%; }
.infolog_lpadding5 { padding-left: 5px; }
.low,.low_done,.normal,.normal_done,.high,.high_done,.urgent,.urgent_done { font-weight: bold; }
.low,.low_done { color:#606060; }
.normal,.normal_done { color:black }
.high { color:#cc0000; }
.high_done { color:#800000; }
.urgent { color:#ff00ff; }
.urgent_done { color:#800080; }
.infolog_overdue { color:#cc0000; font-weight:bold; }
.private { font-style:italic; }
.infolog_planned { font-style:italic; }
table.infolog_fullWidth { width: 100%; }
#infolog-edit_info_number:before { content:"#" }
.infolog_fixedHeight { height: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.infolog_normalWrap { white-space: normal; }
.infolog_user_filter select { width: 100px; }
.inputFullWidth input { width: 100%; }
.infolog_image16 img { height: 16px; }
.infolog_responsible select {width: 120px;}


.infolog_date_duration select.et2_date_duration {
	width: 69%;
	margin-left: 2px;
}

tr.infolog_rowHasParent > td:first-child {
    background-image: url(../../../api/templates/default/images/arrow_up.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 6px 6px;
}

/*get <a> tags inside description in listview with no breakline*/
.et2_nextmatch .egwGridView_grid tr td div.et2_vbox .infoDes a {
    display: inline-table;
}

/* break in words if necessary for description */
#infolog-index_nm div.infoDes > span {
    overflow-wrap: break-word;
}

/* Spacing for parent / sub indicators */
#infolog-index .egwGridView_grid .infolog_CompletedClmn {
    max-width: fit-content;
    margin-left: 10px;
}

#infolog-index tr.infolog_rowHasParent > td:first-child .infolog_CompletedClmn {
    margin-left: 16px;
}

/* Put line break for the first column*/
#infolog-index .egwGridView_grid .infolog_CompletedClmn::part(base) {
    flex-wrap: wrap;
    justify-content: center;
}

/* Right-align extra buttons in tab */
.infologExtraButton {
    margin-left: auto;
}

.infologExtraButton ~ .infologExtraButton {
    margin: 0;
}

div#infolog-edit_infolog-edit-description {
    height: 100%;
}

div#infolog-edit_infolog-edit-description iframe {
    height: calc(100% - 1em) !important;
}

#infolog-edit_info_responsible + .chzn-container .chzn-results {
    max-height: 150px;
}

#infolog-index #infolog-index_nm .egwGridView_scrollarea table.egwGridView_grid ul.et2_link_string li.et2_link {
	display: inline-block;
}

#infolog-index #infolog-index_nm .filtersContainer {
	width: 60%;
}
#infolog-index select#infolog-index_filter {
	width: 150px;
}
#infolog_edit_info_responsible_chzn { width:99% !important;}
#infolog-edit_clean_history {
	display: none;
}
#infolog_index_cat_id_chzn{
	min-width: auto;
	width: 40% !important;
}
.header_count.blur_count > span {
	color: transparent;
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
span#infolog-index_\$\{row\}\[info_des\] {
	flex: unset;
}