/* $Id$ */
#infolog-edit.et2_container {
}
/* Minimum width for first column */
#infolog-index.et2_container .gridCont_0_div_col_0 {
	min-width: 45px;
}

.infolog_headertext { color: black; font-size: 120%; }
.infolog_lpadding5 { padding-left: 5px; }
.low,.low_done,.normal,.normal_done,.high,.high_done,.urgent,.urgent_done { font-weight: bold; }
.low,.low_done { color:#606060; }
.normal,.normal_done { color:black }
.high { color:#cc0000; }
.high_done { color:#800000; }
.urgent { color:#ff00ff; }
.urgent_done { color:#800080; }
.infolog_overdue { color:#cc0000; font-weight:bold; }
.private { font-style:italic; }
.infolog_planned { font-style:italic; }
table.infolog_fullWidth { width: 100%; }
#infolog-edit_info_number:before { content:"#" }
#infolog-edit_info_contact { width: 98%;}
.infolog_fixedHeight { height: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.infolog_normalWrap { white-space: normal; }
.infolog_user_filter select { width: 100px; }
.inputFullWidth input { width: 100%; }
.infolog_image16 img { height: 16px; }
.infolog_responsible select {width: 120px;}
#info_contact select { width: 117px; }
#info_contact input {width: 134px;}
#info_subject {width: 100%;}

/* date-duration styling in project manager tab */
.infolog_date_duration:first-child input.et2_date_duration{
	float: left;
	width:137px;
}
.infolog_date_duration select.et2_date_duration {
	width: 52%;
	margin-left: 2px;
}

tr.infolog_rowHasParent > td:first-child {
	background-image: url(../../../phpgwapi/templates/default/images/egw_action/arrow_up.png);
	background-repeat: no-repeat;
	background-position: 6px -2px;
}
tr.dialogHeader td, tr.dialogHeader2 td, tr.dialogHeader3 td, tr.dialogHeader4 td,
tr.dialogOperators td,.dialogFooterToolbar {
	padding: 5px 0 5px 0;
	vertical-align: middle;
}
/*Project Name*/
#infolog-edit_infolog-edit-project .et2_link_entry.no_app input.ui-autocomplete-input {
  width: 291px;
}