.infolog_headertext { color: var(--sl-color-neutral-950); font-size: 120%; }
.infolog_lpadding5 { padding-left: 5px; }
.infolog_subjectHeader::part(base) {
  display: grid;
  grid-template-columns: minmax(0, 1fr) max-content;
  gap: 0;
}

.infolog_subjectHeader > :nth-child(even) {
  justify-self: end;
  text-align: right;
}
.infolog_user_filter select { width: 100px; }
.low,.low_done,.normal,.normal_done,.high,.high_done,.urgent,.urgent_done { font-weight: bold; }
.low,.low_done { color:#606060; }
.normal,.normal_done { color:var(--sl-color-neutral-950) }
.high { color:var(--sl-color-purple-700); }
.high_done { color:var(--sl-color-purple-900); }
.urgent { color:var(--sl-color-pink-700); }
.urgent_done { color:var(--sl-color-pink-900); }
.infolog_overdue { color: var(--sl-color-pink-700);; font-weight:bold; }
.private { font-style:italic; }
.infolog_planned { font-style:italic; }

.infolog_rowHasParent > td:nth-child(2) {
  background-image: url(node_modules/bootstrap-icons/icons/caret-up-fill.svg);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: ~'round(up, 0.3em,1px)' 0px;
}

/*get <a> tags inside description in listview with no breakline*/
.et2_nextmatch .egwGridView_grid tr td div.et2_vbox .infoDes a,
.infoDes a {
  display: inline-table;
}

.infoDes {
  display: var(--infolog-info-details-display, block);
  max-height: var(--descHeight, 5lh);
  overflow: auto;
  overflow-wrap: anywhere;
}

.infolog_fullWidth {
  height: 100%;

  .infoDes et2-description {
    align-items: flex-start;
  }

  et2-link-string {
    margin-top: auto;
    overflow: clip auto;
    max-height: 5lh;
  }
}

.infoDescRow {
  display: var(--infolog-info-details-display, block);
}

/* Spacing for parent / sub indicators */
.egwGridView_grid .infolog_CompletedClmn, .infolog_CompletedClmn {
  max-width: fit-content;
  margin-left: 10px;
  &::part(base){
	/* Put line break for the first column*/
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }
}

tr.infolog_rowHasParent > td:first-child .infolog_CompletedClmn {
  margin-left: 16px;
}
.infolog_infoId {
  text-align: right;
}

et2-hbox.infolog_CompletedClmn {
  et2-image {
	width: 1rem;
	*[part="image"] {
	  vertical-align: middle;
	}
  }

  progress {
	width: 100%;
	max-width: 2em;
  }
}
