p{
	margin-top : 1px;
	margin-bottom : 1px;
}
body{
	font-weight : bold;
	font-family : Tahoma;
	font-size : 13px;
}
.editorComment{
	color:gray;
}
.editorTags{
	color: #0000CD;
}
.editorCFTags{
	color: #D2691E;
}
.editorQuotes{
	color: #3CB371;
}
