body,p,td,th,table,input,form,option
{
	color: #000000;
}

body
{
	background-color: #F5F5F5;
}

a:link,a:active,a:visited
{
	color: darkgreen;
}

a:hover
{
	color: #cc0000;
}

.login,.portal,.about
{
	background-color: #AABBCC;
	border-color: #000000;
}

.info
{
	color: #FFFFFF;
}

.msgbox
{
	background-color: #FFFFFF;
}

.portal_text
{
	color: #FFFFFF;
	background-color: #bd524a;
}

.th_bright
{
	background-color: #AABBCC;
}

.row_on
{
	background-color: #D3DCE3;
}

.row_off
{
	background-color: #EEEEEE;
}

.th,.app_header
{
	background-color: #bd524a;
}

.navbar
{
	background-color: maroon;
}

.cal_today
{
	background-color: #D0DCE0;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #7090FF;
	color: #FFFFFF;
}
