/**
 * Styles for etemplate2 widgets
 *
 * @version: $Id$
 */

.timesheet_titleSum,.timesheet_titleDetails { font-weight: bold; }

#timesheet-edit.et2_container
{
}

/* add # sign behind the ts_id */
#timesheet-edit_ts_id:before { content:"#"}

/* make the modifier inline*/
.timesheet_modifier label
{
	display: inline-block;
	float: right;
}

.timesheet_modifier ul
{
	display: inline-block;
	float: left;
}