/**
 * Styles for etemplate2 widgets
 *
 * @version: $Id$
 */

/* Allow project list selection in nm header to be large */
#timesheet-index #timesheet-index_pm_id .ui-autocomplete.ui-menu
{
	max-height: 80%;
}
.timesheet_titleSum,.timesheet_titleDetails { font-weight: bold; }

/* Let category & total columns line up vertically with the 2-element headers (Duration, Total, etc) */
#timesheet-index .innerContainer > span {
    margin-bottom: 5px;
    display: inline-block;
}

#timesheet-edit.et2_container {
}

/* add # sign behind the ts_id */
#timesheet-edit_ts_id:before { content:"#"}

/* make the modifier inline*/
.timesheet_modifier label
{
	display: inline-block;
	float: right;
}

.timesheet_modifier ul
{
	display: inline-block;
	float: left;
}

label[id^='timesheet-index_'][id$='ts_start]'] time {padding-left:5px;}