<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>eGroupWare Info Log Icons</title>
</head>

<body bgcolor=Silver>
	Types:<br>
	<img src="phone.gif" width="20" height="20" alt="Telefon" border="0"> &nbsp;
	<img src="task.gif" width="20" height="20" alt="Aufgabe" border="0"> &nbsp;
	<img src="note.gif" width="20" height="20" alt="Notiz" border="0"> &nbsp;
	<img src="confirm.gif" width="20" height="20" alt="Bestätigung" border="0"> &nbsp;
	<img src="reject.gif" width="20" height="20" alt="Absage" border="0">
	<p>
	Status:<br>
	<img src="offer.gif" width="20" height="20" alt="Angebot" border="0"> &nbsp;
	<img src="ongoing.gif" width="20" height="20" alt="läuft" border="0"> &nbsp;
	<img src="call.gif" width="20" height="20" alt="anrufen" border="0"> &nbsp;
	<img src="will-call.gif" width="20" height="20" alt="ruft zurück" border="0"> 
&nbsp;
	<img src="done.gif" width="20" height="20" alt="erledigt" border="0"> &nbsp;
	<img src="billed.gif" width="20" height="20" alt="abgerechnet" border="0">
	<p>
	Actions:<br>
	<img src="new.gif" width="20" height="20" alt="neue Teilaufgabe" border="0"> 
&nbsp;
	<img src="view.gif" width="20" height="20" alt="Teilaufgagen anzeigen" 
border="0"> &nbsp;
	<img src="edit.gif" width="20" height="20" alt="bearbeiten" border="0"> &nbsp;
	<img src="delete.gif" width="20" height="20" alt="löschen" border="0">
</body>
</html>

