@import (less) "../default/app.css";

egw-app {
  --current-day-color: var(--sl-color-amber-200, #ffffcc);
}

#calendar-sidebox_date {
  .flatpickr-day {
	color: var(--sl-color-neutral-900);
  }
}

#calendar-sidebox_date .flatpickr-day.today {
  background-color: var(--current-day-color);
  color: var(--sl-color-neutral-900)
}
#calendar-sidebox_date .flatpickr-day.selected {
  background-color: var(--application-color);
}
.calendar_calTimeGrid .calendar_calDayColHeader .calendar_calToday.et2_link.et2_clickable {
	background-color: var(--current-day-color);
}

#calendar-view, #calendar-todo, #calendar-planner, #calendar-list {
  position: relative;
  width: 100% !important;
}

#calendar-sidebox {
  flex-grow: 0;
  width: 100%;
  display: block !important;
  iframe {
	display: none;
  }
}
#calendar-sidebox_date {
  flex-grow: 0;
}

#calendar-toolbar {
  #calendar-toolbar_app_header {
	color: inherit;
	background-color: transparent;
	border-color: inherit;
	align-items: center;
  }
  #calendar-toolbar_toolbar_today {
	min-width: 0;
  }
}
#calendar-todo {
  width: 100%;
  height: 100%;
  left: initial ;
  right: initial ;
  bottom: initial ;
}

[slot="filter"] {
  &::part(base) {
	display: flex;
	flex-direction: column;
	gap: var(--gap-width);
  }
}

.calendar_calEvent:not([class*=" cat_"]) {
  background-color: var(--primary-background-color)
}

/* CalendarOwner needs this to round avatars */
  .kdots-glassy {
	egw-app[id="calendar"] {
	.et2-input-widget {
	  &:not([disabled]) {
		&::part(base), &::part(input-control), &::part(combobox) {
		  --sl-border-radius-medium: var(--sl-input-height-medium);
		}
	  }
	}
  }
}
