@import (less) "../default/app.css";

#calendar-view, #calendar-todo, #calendar-planner, #calendar-list {
  position: relative;
  width: 100% !important;
}

#calendar-sidebox {
  width: 100%;
  display: block !important;
  iframe {
	display: none;
  }
}

#calendar-todo {
  width: 100%;
  height: 100%;
  left: initial ;
  right: initial ;
  bottom: initial ;
}

.calendar_calEvent:not([class*=" cat_"]) {
  background-color: var(--primary-background-color)
}