body,p,td,th,table,input,form,option
{
	color: #333333;
}

body
{
	background-color: #CCCCCC;
}

.top_top
{
	background-color: #999999;
}

.top_bottom
{
	background-color: #FFCCCC;
}

td.left
{
	background-color: #999999;
}

.left_app
{
	background-color: #990000;
}

.top_menu
{
	background-color: #990000;
}

.user_info
{
	background-color: #ADADAD;
	color: #FFFFFF;
}

.admin_info,a:link.admin_info,a:active.admin_info,a:visited.admin_info,a:hover.admin_info
{
	background-color: #999999;
	color: #FFFFFF;
}

.bottom
{
	color: #FFFFFF;
	background-color: #999999;
}

a:link,a:active,a:visited,a:hover
{
	color: #333333;
}

a:link.bottom,a:active.bottom,a:visited.bottom,a:hover.bottom,a:link.top_menu,a:active.top_menu,a:visited.top_menu,a:link.left,a:active.left,a:visited.left
{
	color: #FFFFFF;
}

a:hover.top_menu,a:link.top_menu_selected,a:active.top_menu_selected,a:visited.top_menu_selected,a:hover.top_menu_selected
{
	color: #660000;
	background-color: #FFFFFF;
}

a:hover.left,a:link.left_selected,a:active.left_selected,a:visited.left_selected,a:hover.left_selected
{
	color: #660000;
	background-color: #FFFFFF;
}

.login,.portal,.about
{
	background-color: #ADADAD;
	border-color: #000000;
}

a.portal_text,.portal_text
{
	color: #FFFFFF;
	text-decoration: none;
    background-color: #000066;
}

a:hover.portal_text
{
	text-decoration: underline;
	color: #000066;
	background-color: #FFFFFF;
}


.row_on,.app_header
{
	background-color: #ADADAD;
}

.th_bright
{
	background-color: #FFFFFF;
}

.msgbox
{
	background-color: #FFFFFF;
}

.row_off
{
	background-color: #999999;
}

.th
{
	background-color: #FFCCCC;
}

.th_text
{
	color: #333333;
}

.cal_today
{
	background-color: #ffffcc;
}

.cal_dayview
{
	background-color: #C0C0C0;
}

.email_folder
{
	background-color: #adadad;
	color: #ffffff;
}
