body,p,td,th,table,input,form,option
{
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

body
{
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
}

table
{
	border-width: 0;
}

a:link,a:visited,a:active
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a:hover.left,a:hover.top_link
{
	text-decoration: none;
}

a.th,a.th_text
{
	font-weight: bold;
}

.top_top
{
	height: 30;
}

.top_bottom
{
	height: 30;
}

.info
{
	font-size: 85%;
}

td.left
{
	height: 30;
}

.bottom
{
	width: 100%;
	height: 5%;
}

table.portal
{
	width: 100%;
}

table.about
{
	width: 70%;
}

table.login
{
	margin-top: 130px;
	width: 40%;
	text-align: center;
}

.login,.portal,.about,.msgbox
{
	border-width: 1px;
	border-style: ridge;
}

.portal_text
{
	font-weight: bold;
	background: url(../../default/images/bg_filler.png);
}


.user_info,.admin_info
{
	font-size: 80%;
	font-weight: bold;
}

.small_text
{
	font-size: 80%;
}

.header_text
{
	font-size: 110%;
	font-weight: bold;
}

.th_text,.app_header_text
{
	font-weight: bold;
}

.app_header,.th
{
	font-weight: bold;
}
