
/*** APPLICATION ***/
egw-app {
  --application-header-text-color: var(--sl-color-neutral-200);

  &::part(name) {
	display: flex;
	align-items: center;
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  &::part(header)
  {
	display: flex;
  }

  /* Nice formatting for templates slotted into header (no need to wrap contents in et2-hbox) */

  et2-template[slot="main-header"] {
	&::part(base) {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	}
  }

  &::part(row-count) {

  }
  &::part(content) {
	flex-direction: column;
	overflow-y:hidden;
  }

  &::part(filter) {
	--size: 40em;
	--label-width: max(15em, 30%);
	@media (max-width: 800px) {
	  --size: 100%;
	}
  }

  &::part(filter__panel) {
	z-index: var(--sl-z-index-drawer);
  }

  /* Application template gets full height */
  & > div[id] > div, & > div[id] > et2-template {
	height: 100%;
  }

  /*sidebox styling
  * same styling should apply to sl-details.favorites inside the EgwFrameworkApp.styles.ts
  */
  et2-details.sidebox{
	&::part(header) {
	  background-color: var(--application-color, var(--sl-color-primary-800, lightblue));
	  border-radius: 1em;
	  padding-block: var(--sl-spacing-3x-small);
	  margin: var(--sl-spacing-medium);
	  margin-bottom: 0;
	  margin-left:0;
	  color: var(--application-header-text-color);
	}
	&::part(base) {
	  border: none;

	}
  }
}

/* Individual application colors, should go in each app's CSS */
body, :root {
  // Color code for applications - not used by framework
  --addressbook-color: #003366;
  --admin-color: #333333;
  --bookmarks-color: #CC6633;
  --calendar-color: #CC0033;
  --filemanager-color: #ff9933;
  --infolog-color: #660033;
  --mail-color: #006699;
  --projectmanager-color: #669999;
  --resources-color: #003333;
  --timesheet-color: #330066;
  --tracker-color: #009966;
  --wiki-color: #797979;
  --ranking-color: #404040;
  --default-color: #797979;
  --kanban-color: #4663c8;
  --smallpart-color: #303333;

  egw-app[name="addressbook"] {
	--application-color: var(--addressbook-color);
  }

  egw-app[name="admin"] {
	--application-color: var(--admin-color);
  }

  egw-app[name="bookmarks"] {
	--application-color: var(--bookmarks-color);
  }

  egw-app[name="calendar"] {
	--application-color: var(--calendar-color);
  }

  egw-app[name="filemanager"] {
	--application-color: var(--filemanager-color);
  }

  egw-app[name="infolog"] {
	--application-color: var(--infolog-color);
  }

  egw-app[name="mail"] {
	--application-color: var(--mail-color);
  }

  egw-app[name="projectmanager"] {
	--application-color: var(--projectmanager-color);
  }

  egw-app[name="resources"] {
	--application-color: var(--resources-color);
  }

  egw-app[name="timesheet"] {
	--application-color: var(--timesheet-color);
  }

  egw-app[name="tracker"] {
	--application-color: var(--tracker-color);
  }

  egw-app[name="wiki"] {
	--application-color: var(--wiki-color);
  }

  egw-app[name="ranking"] {
	--application-color: var(--ranking-color);
  }

  egw-app[name="smallpart"] {
	--application-color: var(--smallpart-color);
  }
}

/*** END APPLICATION ***/
