@media screen and (max-width: 800px), screen and (max-height: 600px) {
  html:not(.desktop) html * {
    touch-action: auto;
    -webkit-overflow-scrolling: touch;
  }
  html:not(.desktop) :root,
  html:not(.desktop) body {
    /* Stop pull-to-refresh on chrome*/
    overflow-y: hidden;
    /* copied from previous framework */
  }
  html:not(.desktop) :root egw-framework#egw_fw_basecontainer,
  html:not(.desktop) body egw-framework#egw_fw_basecontainer {
    --left-side-width: 0px !important;
    /* Hide some parts */
  }
  html:not(.desktop) :root egw-framework#egw_fw_basecontainer::part(open-applications),
  html:not(.desktop) body egw-framework#egw_fw_basecontainer::part(open-applications),
  html:not(.desktop) :root egw-framework#egw_fw_basecontainer::part(status),
  html:not(.desktop) body egw-framework#egw_fw_basecontainer::part(status),
  html:not(.desktop) :root egw-framework#egw_fw_basecontainer::part(divider),
  html:not(.desktop) body egw-framework#egw_fw_basecontainer::part(divider) {
    display: none;
  }
  html:not(.desktop) :root egw-framework#egw_fw_basecontainer.egw_fw--left-side-collapsed::part(header),
  html:not(.desktop) body egw-framework#egw_fw_basecontainer.egw_fw--left-side-collapsed::part(header) {
    display: none;
  }
  html:not(.desktop) :root egw-framework#egw_fw_basecontainer::part(main),
  html:not(.desktop) body egw-framework#egw_fw_basecontainer::part(main) {
    overflow-x: hidden;
  }
  html:not(.desktop) :root egw-framework#egw_fw_basecontainer::part(status-split),
  html:not(.desktop) body egw-framework#egw_fw_basecontainer::part(status-split) {
    --max: 0;
  }
  html:not(.desktop) :root button[id*="save"]:hover,
  html:not(.desktop) body button[id*="save"]:hover,
  html:not(.desktop) :root button[id*="apply"]:hover,
  html:not(.desktop) body button[id*="apply"]:hover,
  html:not(.desktop) :root button[id*="copy"]:hover,
  html:not(.desktop) body button[id*="copy"]:hover,
  html:not(.desktop) :root button[id*="edit_button[edit]"]:hover,
  html:not(.desktop) body button[id*="edit_button[edit]"]:hover,
  html:not(.desktop) :root button.et2_button:hover,
  html:not(.desktop) body button.et2_button:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  html:not(.desktop) :root et2-dialog,
  html:not(.desktop) body et2-dialog {
    --width: 100%;
    /* Old way of adding stuff.  Buttons should be slotted into header-actions, anything else into label */
  }
  html:not(.desktop) :root et2-dialog .egw-popup,
  html:not(.desktop) body et2-dialog .egw-popup {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
  }
  html:not(.desktop) :root et2-dialog::part(panel),
  html:not(.desktop) body et2-dialog::part(panel) {
    /* allow dialog to be full screen */
    max-width: 100%;
    max-height: 100%;
    /* require dialog to be full screen */
    width: 100% !important;
    height: 100% !important;
    border-radius: 0;
  }
  html:not(.desktop) :root et2-dialog::part(header),
  html:not(.desktop) body et2-dialog::part(header) {
    /* Set header size, color & background */
    color: var(--application-header-text-color, var(--sl-color-neutral-100));
    background: var(--application-color, var(--sl-color-primary-500));
    height: var(--sl-spacing-3x-large);
    padding: 0;
    border-radius: 0 !important;
    flex-direction: row-reverse;
  }
  html:not(.desktop) :root et2-dialog::part(title),
  html:not(.desktop) body et2-dialog::part(title) {
    font-size: var(--sl-font-size-x-large);
    padding: 0;
    display: flex;
    align-items: center;
    /* Needs something so flex will work right */
    min-width: 5em;
  }
  html:not(.desktop) :root et2-dialog::part(header-actions),
  html:not(.desktop) body et2-dialog::part(header-actions) {
    flex-direction: row-reverse;
    font-size: var(--sl-font-size-2x-large);
    align-content: center;
  }
  html:not(.desktop) :root et2-dialog::part(close-button),
  html:not(.desktop) body et2-dialog::part(close-button) {
    color: var(--application-header-text-color, var(--sl-color-neutral-100));
    font-size: var(--sl-font-size-2x-large);
  }
  html:not(.desktop) :root et2-dialog::part(footer),
  html:not(.desktop) body et2-dialog::part(footer) {
    order: 0;
    /*box-shadow: 0px 4px 5px 2px silver;*/
    width: 100%;
    margin-top: 0px;
    background: var(--sl-color-primary-700);
    color: var(--application-header-text-color, var(--sl-color-neutral-100));
    /* Allow buttons to wrap */
    flex-wrap: wrap;
  }
  html:not(.desktop) :root et2-dialog .dialogHeadbar:empty,
  html:not(.desktop) body et2-dialog .dialogHeadbar:empty {
    display: none;
  }
  html:not(.desktop) :root et2-dialog .dialogHeadbar:not(:empty),
  html:not(.desktop) body et2-dialog .dialogHeadbar:not(:empty) {
    color: var(--application-header-text-color, var(--sl-color-neutral-100));
    font-size: var(--sl-font-size-x-large);
    position: fixed;
    height: calc(var(--sl-spacing-3x-large) - 1px);
    top: 1px;
    left: 5.5em;
    right: 0;
    z-index: 1;
    overflow: hidden;
  }
  html:not(.desktop) :root et2-dialog .dialogHeadbar:not(:empty) .entry_id,
  html:not(.desktop) body et2-dialog .dialogHeadbar:not(:empty) .entry_id {
    position: absolute;
    right: var(--sl-spacing-medium);
    font-weight: var(--sl-font-weight-bold);
  }
  html:not(.desktop) :root et2-dialog .dialogHeadbar:not(:empty) ::part(base),
  html:not(.desktop) body et2-dialog .dialogHeadbar:not(:empty) ::part(base) {
    box-shadow: none !important;
    background-color: transparent;
    --sl-input-border-color: transparent;
  }
  html:not(.desktop) :root et2-dialog et2-hbox[slot="label"],
  html:not(.desktop) body et2-dialog et2-hbox[slot="label"],
  html:not(.desktop) :root et2-dialog et2-box[slot="label"],
  html:not(.desktop) body et2-dialog et2-box[slot="label"],
  html:not(.desktop) :root et2-dialog et2-hbox[slot="header-actions"],
  html:not(.desktop) body et2-dialog et2-hbox[slot="header-actions"],
  html:not(.desktop) :root et2-dialog eg2-box[slot="header-actions"],
  html:not(.desktop) body et2-dialog eg2-box[slot="header-actions"] {
    flex: 1 1 min-content;
  }
  html:not(.desktop) :root et2-dialog et2-hbox[slot="label"]::part(base),
  html:not(.desktop) body et2-dialog et2-hbox[slot="label"]::part(base),
  html:not(.desktop) :root et2-dialog et2-box[slot="label"]::part(base),
  html:not(.desktop) body et2-dialog et2-box[slot="label"]::part(base),
  html:not(.desktop) :root et2-dialog et2-hbox[slot="header-actions"]::part(base),
  html:not(.desktop) body et2-dialog et2-hbox[slot="header-actions"]::part(base),
  html:not(.desktop) :root et2-dialog eg2-box[slot="header-actions"]::part(base),
  html:not(.desktop) body et2-dialog eg2-box[slot="header-actions"]::part(base) {
    align-items: center;
  }
  html:not(.desktop) :root et2-dialog span[slot="label"],
  html:not(.desktop) body et2-dialog span[slot="label"] {
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline-end: var(--sl-spacing-small);
  }
  html:not(.desktop) :root et2-dialog et2-number[slot="label"],
  html:not(.desktop) body et2-dialog et2-number[slot="label"] {
    display: inline-flex;
  }
  html:not(.desktop) :root et2-dialog et2-button[slot="footer"]:has(et2-image),
  html:not(.desktop) body et2-dialog et2-button[slot="footer"]:has(et2-image) {
    /* Fixed size on footer buttons */
    width: 50px;
    height: 50px;
  }
  html:not(.desktop) :root et2-dialog et2-button[slot="footer"] et2-image,
  html:not(.desktop) body et2-dialog et2-button[slot="footer"] et2-image {
    max-width: initial;
    left: 0;
  }
  html:not(.desktop) :root et2-dialog et2-button[slot="footer"] et2-image span,
  html:not(.desktop) body et2-dialog et2-button[slot="footer"] et2-image span {
    padding-left: 20px;
  }
  html:not(.desktop) :root et2-dialog et2-button[slot="footer"][id*="cancel"],
  html:not(.desktop) body et2-dialog et2-button[slot="footer"][id*="cancel"] {
    /* Hide cancel button, it will look like a duplicated bug so close to dialog close button */
    display: none;
  }
  html:not(.desktop) :root et2-dialog et2-button[slot="footer"]:has(et2-image)::part(base),
  html:not(.desktop) body et2-dialog et2-button[slot="footer"]:has(et2-image)::part(base),
  html:not(.desktop) :root et2-dialog et2-button[slot="footer"]:has(et2-image)::part(base):not(:hover),
  html:not(.desktop) body et2-dialog et2-button[slot="footer"]:has(et2-image)::part(base):not(:hover),
  html:not(.desktop) :root et2-dialog et2-button[variant=default][slot="footer"]:has(et2-image)::part(base):not(:hover),
  html:not(.desktop) body et2-dialog et2-button[variant=default][slot="footer"]:has(et2-image)::part(base):not(:hover) {
    /* Have an icon - Hide button style, just show image */
    border: none;
    background: transparent;
    justify-content: center;
    color: var(--sl-color-neutral-100);
  }
  html:not(.desktop) :root et2-dialog et2-button[slot="footer"]:has(et2-image)::part(label),
  html:not(.desktop) body et2-dialog et2-button[slot="footer"]:has(et2-image)::part(label) {
    /* Visually hide labels but leave them there for accessibility */
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    flex: 0 1 auto;
  }
  html:not(.desktop) :root et2-dialog #delete_popup,
  html:not(.desktop) body et2-dialog #delete_popup {
    position: absolute;
    z-index: 1000000;
    display: block;
  }
  html:not(.desktop) :root et2-dialog #timer_dialog::part(header),
  html:not(.desktop) body et2-dialog #timer_dialog::part(header),
  html:not(.desktop) :root et2-dialog et2-dialog#timer_dialog::part(footer),
  html:not(.desktop) body et2-dialog et2-dialog#timer_dialog::part(footer) {
    background-color: var(--timesheet-color);
  }
  html:not(.desktop) :root .et2_nextmatch,
  html:not(.desktop) body .et2_nextmatch {
    /* If there's a filterbox, hide the header */
  }
  html:not(.desktop) :root .et2_nextmatch .nextmatch_sortheader,
  html:not(.desktop) body .et2_nextmatch .nextmatch_sortheader {
    padding-right: 0px;
    margin-right: 0px;
  }
  html:not(.desktop) :root .et2_nextmatch.et2-filterbox--loaded .nextmatch_header,
  html:not(.desktop) body .et2_nextmatch.et2-filterbox--loaded .nextmatch_header,
  html:not(.desktop) :root .et2_nextmatch.et2-filterbox--loaded .nm-mob-header,
  html:not(.desktop) body .et2_nextmatch.et2-filterbox--loaded .nm-mob-header,
  html:not(.desktop) :root .et2_nextmatch.et2-filterbox--loaded .nm_favorites_div,
  html:not(.desktop) body .et2_nextmatch.et2-filterbox--loaded .nm_favorites_div {
    display: none;
  }
  html:not(.desktop) :root .et2_nextmatch .nextmatch_header.nm_header_hide,
  html:not(.desktop) body .et2_nextmatch .nextmatch_header.nm_header_hide {
    display: none !important;
  }
  html:not(.desktop) :root .et2_nextmatch .egwGridView_outer thead tr,
  html:not(.desktop) body .et2_nextmatch .egwGridView_outer thead tr {
    visibility: hidden;
  }
  html:not(.desktop) :root .et2_nextmatch .egwGridView_outer .egwGridView_grid,
  html:not(.desktop) body .et2_nextmatch .egwGridView_outer .egwGridView_grid {
    width: 100%;
  }
  html:not(.desktop) :root .et2_nextmatch .search.searchOn input,
  html:not(.desktop) body .et2_nextmatch .search.searchOn input {
    border: none;
    background: white;
    outline: none;
    position: absolute;
    left: 110px;
    width: 80%;
    height: var(--sl-font-size-large);
  }
  html:not(.desktop) :root .et2_nextmatch .search.searchOn button[id$="search_button"],
  html:not(.desktop) body .et2_nextmatch .search.searchOn button[id$="search_button"] {
    background-image: none !important;
  }
  html:not(.desktop) :root .et2_nextmatch .search.searchOn button[id$="search_button"]:after,
  html:not(.desktop) body .et2_nextmatch .search.searchOn button[id$="search_button"]:after {
    content: "\2613";
    font-weight: bold;
    font-size: 18pt;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header {
    background: var(--primary-color);
    margin-top: 0;
    padding-left: 60px;
    position: relative;
    height: 50px;
    z-index: 1;
    display: flex;
    border-bottom: 1px solid transparent;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header et2-button-icon,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header et2-button-icon {
    font-size: 2.3em;
    color: var(--sl-color-neutral-0);
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header button,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header button {
    height: var(--sl-font-size-large);
    width: var(--sl-font-size-large);
    background-repeat: no-repeat;
    font-size: large;
    background-color: var(--primary-color);
    border: none;
    margin: 0;
    color: white;
    background-size: 18px 18px;
    box-shadow: none;
    outline: none;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.et2_searchbox,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.et2_searchbox {
    display: inline-block;
    width: 50px;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header button.nm_toggle_header,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header button.nm_toggle_header {
    background-image: url(../../node_modules/bootstrap-icons/icons/list-task.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    color: var(--sl-color-neutral-0);
    order: 9;
    padding: 0 1em 0 1em;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header button.nm_toggle_header:focus,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header button.nm_toggle_header:focus {
    outline: none;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header button.nm_action_header,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header button.nm_action_header {
    background-image: url(../../node_modules/bootstrap-icons/icons/three-dots-vertical.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid silver;
    border: 0;
    color: white;
    width: 50px;
    height: 50px;
    display: block;
    color: var(--sl-color-neutral-0);
    order: 10;
    padding: 0 1em 0 1em;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header button.nm_action_header:focus,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header button.nm_action_header:focus {
    outline: none;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header button.nm_action_header.back,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header button.nm_action_header.back {
    background-image: url(../../node_modules/bootstrap-icons/icons/x-lg.svg);
    -webkit-filter: none !important;
    background-color: white !important;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_delete_action,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_delete_action {
    background-image: url(../../node_modules/bootstrap-icons/icons/trash3.svg);
    color: var(--sl-color-neutral-0);
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid silver;
    border: 0;
    color: black;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    display: none;
    order: 7;
    padding: 0 1em 0 1em;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div {
    order: 8;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid silver;
    border: 0;
    color: white;
    height: 50px;
    display: none;
    float: right;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div:focus,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div:focus {
    outline: none;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"],
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] {
    top: 0 !important;
    outline: none;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] .et2_dropdown button:first-child,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] .et2_dropdown button:first-child {
    display: none;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] .et2_dropdown button:nth-child(2),
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] .et2_dropdown button:nth-child(2) {
    background-position: center;
    background-image: url(../../node_modules/bootstrap-icons/icons/star.svg) !important;
    background-size: 24px 24px;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] .et2_dropdown button:nth-child(2) div:first-child,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] .et2_dropdown button:nth-child(2) div:first-child {
    display: none;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites {
    height: 250px;
    width: 100%;
    left: 0px !important;
    box-shadow: 0px 4px 5px 2px silver;
    border: 1px solid silver;
    overflow-y: auto !important;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item[data-id="blank"]:before,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item[data-id="blank"]:before {
    content: '';
    background-image: url(../../node_modules/bootstrap-icons/icons/trash3.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 4px;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item:not([data-id="add"]):not([data-id="blank"]):before,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item:not([data-id="add"]):not([data-id="blank"]):before {
    content: '';
    background-image: url(../../node_modules/bootstrap-icons/icons/star.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 4px;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid silver;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item a,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item a {
    width: 100%;
    line-height: 30px;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item a input,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item a input {
    display: none;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item a div.ui-icon-trash,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item a div.ui-icon-trash {
    display: block;
    padding-right: 8px;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header button.nm_toggle_header_on,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header button.nm_toggle_header_on {
    background-image: url(../../node_modules/bootstrap-icons/icons/x-lg.svg);
    -webkit-filter: none !important;
    background-color: white !important;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header et2-searchbox,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header et2-searchbox {
    order: -1;
    width: -webkit-fill-available;
  }
  html:not(.desktop) :root .et2_nextmatch .nm-mob-header div.nm_appname_header,
  html:not(.desktop) body .et2_nextmatch .nm-mob-header div.nm_appname_header {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    opacity: 0.2;
    text-align: center;
    padding-top: 13px;
    z-index: -1;
  }
  html:not(.desktop) :root .et2_nextmatch .header_row_right,
  html:not(.desktop) body .et2_nextmatch .header_row_right {
    height: var(--sl-font-size-large);
    width: 100%;
    padding: 0;
  }
  html:not(.desktop) :root .et2_nextmatch .header_row_right div[id$=favorite_wrapper],
  html:not(.desktop) body .et2_nextmatch .header_row_right div[id$=favorite_wrapper] {
    margin: 0;
    top: 0 !important;
    height: var(--sl-font-size-large);
  }
  html:not(.desktop) :root .et2_nextmatch .header_row_right *,
  html:not(.desktop) body .et2_nextmatch .header_row_right * {
    float: left;
    max-width: 100% !important;
  }
  html:not(.desktop) :root .et2_nextmatch .header_row_right .et2_dropdown button,
  html:not(.desktop) body .et2_nextmatch .header_row_right .et2_dropdown button {
    height: var(--sl-font-size-large);
    width: var(--sl-font-size-large);
  }
  html:not(.desktop) :root .et2_nextmatch .header_count,
  html:not(.desktop) body .et2_nextmatch .header_count {
    margin: 0;
    height: var(--sl-font-size-large);
    font-size: var(--sl-font-size-large);
    margin-top: -3px;
    margin-right: 0px;
    float: right;
    border: none;
    border-radius: 0;
  }
  html:not(.desktop) :root .et2_nextmatch .header_count span,
  html:not(.desktop) body .et2_nextmatch .header_count span {
    font-size: var(--sl-font-size-large);
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tr div.h2_hbox,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tr div.h2_hbox {
    padding-bottom: 4px;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr.focused,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr.focused {
    background-image: none;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]),
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]) {
    background: #b0bfd8 !important;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]) *,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]) * {
    color: white !important;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]) td:last-child,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]) td:last-child {
    position: relative;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]) td:last-child:before,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]) td:last-child:before {
    content: " ";
    position: absolute;
    background: #b0bfd8;
    right: 0px;
    bottom: 0px;
    top: 0px;
    color: white;
    background-image: url(../../node_modules/bootstrap-icons/icons/check-lg.svg);
    background-repeat: no-repeat;
    height: auto;
    background-size: 20px;
    background-position: center;
    height: 99%;
    width: 99%;
    z-index: 1;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr:hover,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr:hover {
    background: transparent;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td {
    padding: 10px 0px 10px 0px;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td .et2_label,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_label,
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td .et2_button,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_button,
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td .et2_link,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_link,
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td .et2_textbox,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_textbox,
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td .et2_textbox_ro,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_textbox_ro,
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td .et2_email,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_email,
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td img,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td img {
    padding: 8px 0px 0px 0px;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td time.et2_label,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td time.et2_label,
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td span.mobile_cat_col,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td span.mobile_cat_col {
    padding: 0;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr td div.et2_progress,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr td div.et2_progress {
    margin: 0;
  }
  html:not(.desktop) :root .et2_nextmatch table.egwGridView_grid tbody tr.swipe,
  html:not(.desktop) body .et2_nextmatch table.egwGridView_grid tbody tr.swipe {
    background-color: #ffc200;
    border: none;
  }
  html:not(.desktop) :root .et2_nextmatch .egwGridView_outer,
  html:not(.desktop) body .et2_nextmatch .egwGridView_outer {
    width: 100%;
  }
  html:not(.desktop) :root .et2_nextmatch .egwGridView_outer thead,
  html:not(.desktop) body .et2_nextmatch .egwGridView_outer thead {
    max-height: 1px;
    display: none;
  }
  html:not(.desktop) :root .et2_nextmatch .egwGridView_outer thead tr th,
  html:not(.desktop) body .et2_nextmatch .egwGridView_outer thead tr th {
    font-size: large;
  }
  html:not(.desktop) :root .et2_nextmatch .egwGridView_outer td img,
  html:not(.desktop) body .et2_nextmatch .egwGridView_outer td img {
    border: none;
  }
  html:not(.desktop) :root .et2_details .et2_details_toggle:after,
  html:not(.desktop) body .et2_details .et2_details_toggle:after {
    width: 30px;
    height: 30px;
    font-size: 18pt;
    text-align: center;
    padding: 9px;
  }
  html:not(.desktop) et2-button-icon.plus_button {
    display: flex;
    position: fixed !important;
    right: 15px;
    bottom: 15px;
    font-size: 45px;
    line-height: 45px;
    border-radius: var(--sl-border-radius-circle);
    z-index: 100;
    background-color: var(--application-color, var(--primary-color, var(--sl-color-primary-500)));
    border: none;
    margin: 0;
    padding: 0;
    color: var(--sl-color-neutral-0);
  }
  html:not(.desktop) et2-button-icon.plus_button:hover,
  html:not(.desktop) et2-button-icon.plus_button:active {
    background-color: #0c5da5;
  }
  html:not(.desktop) .kdots-glassy [slot='label']::part(base),
  html:not(.desktop) .kdots-glassy [slot='label'] *::part(base),
  html:not(.desktop) .kdots-glassy [slot='label'] *::part(input-control),
  html:not(.desktop) .kdots-glassy [slot='label'] *::part(combobox),
  html:not(.desktop) .kdots-glassy [slot='label'] *::part(button__base) {
    box-shadow: none !important;
  }
  html:not(.desktop) .egw-popup [slot='label'] et2-dropdown-button {
    --sl-spacing-large: 0;
    --sl-input-border-color: transparent;
  }
}
