/**
 * kDots main styles
 *
 * Note that light / dark colors (& other theme customisations) should go in themes/light.less & themes/dark.less
 * and override as needed
 */
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: clip;
  padding: 0px;
  margin: 0px;
  /** Messages **/
  /** end messages **/
}
html .sl-toast-stack,
body .sl-toast-stack {
  top: auto;
  bottom: 0px;
  width: 50rem;
}
html .sl-toast-stack sl-alert et2-checkbox,
body .sl-toast-stack sl-alert et2-checkbox {
  padding-top: var(--sl-spacing-large);
}
html #egw_message,
body #egw_message {
  display: none;
}
@keyframes loading-prompt-spinner {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
html .egw-loading-prompt-container::before,
body .egw-loading-prompt-container::before {
  opacity: 0.3;
  content: "";
  background-color: var(--sl-color-neutral-100);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}
html .egw-loading-prompt-container .egw-loading-prompt-spinner-msg,
body .egw-loading-prompt-container .egw-loading-prompt-spinner-msg {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 48%;
  z-index: 999;
  text-shadow: 4px 4px 7px var(--sl-color-primary-500);
  color: var(--sl-color-primary-900);
  margin-top: 52px;
}
html .egw-loading-prompt-container .egw-loading-prompt-spinner-animator,
body .egw-loading-prompt-container .egw-loading-prompt-spinner-animator {
  width: 38px;
  height: 38px;
  position: absolute;
  margin-left: 50%;
  left: -17px;
  top: 48%;
  z-index: 999;
  background-position: 3px 3px;
  opacity: 1;
  background-repeat: no-repeat;
  vertical-align: middle;
  border: 5px solid;
  border: 6px var(--sl-color-primary-500) solid;
  border-top: 6px var(--sl-color-primary-900) solid;
  border-radius: 50%;
  -webkit-animation: loading-prompt-spinner 1.2s infinite linear;
  animation: loading-prompt-spinner 1.2s infinite linear;
}
@keyframes loading-prompt-horizental {
  0% {
    transform: translate(-52.5px, -7.5px);
  }
  100% {
    transform: translate(38.5px, -7.5px);
  }
}
html .egw-loading-prompt-container .egw-loading-prompt-horizental-animator::after,
body .egw-loading-prompt-container .egw-loading-prompt-horizental-animator::after {
  content: '';
  position: absolute;
  top: 48%;
  left: 50%;
  width: 15px;
  height: 15px;
  z-index: 999;
  border-radius: 30%;
  background: #FBC200;
  animation-name: loading-prompt-horizental;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
html .egw-loading-prompt-container .egw-loading-prompt-horizental-msg,
body .egw-loading-prompt-container .egw-loading-prompt-horizental-msg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  text-shadow: 4px 4px 7px var(--sl-color-primary-500);
  color: var(--sl-color-primary-900);
  margin-left: -35px;
}
html .egw-loading-prompt-container .egw-loading-prompt-horizental-animator::before,
body .egw-loading-prompt-container .egw-loading-prompt-horizental-animator::before {
  content: '';
  position: absolute;
  top: 48%;
  left: 50%;
  z-index: 999;
  width: 100px;
  border-radius: 5px;
  border: solid 10px var(--sl-color-primary-500);
  transform: translate(-50%, -50%);
}
/* BI icons - Path is relative to destination directory */
.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  vertical-align: middle;
}
.egw_menu::part(popup) {
  z-index: var(--sl-z-index-dropdown);
}
egw-framework#egw_fw_basecontainer {
  --icon-size: 40px;
  --sl-tooltip-arrow-size: 0;
  /* Internals */
  /* Content slotted inside */
}
egw-framework#egw_fw_basecontainer::part(status-split) {
  /* This limits the max size of the status panel */
  --max: 15em;
}
egw-framework#egw_fw_basecontainer::part(header) {
  --icon-size: 40px;
  --tab-icon-size: var(--icon-size);
  --tab-icon-size-active: 46px;
  color: var(--primary-background-color);
  gap: 0;
  font-size: var(--icon-size);
  padding: 0.4rem;
  padding-right: 1px;
}
egw-framework#egw_fw_basecontainer::part(app-list-panel) {
  padding: var(--sl-spacing-medium);
  gap: var(--sl-spacing-medium);
}
egw-framework#egw_fw_basecontainer [slot="logo"] {
  flex-grow: 1;
}
egw-framework#egw_fw_basecontainer [slot="logo"] img {
  max-width: calc(var(--left-side-width, 220px) - var(--icon-size));
  max-height: var(--icon-size);
  min-width: var(--icon-size);
  display: block;
  text-align: center;
}
egw-framework#egw_fw_basecontainer sl-icon-button[slot="header"],
egw-framework#egw_fw_basecontainer et2-image[slot="header"] {
  font-size: var(--icon-size);
  color: inherit;
}
egw-framework#egw_fw_basecontainer div#egw_fw_toggler {
  position: initial;
  display: none;
}
egw-framework#egw_fw_basecontainer #egw_fw_topmenu_info_items {
  position: relative;
  order: 99;
  margin-left: auto;
  gap: var(--sl-spacing-large);
}
egw-framework#egw_fw_basecontainer #egw_fw_topmenu_info_items .topmenu_info_item {
  min-width: 1em;
  min-height: 1em;
}
egw-framework#egw_fw_basecontainer #egw_fw_topmenu_info_items #quick_add_selectbox::part(emptyLabel) {
  display: none;
}
egw-framework#egw_fw_basecontainer #egw_fw_topmenu_info_items #quick_add_selectbox::part(combobox) {
  width: 1px;
  padding: 0;
  box-shadow: none;
  border: none;
}
egw-framework#egw_fw_basecontainer div#egw_fw_sidebar_r {
  position: initial;
  top: initial;
}
egw-framework#egw_fw_basecontainer div#egw_fw_sidebar_r et2-avatar,
egw-framework#egw_fw_basecontainer div#egw_fw_sidebar_r et2-lavatar {
  --size: 40px;
}
egw-framework#egw_fw_basecontainer .egw_fw_ui_sidemenu_entry_header {
  display: flex;
  gap: var(--sl-spacing-medium);
  padding-left: 1em;
}
table.et2_grid > tbody > tr > td:last-child et2-image.iphoto {
  position: relative;
  left: 10px;
  top: -2px;
}
/*** HEADER ***/
/**
	color selection for header timer
	 */
.timesheet_timer,
#egw_fw_topmenu_info_items #topmenu_info_timer #topmenu_timer {
  text-align: center;
  font-size: 20px;
  white-space: nowrap;
  color: #606060;
}
.timesheet_timer.running,
#egw_fw_topmenu_info_items #topmenu_info_timer #topmenu_timer.running {
  color: blue;
}
.timesheet_timer.running.overall,
#egw_fw_topmenu_info_items #topmenu_info_timer #topmenu_timer.running.overall {
  color: black;
}
.timesheet_timer.paused,
#egw_fw_topmenu_info_items #topmenu_info_timer #topmenu_timer.paused {
  color: orange;
}
/** end color for timer*/
#egw_fw_topmenu_info_items {
  /*these are the icons on the right
  timer, darkmode, quickadd, notifications, account
  */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: var(--sl-color-neutral-600);
  font-size: var(--header-icon-size);
}
#egw_fw_topmenu_info_items > * {
  border: none;
  background-color: transparent;
}
#egw_fw_topmenu_info_items #topmenu_info_user_avatar {
  width: calc(calc(2 * var(--sl-spacing-2x-small)) + var(--icon-size));
  height: calc(calc(2 * var(--sl-spacing-2x-small)) + var(--icon-size));
}
#egw_fw_topmenu_info_items #topmenu_info_user_avatar sl-button::part(label) {
  padding: 0;
}
#egw_fw_topmenu_info_items #topmenu_info_user_avatar sl-button::part(base) {
  border: none;
}
#egw_fw_topmenu_info_items #topmenu_info_user_avatar et2-avatar {
  --size: calc(0.6rem + var(--icon-size));
}
#egw_fw_topmenu_info_items #topmenu_info_user_avatar::part(base) {
  vertical-align: initial;
}
#egw_fw_topmenu_info_items .topmenu_info_item {
  height: var(--icon-size);
  width: var(--icon-size);
  display: inline-block;
}
#egw_fw_topmenu_info_items .topmenu_info_item:hover {
  background-color: var(--sl-input-background-color-hover);
}
#egw_fw_topmenu_info_items et2-button-icon::part(base) {
  padding: 0;
}
#egw_fw_topmenu_info_items #topmenu_info_timer {
  order: 1;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px;
  width: calc(1.8 * var(--icon-size));
  height: var(--header-icon-size);
  left: var(--sl-spacing-large);
  border: 1px solid var(--sl-color-neutral-600);
  border-radius: var(--sl-border-radius-pill);
}
#egw_fw_topmenu_info_items #topmenu_info_timer #timerIconRunning,
#egw_fw_topmenu_info_items #topmenu_info_timer #timerIconPaused {
  padding-left: calc(1.6rem / 7);
  font-size: 1.6em;
}
#egw_fw_topmenu_info_items #topmenu_info_timer #timerIconRunning:has(~ div.paused) {
  display: none;
}
#egw_fw_topmenu_info_items #topmenu_info_timer #timerIconPaused:has( ~ div:not(.paused)) {
  display: none;
}
#egw_fw_topmenu_info_items #topmenu_info_timer #topmenu_timer {
  display: block;
  width: 100%;
  z-index: 2;
  font-size: larger;
}
#egw_fw_topmenu_info_items #topmenu_info_timer:hover {
  cursor: pointer;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add {
  position: relative;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add span#quick_add {
  display: block;
  background-image: url(../../node_modules/bootstrap-icons/icons/plus-circle.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  width: 100%;
  height: 100%;
  padding-right: 3px;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add span#quick_add:before {
  content: " ";
  font-size: 2em;
  line-height: 0.6em;
  background-color: white;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add #quick_add_selectbox {
  height: 0px;
  display: inline-block;
  text-align: initial;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add #quick_add_selectbox sl-option {
  white-space: nowrap;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add #quick_add_selectbox::part(emptyLabel) {
  /* do NOT show empty label, required for clearing value */
  display: none;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add #quick_add_selectbox::part(form-control-input),
#egw_fw_topmenu_info_items #topmenu_info_quick_add #timer_selectbox::part(form-control-input) {
  border: none !important;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add #quick_add_selectbox::part(form-control),
#egw_fw_topmenu_info_items #topmenu_info_quick_add #timer_selectbox::part(form-control) {
  margin-left: -3em;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add #quick_add_selectbox::part(listbox),
#egw_fw_topmenu_info_items #topmenu_info_quick_add #timer_selectbox::part(menu) {
  max-height: 60vh;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add #quick_add_selectbox {
  height: 0px;
  overflow: hidden;
}
#egw_fw_topmenu_info_items #topmenu_info_quick_add #quick_add_selectbox::part(combobox) {
  visibility: hidden;
}
#egw_fw_topmenu_info_items #topmenu_info_user_avatar sl-menu-item et2-image {
  width: 1em;
}
#egw_fw_topmenu_info_items button#topmenu_info_search {
  background-image: url(../../api/templates/default/images/topmenu_items/search.svg);
}
#topmenu_info_print_title {
  background-image: url(../../../api/templates/default/images/print.svg);
}
#topmenu_info_print_title span {
  width: 45px;
  height: 45px;
  display: inline-block;
}
/* popup copied from pixelegg */
#egwpopup {
  top: 46px;
  right: 0 !important;
  left: auto !important;
  height: calc(100% - 69px);
  width: 277px !important;
  position: absolute;
  background: #fff;
  border: 1px solid silver;
  border-top: none;
  border-bottom: none;
  padding: 1em;
  /*Button*/
}
#egwpopup input#egwpopup_ok_button,
#egwpopup button#desktop_perms {
  padding: 0 5px;
}
#egwpopup #egwpopup_list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
}
#egwpopup #egwpopup_list::-webkit-scrollbar {
  width: 4px;
  background-color: #fafafa;
}
#egwpopup #egwpopup_list::-webkit-scrollbar-thumb {
  background-color: #6a6f71;
}
#egwpopup #egwpopup_list {
  overflow-y: auto;
  height: calc(100% - 52px);
}
#egwpopup #egwpopup_list .egwpopup_time_label {
  width: 100%;
  color: #fafafa;
  text-align: center;
  font-style: italic;
  opacity: 0.5;
  font-size: 10pt;
  background: #255ea5;
  font-weight: bold;
}
#egwpopup #egwpopup_list span.egwpopup_delete {
  display: inline-block;
  float: right;
  width: 24px;
  height: 24px;
  background-image: url(../../node_modules/bootstrap-icons/icons/trash3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  cursor: pointer;
}
#egwpopup #egwpopup_list .egwpopup_mark {
  display: inline-block;
  float: right;
  width: 10px;
  height: 10px;
  border: 1px solid #b9436c;
  border-radius: 50%;
  margin: 7px;
  background: #b9436c;
  cursor: pointer;
}
#egwpopup #egwpopup_list .egwpopup_message {
  height: auto;
  overflow: hidden;
  padding: 10px;
  background-color: #fafafa;
  margin-bottom: 5px;
}
#egwpopup #egwpopup_list .egwpopup_message:hover {
  background-color: rgba(103, 159, 210, 0.2);
}
#egwpopup #egwpopup_list .egwpopup_message .egwpopup_message_inner_container {
  height: 63px;
  overflow: hidden;
}
#egwpopup #egwpopup_list .egwpopup_message .egwpopup_message_inner_container a {
  max-width: 60em;
  display: inline-block;
  overflow-wrap: break-word;
  vertical-align: text-top;
}
#egwpopup #egwpopup_list .egwpopup_message .egwpopup_message_top_toolbar {
  display: inline-block;
  width: 100%;
}
#egwpopup #egwpopup_list .egwpopup_message .egwpopup_message_top_toolbar .egwpopup_message_date {
  float: left;
  color: #767676;
}
#egwpopup #egwpopup_list .egwpopup_message .egwpopup_message_top_toolbar .egwpopup_message_open {
  display: inline-block;
  float: right;
  width: 24px;
  height: 24px;
  background-image: url(../../node_modules/bootstrap-icons/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  cursor: pointer;
}
#egwpopup #egwpopup_list .egwpopup_message .egwpopup_message_top_toolbar .egwpopup_collapse {
  display: none;
}
#egwpopup #egwpopup_list .egwpopup_message .egwpopup_actions_container {
  text-align: center;
}
#egwpopup #egwpopup_list .egwpopup_message .egwpopup_actions_container > button {
  height: 24px;
  width: 80px;
  border: none;
  background: #e6e6e6;
  background-size: 16px;
  background-position: 12px center;
  background-repeat: no-repeat;
  padding-left: 26px;
}
#egwpopup #egwpopup_list .egwpopup_message .egwpopup_message_more_info {
  color: #767676;
  padding-top: 5px;
  padding-bottom: 5px;
}
#egwpopup #egwpopup_list .egwpopup_message span.egwpopup_nav_prev,
#egwpopup #egwpopup_list .egwpopup_message span.egwpopup_nav_next {
  display: none;
}
#egwpopup #egwpopup_list .egwpopup_message.egwpopup_expanded {
  position: fixed;
  top: 85px;
  height: calc(100% - 130px);
  left: 20vw;
  width: 60vw;
  box-shadow: 0 0 40px #666;
  overflow: auto;
}
#egwpopup #egwpopup_list .egwpopup_message.egwpopup_expanded:hover {
  background-color: #fafafa;
}
#egwpopup #egwpopup_list .egwpopup_message.egwpopup_expanded .egwpopup_message_inner_container {
  height: calc(100% - 62px);
  overflow: auto;
}
#egwpopup #egwpopup_list .egwpopup_message.egwpopup_expanded .egwpopup_collapse {
  float: right;
  width: 24px;
  height: 24px;
  background-image: url(../../node_modules/bootstrap-icons/icons/x-lg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  cursor: pointer;
  display: inline-block;
}
#egwpopup #egwpopup_list .egwpopup_message.egwpopup_expanded .egwpopup_message_more_info {
  display: none;
}
#egwpopup #egwpopup_list .egwpopup_message.egwpopup_expanded span.egwpopup_nav_prev {
  display: inline-block;
  float: right;
  width: 24px;
  height: 24px;
  background-image: url(../../node_modules/bootstrap-icons/icons/arrow-bar-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  cursor: pointer;
}
#egwpopup #egwpopup_list .egwpopup_message.egwpopup_expanded .egwpopup_nav_disable {
  opacity: 0.5;
  pointer-events: none;
}
#egwpopup #egwpopup_list .egwpopup_message.egwpopup_expanded span.egwpopup_nav_next {
  display: inline-block;
  float: right;
  width: 24px;
  height: 24px;
  background-image: url(../../node_modules/bootstrap-icons/icons/arrow-bar-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  cursor: pointer;
}
#egwpopup #egwpopup_list .egwpopup_message_seen .egwpopup_mark {
  cursor: auto;
  background: none;
  border-color: #666c6e;
}
#egwpopup #egwpopup_list .egwpopup_message_clone {
  border: 2px dashed silver;
  opacity: 0.3;
  height: 125px;
}
#egwpopup div#egwpopup_header {
  font-size: 16px;
  color: silver;
  text-align: center;
  padding: 15px;
}
#egwpopup div#egwpopup_header .egwpopup_seenall {
  float: right;
  width: 10px;
  height: 10px;
  border: 1px solid silver;
  border-radius: 50%;
  cursor: pointer;
  margin: 4px 0px 0px 0px;
}
#egwpopup div#egwpopup_header .egwpopup_seenall:hover {
  border-color: gray;
  background: rgba(103, 159, 210, 0.2);
}
#egwpopup div#egwpopup_header .egwpopup_deleteall {
  background-image: url(../../node_modules/bootstrap-icons/icons/trash3.svg);
  width: 12px;
  height: 12px;
  background-position: center;
  background-size: 12px;
  float: right;
  background-repeat: no-repeat;
  margin-right: 15px;
  margin-top: 4px;
  cursor: pointer;
  display: inline-block;
  opacity: 0.5;
}
#egwpopup div#egwpopup_header .egwpopup_deleteall:hover {
  opacity: 1;
}
/*** END HEADER ***/
/*** APPLICATION ***/
egw-app {
  --application-header-text-color: var(--sl-color-neutral-200);
  /* Nice formatting for templates slotted into header (no need to wrap contents in et2-hbox) */
  /* Application template gets full height */
  /*sidebox styling
  * same styling should apply to sl-details.favorites inside the EgwFrameworkApp.styles.ts
  */
  /** Clean nextmatch headers **/
  /* Hide nextmatch header, it's in the framework now */
}
egw-app::part(name) {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
egw-app::part(header) {
  display: flex;
  background-color: transparent;
}
egw-app et2-template[slot="main-header"]::part(base) {
  display: flex;
  flex-direction: row;
  align-items: center;
}
egw-app::part(content) {
  flex-direction: column;
  overflow-y: hidden;
}
egw-app::part(filter) {
  --size: 40em;
  --label-width: max(15em, 30%);
}
@media (max-width: 800px) {
  egw-app::part(filter) {
    --size: 100%;
  }
}
egw-app::part(filter__panel) {
  z-index: var(--sl-z-index-drawer);
}
egw-app > div[id] > div,
egw-app > div[id] > et2-template {
  height: 100%;
}
egw-app et2-details.sidebox::part(header) {
  background-color: var(--application-color, var(--sl-color-primary-800, lightblue));
  border-radius: 1em;
  padding-block: var(--sl-spacing-3x-small);
  margin: var(--sl-spacing-medium);
  margin-bottom: 0;
  margin-left: 0;
  color: var(--application-header-text-color);
}
egw-app et2-details.sidebox::part(base) {
  border: none;
}
egw-app .et2_nextmatch.et2-filterbox--loaded:not(.et2-filterbox--none):not(.et2-filterbox--has-header) .nextmatch_header {
  height: 0px;
  overflow: hidden;
}
/* Individual application colors, should go in each app's CSS */
body,
:root {
  --addressbook-color: #003366;
  --admin-color: #333333;
  --bookmarks-color: #CC6633;
  --calendar-color: #CC0033;
  --filemanager-color: #ff9933;
  --infolog-color: #660033;
  --mail-color: #006699;
  --projectmanager-color: #669999;
  --resources-color: #003333;
  --timesheet-color: #330066;
  --tracker-color: #009966;
  --wiki-color: #797979;
  --ranking-color: #404040;
  --default-color: #797979;
  --kanban-color: #4663c8;
  --smallpart-color: #303333;
}
body egw-app[name="addressbook"],
:root egw-app[name="addressbook"] {
  --application-color: var(--addressbook-color);
}
body egw-app[name="admin"],
:root egw-app[name="admin"] {
  --application-color: var(--admin-color);
}
body egw-app[name="bookmarks"],
:root egw-app[name="bookmarks"] {
  --application-color: var(--bookmarks-color);
}
body egw-app[name="calendar"],
:root egw-app[name="calendar"] {
  --application-color: var(--calendar-color);
}
body egw-app[name="filemanager"],
:root egw-app[name="filemanager"] {
  --application-color: var(--filemanager-color);
}
body egw-app[name="infolog"],
:root egw-app[name="infolog"] {
  --application-color: var(--infolog-color);
}
body egw-app[name="mail"],
:root egw-app[name="mail"] {
  --application-color: var(--mail-color);
}
body egw-app[name="projectmanager"],
:root egw-app[name="projectmanager"] {
  --application-color: var(--projectmanager-color);
}
body egw-app[name="resources"],
:root egw-app[name="resources"] {
  --application-color: var(--resources-color);
}
body egw-app[name="timesheet"],
:root egw-app[name="timesheet"] {
  --application-color: var(--timesheet-color);
}
body egw-app[name="tracker"],
:root egw-app[name="tracker"] {
  --application-color: var(--tracker-color);
}
body egw-app[name="wiki"],
:root egw-app[name="wiki"] {
  --application-color: var(--wiki-color);
}
body egw-app[name="ranking"],
:root egw-app[name="ranking"] {
  --application-color: var(--ranking-color);
}
body egw-app[name="smallpart"],
:root egw-app[name="smallpart"] {
  --application-color: var(--smallpart-color);
}
/*** END APPLICATION ***/
/*** Popup styling ***/
.popupMainDiv {
  /* This would make things simpler for sizing, but causes problems with etemplate.resize() and dialogs with grids
  height: 100%;
   */
  padding: 0 var(--sl-spacing-small);
  /* Specific to override etemplate2 */
}
.popupMainDiv .dialogHeader,
.popupMainDiv .dialogFooter,
.popupMainDiv .dialogFooterToolbar {
  --sl-panel-border-width: 2px;
  --sl-panel-border-color: var(--sl-color-neutral-500);
}
.popupMainDiv .dialogHeader {
  border-bottom: var(--sl-panel-border-width) solid var(--sl-panel-border-color);
}
.popupMainDiv table.et2_grid > tbody > tr.dialogFooterToolbar > td {
  padding-top: var(--sl-spacing-small);
  padding-bottom: var(--sl-spacing-small);
}
.popupMainDiv .dialogFooter,
.popupMainDiv .dialogFooterToolbar {
  border-collapse: separate;
  border-top: var(--sl-panel-border-width) solid var(--sl-panel-border-color);
}
.popupMainDiv .dialogFooter td:first-child,
.popupMainDiv .dialogFooterToolbar td:first-child {
  padding-left: var(--sl-spacing-x-small);
}
.popupMainDiv .dialogFooter td:last-child,
.popupMainDiv .dialogFooterToolbar td:last-child {
  padding-right: var(--sl-spacing-x-small);
}
/*** End popup styling ***/
/*** WIDGETS ***/
/* This should mostly go away with webcomponents */
/* Show something for undefined widget */
*:not(:defined) {
  background-size: contain;
  background-image: url(../../../node_modules/bootstrap-icons/icons/question-circle.svg);
}
/* Get nextmatch sizing more nicely without messing with dynheight */
div.et2_nextmatch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
div.et2_nextmatch > div:not(:first-child) {
  flex: 1 1 100%;
  max-height: 100%;
}
div.et2_nextmatch th {
  font-weight: normal;
}
div.et2_nextmatch .nextmatch_sortheader {
  padding-right: var(--sl-spacing-large);
  margin-right: var(--sl-spacing-large);
}
div.et2_nextmatch .egwGridView_outer {
  border-collapse: collapse;
}
div.et2_nextmatch .egwGridView_outer thead > tr {
  background-color: var(--sl-color-neutral-50);
  border-bottom: var(--sl-panel-border-width) solid var(--sl-color-neutral-200);
}
div.et2_nextmatch .egwGridView_outer thead > tr th {
  border-right: var(--sl-panel-border-width) solid var(--sl-color-neutral-200);
}
div.et2_nextmatch .egwGridView_outer thead > tr th div.innerContainer {
  max-height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
}
div.et2_nextmatch .egwGridView_outer thead > tr th.optcol span.selectcols {
  height: 9px;
  padding: 4px 14px 0 2px;
  margin-top: 4px;
  background-image: url(../../../api/templates/default/images/selectcols.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  display: inline-block;
  background-position: top;
}
div.et2_nextmatch .egwGridView_outer .egwGridView_scrollarea {
  overflow-x: hidden;
  overflow-y: auto;
}
div.et2_nextmatch .egwGridView_outer .egwGridView_scrollarea table {
  border-collapse: collapse;
}
div.et2_nextmatch .egwGridView_outer .egwGridView_scrollarea table tr {
  border-bottom: var(--sl-panel-border-width) solid var(--sl-color-neutral-200);
}
div.et2_nextmatch .egwGridView_outer .egwGridView_scrollarea table tr.selected {
  background-color: var(--highlight-background-color);
}
/* Special styling for widgets in main-header */
[slot="main-header"] {
  --sl-input-background-color: transparent;
  --sl-input-background-color-hover: hsl(from var(--sl-color-neutral-100) h s l / 50%);
  --sl-input-color: var(--application-header-text-color);
  --input-text-color: var(--application-header-text-color);
  --sl-input-icon-color: var(--application-header-text-color);
  --sl-input-color-hover: var(--application-header-text-color);
  --sl-input-placeholder-color: hsl(from var(--application-header-text-color) h s l / 50%);
  color: var(--application-header-text-color);
}
[slot="main-header"] input::placeholder {
  color: black;
}
[slot="main-header"] *::part(base) {
  color: var(--application-header-text-color);
  background-color: transparent;
}
[slot="main-header"] et2-button,
[slot="main-header"] et2-button-icon,
[slot="main-header"] et2-button-image,
[slot="main-header"] et2-button-toggle,
[slot="main-header"] et2-switch,
[slot="main-header"] et2-switch-icon,
[slot="main-header"] et2-image {
  --indicator-color: var(--sl-color-neutral-0);
  --sl-input-background-color: transparent;
}
[slot="main-header"] et2-button::part(base),
[slot="main-header"] et2-button-icon::part(base),
[slot="main-header"] et2-button-image::part(base),
[slot="main-header"] et2-button-toggle::part(base),
[slot="main-header"] et2-switch::part(base),
[slot="main-header"] et2-switch-icon::part(base),
[slot="main-header"] et2-image::part(base) {
  background-color: transparent;
}
[slot="main-header"] et2-button:hover::part(base),
[slot="main-header"] et2-button-icon:hover::part(base),
[slot="main-header"] et2-button-image:hover::part(base),
[slot="main-header"] et2-button-toggle:hover::part(base),
[slot="main-header"] et2-switch:hover::part(base),
[slot="main-header"] et2-switch-icon:hover::part(base),
[slot="main-header"] et2-image:hover::part(base) {
  border-color: transparent;
  background-color: var(--sl-input-background-color-hover);
}
[slot="main-header"] et2-toolbar {
  border-bottom-width: 0px;
  /* Change colors of things in list back */
}
[slot="main-header"] et2-toolbar ::part(list) {
  color: var(--sl-color-neutral-700);
}
[slot="main-header"] et2-toolbar ::part(list) et2-button::part(base) {
  color: var(--sl-color-neutral-700);
}
[slot="main-header"] et2-toolbar ::part(list) et2-button:hover::part(base) {
  color: var(--sl-color-neutral-700);
  border-color: var(--sl-input-border-color);
}
[slot="main-header"] et2-toolbar [slot="list"] {
  color: var(--sl-color-neutral-700);
}
[slot="main-header"] et2-toolbar [slot="list"] ::part(base),
[slot="main-header"] et2-toolbar [slot="list"]::part(base) {
  color: var(--sl-color-neutral-700);
}
[slot="main-header"] et2-toolbar [slot="list"] :hover::part(base) {
  border-color: var(--sl-input-border-color);
}
/*** END WIDGETS ***/
body #popupMainDiv.et2_mobile_view {
  z-index: 102;
  width: 100%;
  height: 100%;
  background: var(--sl-color-neutral-0);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
body #popupMainDiv.et2_mobile_view .dialogHeadbar {
  height: var(--sl-spacing-3x-large);
  color: var(--sl-color-neutral-0);
  font-size: var(--sl-font-size-x-large);
  background-color: var(--application-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: var(--sl-shadow-large);
}
body #popupMainDiv.et2_mobile_view .dialogHeadbar .entry_id {
  position: absolute;
  right: var(--sl-spacing-medium);
  font-weight: var(--sl-font-weight-bold);
}
body #popupMainDiv.et2_mobile_view .egw_fw_mobile_popup_close,
body #popupMainDiv.et2_mobile_view .mobile-view-editBtn {
  position: fixed;
  top: 0;
  color: var(--sl-color-neutral-0);
  font-size: var(--sl-font-size-2x-large);
  z-index: 2;
}
body #popupMainDiv.et2_mobile_view .mobile-view-editBtn {
  position: fixed;
  left: calc(2 * var(--sl-font-size-2x-large));
}
@media screen and (max-width: 800px) {
  html * {
    touch-action: auto;
    -webkit-overflow-scrolling: touch;
  }
  body {
    /* Stop pull-to-refresh on chrome*/
    overflow-y: hidden;
    /* copied from previous framework */
  }
  body egw-framework#egw_fw_basecontainer {
    /* Hide some parts */
  }
  body egw-framework#egw_fw_basecontainer::part(open-applications),
  body egw-framework#egw_fw_basecontainer::part(status),
  body egw-framework#egw_fw_basecontainer::part(divider) {
    display: none;
  }
  body egw-framework#egw_fw_basecontainer::part(status-split) {
    --max: 0;
  }
  body button[id*="save"]:hover,
  body button[id*="apply"]:hover,
  body button[id*="copy"]:hover,
  body button[id*="edit_button[edit]"]:hover,
  body button.et2_button:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  body et2-dialog {
    --width: 100%;
  }
  body et2-dialog::part(panel) {
    /* make dialog full screen */
    max-width: 100%;
    max-height: 100%;
    height: 100%;
  }
  body et2-dialog::part(header) {
    /* Set header size, color & background */
    color: var(--sl-color-neutral-100);
    background: var(--sl-color-primary-500);
    height: 7ex;
    padding: 0;
    padding-left: 1em;
    border-radius: 0;
  }
  body et2-dialog::part(title) {
    line-height: 5ex;
  }
  body et2-dialog::part(close-button) {
    /* Move dialog close button up, change color */
    position: absolute;
    top: 0px;
    right: 0px;
  }
  body et2-dialog::part(footer) {
    order: 0;
    /*box-shadow: 0px 4px 5px 2px silver;*/
    width: 100%;
    margin-top: 0px;
    background: #0c5da5;
    /* Allow buttons to wrap */
    flex-wrap: wrap;
  }
  body et2-dialog et2-button[slot="footer"]:has(et2-image) {
    /* Fixed size on footer buttons */
    width: 50px;
    height: 50px;
  }
  body et2-dialog et2-button[slot="footer"] et2-image {
    max-width: initial;
    left: 0;
  }
  body et2-dialog et2-button[slot="footer"] et2-image span {
    padding-left: 20px;
  }
  body et2-dialog et2-button[slot="footer"][id*="cancel"] {
    /* Hide cancel button, it will look like a duplicated bug so close to dialog close button */
    display: none;
  }
  body et2-dialog et2-button[slot="footer"]:has(et2-image)::part(base),
  body et2-dialog et2-button[slot="footer"]:has(et2-image)::part(base):not(:hover),
  body et2-dialog et2-button[variant=default][slot="footer"]:has(et2-image)::part(base):not(:hover) {
    /* Have an icon - Hide button style, just show image */
    border: none;
    background: transparent;
    justify-content: center;
  }
  body et2-dialog et2-button[slot="footer"]:has(et2-image)::part(label) {
    /* Visually hide labels but leave them there for accessibility */
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    flex: 0 1 auto;
  }
  body et2-dialog #delete_popup {
    position: absolute;
    z-index: 1000000;
    display: block;
  }
  body et2-dialog #timer_dialog::part(header),
  body et2-dialog et2-dialog#timer_dialog::part(footer) {
    background-color: var(--timesheet-color);
  }
  body .et2_nextmatch .nextmatch_sortheader {
    padding-right: 0px;
    margin-right: 0px;
  }
  body .et2_nextmatch .nextmatch_header_row,
  body .et2_nextmatch .nextmatch_header {
    flex-direction: column;
    background-color: background-color-egw-dark;
  }
  body .et2_nextmatch .nextmatch_header_row div.header_row_right,
  body .et2_nextmatch .nextmatch_header div.header_row_right {
    position: absolute;
    display: block;
    top: 0;
    flex-direction: column;
  }
  body .et2_nextmatch .nextmatch_header_row .filtersContainer,
  body .et2_nextmatch .nextmatch_header .filtersContainer {
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
  }
  body .et2_nextmatch .nextmatch_header_row .filtersContainer et2-select,
  body .et2_nextmatch .nextmatch_header .filtersContainer et2-select,
  body .et2_nextmatch .nextmatch_header_row .filtersContainer et2-select-cat,
  body .et2_nextmatch .nextmatch_header .filtersContainer et2-select-cat {
    max-width: 100%;
  }
  body .et2_nextmatch .nextmatch_header_row et2-select,
  body .et2_nextmatch .nextmatch_header et2-select,
  body .et2_nextmatch .nextmatch_header_row et2-select-cat,
  body .et2_nextmatch .nextmatch_header et2-select-cat {
    display: block;
    width: 100%;
    height: var(--sl-font-size-large);
    font-size: var(--sl-font-size-large);
    background-size: 32px;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: none;
    padding-left: 10px;
    max-width: none;
    background-color: transparent;
  }
  body .et2_nextmatch .nextmatch_header_row label,
  body .et2_nextmatch .nextmatch_header label {
    display: block;
    width: 100%;
    float: left;
    font-size: var(--sl-font-size-large);
  }
  body .et2_nextmatch .nextmatch_header_row label select,
  body .et2_nextmatch .nextmatch_header label select {
    display: inline-block;
    float: right;
    margin: 0;
    height: var(--sl-font-size-large);
    font-size: var(--sl-font-size-large);
  }
  body .et2_nextmatch .nextmatch_header_row et2-select-cat,
  body .et2_nextmatch .nextmatch_header et2-select-cat {
    height: 50px !important;
    width: 100% !important;
    margin: 0;
    padding-left: 0px;
    background: white;
  }
  body .et2_nextmatch .nextmatch_header_row et2-select-cat a.chzn-single,
  body .et2_nextmatch .nextmatch_header et2-select-cat a.chzn-single {
    height: 100%;
    border-right: none;
    box-shadow: none;
    background: white;
    border-top: none;
    border-bottom: none;
    border-left-width: 10px;
    border-radius: 0;
  }
  body .et2_nextmatch .nextmatch_header_row et2-select-cat a.chzn-single span,
  body .et2_nextmatch .nextmatch_header et2-select-cat a.chzn-single span {
    height: 100%;
    line-height: 46px;
    color: #26537C;
    font-size: var(--sl-font-size-large);
  }
  body .et2_nextmatch .nextmatch_header_row et2-select-cat a.chzn-single div,
  body .et2_nextmatch .nextmatch_header et2-select-cat a.chzn-single div {
    width: 40px;
  }
  body .et2_nextmatch .nextmatch_header_row et2-select-cat a.chzn-single div b,
  body .et2_nextmatch .nextmatch_header et2-select-cat a.chzn-single div b {
    background: white url(../../node_modules/bootstrap-icons/icons/caret-down-fill.svg) no-repeat center !important;
    background-size: 16px !important;
  }
  body .et2_nextmatch .nextmatch_header.nm_header_hide {
    display: none !important;
  }
  body .et2_nextmatch .nextmatch_header {
    background-color: white;
    padding: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid silver;
    border-top: none;
    box-shadow: 0px 1px 1px 1px silver;
    z-index: 1;
    position: relative;
  }
  body .et2_nextmatch .nextmatch_header div.et2_box_widget {
    display: block;
    height: var(--sl-font-size-large);
  }
  body .et2_nextmatch .nextmatch_header .et2_button {
    width: var(--sl-font-size-large);
    height: var(--sl-font-size-large);
  }
  body .et2_nextmatch .egwGridView_outer thead tr {
    visibility: hidden;
  }
  body .et2_nextmatch .search.searchOn input {
    border: none;
    background: white;
    outline: none;
    position: absolute;
    left: 110px;
    width: 80%;
    height: var(--sl-font-size-large);
  }
  body .et2_nextmatch .search.searchOn button[id$="search_button"] {
    background-image: none !important;
  }
  body .et2_nextmatch .search.searchOn button[id$="search_button"]:after {
    content: "\2613";
    font-weight: bold;
    font-size: 18pt;
  }
  body .et2_nextmatch .nm-mob-header {
    background: var(--primary-color);
    margin-top: 0;
    padding-left: 60px;
    position: relative;
    height: 50px;
    z-index: 1;
    display: flex;
    border-bottom: 1px solid transparent;
  }
  body .et2_nextmatch .nm-mob-header et2-button-icon {
    font-size: 2.3em;
    color: var(--sl-color-neutral-0);
  }
  body .et2_nextmatch .nm-mob-header button {
    height: var(--sl-font-size-large);
    width: var(--sl-font-size-large);
    background-repeat: no-repeat;
    font-size: large;
    background-color: var(--primary-color);
    border: none;
    margin: 0;
    color: white;
    background-size: 18px 18px;
    box-shadow: none;
    outline: none;
  }
  body .et2_nextmatch .nm-mob-header div.et2_searchbox {
    display: inline-block;
    width: 50px;
  }
  body .et2_nextmatch .nm-mob-header button.nm_toggle_header {
    background-image: url(../../node_modules/bootstrap-icons/icons/list-task.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    color: var(--sl-color-neutral-0);
    order: 9;
    padding: 0 1em 0 1em;
  }
  body .et2_nextmatch .nm-mob-header button.nm_toggle_header:focus {
    outline: none;
  }
  body .et2_nextmatch .nm-mob-header button.nm_action_header {
    background-image: url(../../node_modules/bootstrap-icons/icons/three-dots-vertical.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid silver;
    border: 0;
    color: white;
    width: 50px;
    height: 50px;
    display: block;
    color: var(--sl-color-neutral-0);
    order: 10;
    padding: 0 1em 0 1em;
  }
  body .et2_nextmatch .nm-mob-header button.nm_action_header:focus {
    outline: none;
  }
  body .et2_nextmatch .nm-mob-header button.nm_action_header.back {
    background-image: url(../../node_modules/bootstrap-icons/icons/x-lg.svg);
    -webkit-filter: none !important;
    background-color: white !important;
  }
  body .et2_nextmatch .nm-mob-header div.nm_delete_action {
    background-image: url(../../node_modules/bootstrap-icons/icons/trash3.svg);
    color: var(--sl-color-neutral-0);
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid silver;
    border: 0;
    color: black;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    display: none;
    order: 7;
    padding: 0 1em 0 1em;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div {
    order: 8;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid silver;
    border: 0;
    color: white;
    height: 50px;
    display: none;
    float: right;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div:focus {
    outline: none;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] {
    top: 0 !important;
    outline: none;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] .et2_dropdown button:first-child {
    display: none;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] .et2_dropdown button:nth-child(2) {
    background-position: center;
    background-image: url(../../node_modules/bootstrap-icons/icons/star.svg) !important;
    background-size: 24px 24px;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] .et2_dropdown button:nth-child(2) div:first-child {
    display: none;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites {
    height: 250px;
    width: 100%;
    left: 0px !important;
    box-shadow: 0px 4px 5px 2px silver;
    border: 1px solid silver;
    overflow-y: auto !important;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item[data-id="blank"]:before {
    content: '';
    background-image: url(../../node_modules/bootstrap-icons/icons/trash3.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 4px;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item:not([data-id="add"]):not([data-id="blank"]):before {
    content: '';
    background-image: url(../../node_modules/bootstrap-icons/icons/star.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 4px;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid silver;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item a {
    width: 100%;
    line-height: 30px;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item a input {
    display: none;
  }
  body .et2_nextmatch .nm-mob-header div.nm_favorites_div div[name="favorite"] ul.favorites li.ui-menu-item a div.ui-icon-trash {
    display: block;
    padding-right: 8px;
  }
  body .et2_nextmatch .nm-mob-header button.nm_toggle_header_on {
    background-image: url(../../node_modules/bootstrap-icons/icons/x-lg.svg);
    -webkit-filter: none !important;
    background-color: white !important;
  }
  body .et2_nextmatch .nm-mob-header et2-searchbox {
    order: -1;
    width: -webkit-fill-available;
  }
  body .et2_nextmatch .nm-mob-header div.nm_appname_header {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    opacity: 0.2;
    text-align: center;
    padding-top: 13px;
    z-index: -1;
  }
  body .et2_nextmatch .header_row_right {
    height: var(--sl-font-size-large);
    width: 100%;
    padding: 0;
  }
  body .et2_nextmatch .header_row_right div[id$=favorite_wrapper] {
    margin: 0;
    top: 0 !important;
    height: var(--sl-font-size-large);
  }
  body .et2_nextmatch .header_row_right * {
    float: left;
    max-width: 100% !important;
  }
  body .et2_nextmatch .header_row_right .et2_dropdown button {
    height: var(--sl-font-size-large);
    width: var(--sl-font-size-large);
  }
  body .et2_nextmatch .header_count {
    margin: 0;
    height: var(--sl-font-size-large);
    font-size: var(--sl-font-size-large);
    margin-top: -3px;
    margin-right: 0px;
    float: right;
    border: none;
    border-radius: 0;
  }
  body .et2_nextmatch .header_count span {
    font-size: var(--sl-font-size-large);
  }
  body .et2_nextmatch table.egwGridView_grid tr div.h2_hbox {
    padding-bottom: 4px;
  }
  body .et2_nextmatch table.egwGridView_grid tr img {
    height: 12px;
  }
  body .et2_nextmatch table.egwGridView_grid tr et2-image {
    font-size: 12px;
    width: 12px;
  }
  body .et2_nextmatch table.egwGridView_grid tbody tr.focused {
    background-image: none;
  }
  body .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]) {
    background: #b0bfd8 !important;
  }
  body .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]) * {
    color: white !important;
  }
  body .et2_nextmatch table.egwGridView_grid tbody tr.selected:not([class*="tile"]) td:last-child:before {
    content: " ";
    position: absolute;
    background: #b0bfd8;
    right: 0px;
    bottom: 0px;
    left: -8px;
    top: 0px;
    color: white;
    background-image: url(../../node_modules/bootstrap-icons/icons/check-lg.svg);
    background-repeat: no-repeat;
    height: auto;
    background-size: 20px;
    background-position: center;
    height: 99%;
    width: 99%;
  }
  body .et2_nextmatch table.egwGridView_grid tbody tr:hover {
    background: transparent;
  }
  body .et2_nextmatch table.egwGridView_grid tbody tr td {
    padding: 10px 0px 10px 0px;
  }
  body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_label,
  body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_button,
  body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_link,
  body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_textbox,
  body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_textbox_ro,
  body .et2_nextmatch table.egwGridView_grid tbody tr td .et2_email,
  body .et2_nextmatch table.egwGridView_grid tbody tr td img {
    padding: 8px 0px 0px 0px;
  }
  body .et2_nextmatch table.egwGridView_grid tbody tr td time.et2_label,
  body .et2_nextmatch table.egwGridView_grid tbody tr td span.mobile_cat_col {
    padding: 0;
  }
  body .et2_nextmatch table.egwGridView_grid tbody tr td div.et2_progress {
    margin: 0;
  }
  body .et2_nextmatch table.egwGridView_grid tbody tr.swipe {
    background-color: #ffc200;
    border: none;
  }
  body .et2_nextmatch .egwGridView_outer {
    width: 100%;
  }
  body .et2_nextmatch .egwGridView_outer thead {
    max-height: 1px;
    display: none;
  }
  body .et2_nextmatch .egwGridView_outer thead tr th {
    font-size: large;
  }
  body .et2_nextmatch .egwGridView_outer td img {
    border: none;
  }
  body .et2_details .et2_details_toggle:after {
    width: 30px;
    height: 30px;
    font-size: 18pt;
    text-align: center;
    padding: 9px;
  }
  et2-button.plus_button {
    position: fixed !important;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-position: center;
    z-index: 100;
    background-color: #0c5da5;
    border: none;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  et2-button.plus_button:hover,
  et2-button.plus_button:active {
    background-color: #0c5da5;
  }
  et2-button.plus_button::before {
    color: white;
    content: "\f64d";
    font-size: 32px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    width: 60px;
    font-weight: bolder;
    display: inline-block;
  }
  et2-button.plus_button::part(base) {
    display: none;
  }
}
/**
 * These are utility classes used throughout egroupware, but aren't in etemplate.css
 * Most of this kind of thing will probably migrate from etemplate.css into here as webcomponents take over widget styles
 */
/*
	Printing
*/
@media screen {
  .onlyPrint {
    display: none !important;
  }
}
@media print {
  .noPrint {
    display: none !important;
  }
  body {
    height: auto;
  }
}
/** Theme customisations **/
/* imported here to make fast light/dark transitions */
:root,
:host,
html,
.sl-theme-light {
  /*
  color token generator using #0053c9
  https://codepen.io/claviska/full/QWveRgL
   */
  --sl-color-primary-50: #f7fafd;
  --sl-color-primary-100: #e4edf9;
  --sl-color-primary-200: #d0dff5;
  --sl-color-primary-300: #bad0f0;
  --sl-color-primary-400: #9cbcea;
  --sl-color-primary-500: #75a2e2;
  --sl-color-primary-600: #4984d8;
  --sl-color-primary-700: #2169d0;
  --sl-color-primary-800: #0051c5;
  --sl-color-primary-900: #003a8d;
  --sl-color-primary-950: #002458;
  --sl-shadow-x-small: 0 1px 2px hsla(240, 3.8%, 46.1%, 0.24);
  --sl-shadow-small: 0 1px 2px hsla(240, 3.8%, 46.1%, 0.48);
  --sl-shadow-medium: 0 2px 4px hsla(240, 3.8%, 46.1%, 0.48);
  --sl-shadow-large: 0 2px 8px hsla(240, 3.8%, 46.1%, 0.48);
  --sl-shadow-x-large: 0 4px 16px hsla(240, 3.8%, 46.1%, 0.48);
  /*** APPLICATION ***/
  /*** End APPLICATION ***/
}
:root egw-app,
:host egw-app,
html egw-app,
.sl-theme-light egw-app {
  --application-header-text-color: var(--sl-color-neutral-100);
}
html[data-darkmode="1"],
.sl-theme-dark {
  background-color: black;
  color: var(--sl-color-neutral-700);
  --sl-color-primary-950: hsl(from var(--primary-color) h s calc(l + 18));
  --sl-color-primary-900: hsl(from var(--primary-color) h s calc(l + 16));
  --sl-color-primary-800: hsl(from var(--primary-color) h s calc(l + 12));
  --sl-color-primary-700: hsl(from var(--primary-color) h s calc(l + 8));
  --sl-color-primary-600: hsl(from var(--primary-color) h s calc(l + 4));
  --sl-color-primary-500: var(--primary-color);
  --sl-color-primary-400: hsl(from var(--primary-color) h s calc(l - 4));
  --sl-color-primary-300: hsl(from var(--primary-color) h s calc(l - 8));
  --sl-color-primary-200: hsl(from var(--primary-color) h s calc(l - 12));
  --sl-color-primary-100: hsl(from var(--primary-color) h s calc(l - 16));
  --sl-color-primary-50: hsl(from var(--primary-color) h s calc(l - 18));
  /*** HEADER ***/
  /*** APPLICATION ***/
  /*** End APPLICATION ***/
  /*** WIDGETS ***/
  /* This should mostly go away with webcomponents */
  /** End WIDGETS **/
}
html[data-darkmode="1"] #egw_fw_topmenu_info_items #topmenu_info_timer:before,
.sl-theme-dark #egw_fw_topmenu_info_items #topmenu_info_timer:before {
  filter: initial;
}
html[data-darkmode="1"] egw-app,
.sl-theme-dark egw-app {
  --application-header-text-color: var(--sl-color-neutral-700);
}
html[data-darkmode="1"] .et2_container,
.sl-theme-dark .et2_container {
  background-color: initial;
}
html[data-darkmode="1"] .dialogFooterToolbar et2-button::part(base):not(:hover),
.sl-theme-dark .dialogFooterToolbar et2-button::part(base):not(:hover),
html[data-darkmode="1"] et2-dialog et2-button[variant='default'][slot='footer']::part(base):not(:hover),
.sl-theme-dark et2-dialog et2-button[variant='default'][slot='footer']::part(base):not(:hover) {
  background-color: var(--sl-input-background-color);
}
html[data-darkmode="1"] .nextmatch_sortheader,
.sl-theme-dark .nextmatch_sortheader {
  color: #96bcd9;
}
/** End theme customisations **/
