/**
 * kDots main styles
 *
 * Note that light / dark colors should go in kdots_light.less & kdots_dark.less
 */


/** Theme customisations **/
@import "./less/light.less";
@import "./less/dark.less";
/** End theme customisations **/

/* BI icons */
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  vertical-align: middle;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: clip;
  padding: 0px;
  margin: 0px;

  /** Messages **/
  .sl-toast-stack {
	top: auto;
	bottom: 0px;

	sl-alert et2-checkbox {
	  padding-top: var(--sl-spacing-large);
	}
  }

  #egw_message {
	display: none
  }

  /** end messages **/
}

.egw_menu::part(popup)
{
  z-index: var(--sl-z-index-dropdown);
}

egw-framework#egw_fw_basecontainer {
  --icon-size: 40px;
  --sl-tooltip-arrow-size: 0;

  /* Internals */

  &::part(status-split) {
	/* This limits the max size of the status panel */
	--max: 15em;
  }

  &::part(header) {
	--icon-size: 40px;
	--tab-icon-size: var(--icon-size);
	--tab-icon-size-active: 46px;

	color: var(--primary-background-color);
	gap: var(--sl-spacing-medium);

	font-size: var(--icon-size);
  }

  /* Content slotted inside */

  [slot="logo"] img {
	max-width: 220px;
	max-height: var(--icon-size);
	display: block;
	text-align: center;
  }

  sl-icon-button[slot="header"], et2-image[slot="header"] {
	font-size: var(--icon-size);
	color: inherit
  }


  div#egw_fw_toggler {
	position: initial;
	display: none;
  }

  #egw_fw_topmenu_info_items {
	position: relative;
	order: 99;
	margin-left: auto;
	display: flex;

	.topmenu_info_item {
	  min-width: 1em;
	  min-height: 1em;
	}
  }

  div#egw_fw_sidebar_r {
	position: initial;
	top: initial;

	et2-avatar, et2-lavatar {
	  --size: 40px;
	}
  }

  .egw_fw_ui_sidemenu_entry_header {
	display: flex;
	gap: var(--sl-spacing-medium);
	padding-left: 1em;
  }
}

/*** HEADER ***/
#egw_fw_topmenu_info_items {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;

  & > * {
	border: none;
	background-color: transparent;
  }

  et2-avatar {
	--size: var(--icon-size);
	&::part(base) {
	  vertical-align: initial;
	}
  }

  .topmenu_info_item {
	height: var(--icon-size);
	width: var(--icon-size);
	display: inline-block;
	padding-left: 0px;
	background-size: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;

	&:hover {
	  background-color: var(--sl-input-background-color-hover);
	}
  }

  et2-button-icon::part(base) {
	padding: 0;
  }

  #topmenu_info_timer {
	order: 1;
	position: relative;
	display: flex;
	align-items: center;
	padding: 0px;

	#topmenu_timer {
	  display: block;
	  width: 100%;
	  z-index: 2;
	}

	&:hover {
	  cursor: pointer;
	}

	&:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-image: url(../../timesheet/templates/default/images/navbar.svg);
	  background-repeat: no-repeat;
	  background-size: 32px;
	  background-position: center center;
	  filter: opacity(0.3);
	}
  }

  #topmenu_info_quick_add {
	position: relative;

	span#quick_add {
	  display: block;
	  background-image: url(../../node_modules/bootstrap-icons/icons/plus-circle.svg);
	  background-repeat: no-repeat;
	  background-size: 24px;
	  background-position: center;
	  width: 100%;
	  height: 100%;
	  padding-right: 3px;

	  &:before {
		content: " ";
		font-size: 2em;
		line-height: 0.6em;
		background-color: white;
	  }
	}

	#quick_add_selectbox {
	  height: 0px;
	  display: inline-block;
	  text-align: initial;

	  sl-option {
		white-space: nowrap;
	  }
	}

	#quick_add_selectbox::part(emptyLabel) {
	  /* do NOT show empty label, required for clearing value */
	  display: none;
	}

	#quick_add_selectbox::part(form-control-input), #timer_selectbox::part(form-control-input) {
	  border: none !important;
	}

	#quick_add_selectbox::part(form-control), #timer_selectbox::part(form-control) {
	  margin-left: -3em;
	}

	#quick_add_selectbox::part(listbox), #timer_selectbox::part(menu) {
	  max-height: 60vh;
	}

	#quick_add_selectbox {
	  height: 0px;
	  overflow: hidden;
	}

	#quick_add_selectbox::part(combobox) {
	  visibility: hidden;
	}
  }

  #topmenu_info_user_avatar {
	sl-menu-item et2-image {
	  width: 1em;
	}
  }
  button#topmenu_info_search {
	background-image: url(../../api/templates/default/images/topmenu_items/search.svg);
  }
}

#topmenu_info_print_title {
  background-image: url(../../../api/templates/default/images/print.svg);

  span {
	width: 45px;
	height: 45px;
	display: inline-block;
  }
}
/* popup copied from pixelegg */
#egwpopup {
  top: 46px;
  right: 0 !important;
  left: auto !important;
  height: calc(100% - 69px);
  width: 277px !important;
  position: absolute;
  background: #fff;
  border: 1px solid silver;
  border-top: none;
  border-bottom: none;
  padding: 1em;
  /*Button*/
  input#egwpopup_ok_button,
  button#desktop_perms {
	padding: 0 5px;
  }
  #egwpopup_list::-webkit-scrollbar-track	{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fafafa;
  }

  #egwpopup_list::-webkit-scrollbar {
	width: 4px;
	background-color: #fafafa;
  }

  #egwpopup_list::-webkit-scrollbar-thumb	{
	background-color: #6a6f71;
  }
  #egwpopup_list {
	overflow-y: auto;
	height: ~"calc(100% - 52px)";
	.egwpopup_time_label {
	  width: 100%;
	  color: #fafafa;
	  text-align: center;
	  font-style: italic;
	  opacity: 0.5;
	  font-size: 10pt;
	  background: #255ea5;
	  font-weight: bold;
	}

	span.egwpopup_delete {
	  display: inline-block;
	  float: right;
	  width: 24px;
	  height: 24px;
	  background-image: url(../../node_modules/bootstrap-icons/icons/trash3.svg);
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: 12px;
	  cursor: pointer;
	}
	.egwpopup_mark {
	  display: inline-block;
	  float: right;
	  width: 10px;
	  height: 10px;
	  border: 1px solid #b9436c;
	  border-radius: 50%;
	  margin: 7px;
	  background:#b9436c;
	  cursor: pointer;
	}
	.egwpopup_message {
	  height: auto;
	  overflow: hidden;
	  padding: 10px;
	  background-color: #fafafa;
	  margin-bottom: 5px;
	  &:hover {
		background-color: rgba(103, 159, 210, 0.2);
	  }
	  .egwpopup_message_inner_container {
		height: 63px;
		overflow: hidden;

		a {
		  max-width: 60em;
		  display: inline-block;
		  overflow-wrap: break-word;
		  vertical-align: text-top;
		}
	  }
	  .egwpopup_message_top_toolbar {
		display: inline-block;
		width: 100%;
		.egwpopup_message_date {
		  float: left;
		  color: #767676;
		}
		.egwpopup_message_open {
		  display: inline-block;
		  float: right;
		  width: 24px;
		  height: 24px;
		  background-image: url(../../node_modules/bootstrap-icons/icons/search.svg);
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: 12px;
		  cursor: pointer;
		}
		.egwpopup_collapse {display: none;}
	  }
	  .egwpopup_actions_container {
		text-align: center;
	  }
	  .egwpopup_actions_container>button {
		height: 24px;
		width: 80px;
		border: none;
		background: #e6e6e6;
		background-size: 16px;
		background-position: 12px center;
		background-repeat: no-repeat;
		padding-left: 26px;
	  }
	  .egwpopup_message_more_info {
		color:#767676;
		padding-top: 5px;
		padding-bottom: 5px;
	  }
	  span.egwpopup_nav_prev, span.egwpopup_nav_next {
		display: none;
	  }
	}
	.egwpopup_message.egwpopup_expanded {
	  position: fixed;
	  top: 85px;
	  height: ~"calc(100% - 130px)";
	  left: 20vw;
	  width: 60vw;
	  box-shadow: 0 0 40px #666;
	  overflow: auto;
	  &:hover {
		background-color: #fafafa;
	  }
	  .egwpopup_message_inner_container {
		height: ~"calc(100% - 62px)";
		overflow: auto;
	  }
	  .egwpopup_collapse {
		float: right;
		width: 24px;
		height: 24px;
		background-image: url(../../node_modules/bootstrap-icons/icons/x-lg.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 12px;
		cursor: pointer;display: inline-block
	  }
	  .egwpopup_message_more_info {display: none;}
	  span.egwpopup_nav_prev {
		display: inline-block;
		float: right;
		width: 24px;
		height: 24px;
		background-image: url(../../node_modules/bootstrap-icons/icons/arrow-bar-left.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 16px;
		cursor: pointer;
	  }
	  .egwpopup_nav_disable {opacity:0.5; pointer-events: none;}
	  span.egwpopup_nav_next {
		display: inline-block;
		float: right;
		width: 24px;
		height: 24px;
		background-image: url(../../node_modules/bootstrap-icons/icons/arrow-bar-right.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 16px;
		cursor: pointer;
	  }
	}
	.egwpopup_message_seen {
	  .egwpopup_mark {cursor: auto;background:none;border-color: #666c6e;}
	}
	.egwpopup_message_clone {
	  border:2px dashed silver;
	  opacity: 0.3;
	  height: 125px;
	}
  }
  div#egwpopup_header {
	font-size: 16px;
	color: silver;
	text-align: center;
	padding: 15px;
	.egwpopup_seenall {
	  float: right;
	  width: 10px;
	  height: 10px;
	  border: 1px solid silver;
	  border-radius: 50%;
	  cursor: pointer;
	  margin: 4px 0px 0px 0px;
	  &:hover {
		border-color: gray;
		background: rgba(103, 159, 210, 0.2);
	  }
	}
	.egwpopup_deleteall {
	  background-image: url(../../node_modules/bootstrap-icons/icons/trash3.svg);
	  width: 12px;
	  height: 12px;
	  background-position: center;
	  background-size: 12px;
	  float: right;
	  background-repeat: no-repeat;
	  margin-right: 15px;
	  margin-top: 4px;
	  cursor: pointer;
	  display: inline-block;
	  opacity: 0.5;
	  &:hover {
		opacity: 1;
	  }
	}
  }
}

/*** END HEADER ***/

/*** APPLICATION ***/
egw-app {
  &::part(name) {
	display: flex;
	align-items: center;
	text-wrap: nowrap;
  }

  &::part(content) {
	flex-direction: column;
	overflow-y:hidden;
  }
  /* Application template gets full height */
  & > div[id] > div, & > div[id] > et2-template {
	height: 100%;
  }
}

/* Individual application colors, should go in each app's CSS */
body, :root {
  // Color code for applications - not used by framework
  --addressbook-color: #003366;
  --admin-color: #333333;
  --bookmarks-color: #CC6633;
  --calendar-color: #CC0033;
  --filemanager-color: #ff9933;
  --infolog-color: #660033;
  --mail-color: #006699;
  --projectmanager-color: #669999;
  --resources-color: #003333;
  --timesheet-color: #330066;
  --tracker-color: #009966;
  --wiki-color: #797979;
  --ranking-color: #404040;
  --default-color: #797979;
  --kanban-color: #4663c8;

  egw-app[name="addressbook"] {
	--application-color: var(--addressbook-color);
  }

  egw-app[name="admin"] {
	--application-color: var(--admin-color);
  }

  egw-app[name="bookmarks"] {
	--application-color: var(--bookmarks-color);
  }

  egw-app[name="calendar"] {
	--application-color: var(--calendar-color);
  }

  egw-app[name="filemanager"] {
	--application-color: var(--filemanager-color);
  }

  egw-app[name="infolog"] {
	--application-color: var(--infolog-color);
  }

  egw-app[name="mail"] {
	--application-color: var(--mail-color);
  }

  egw-app[name="projectmanager"] {
	--application-color: var(--projectmanager-color);
  }

  egw-app[name="resources"] {
	--application-color: var(--resources-color);
  }

  egw-app[name="timesheet"] {
	--application-color: var(--timesheet-color);
  }

  egw-app[name="tracker"] {
	--application-color: var(--tracker-color);
  }

  egw-app[name="wiki"] {
	--application-color: var(--wiki-color);
  }

  egw-app[name="ranking"] {
	--application-color: var(--ranking-color);
  }
}

/*** END APPLICATION ***/

/*** WIDGETS ***/
/* This should mostly go away with webcomponents */

/* Show something for undefined widget */
*:not(:defined) {
  background-size: contain;
  background-image: url(../../node_modules/bootstrap-icons/icons/question-circle.svg);
}

/* Get nextmatch sizing more nicely without messing with dynheight */
div.et2_nextmatch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  overflow: hidden;

  & > div:not(:first-child) {
	flex: 1 1 100%;
	max-height: 100%;
  }

  .egwGridView_outer {
	border-collapse: collapse;

	thead > tr {
	  background-color: var(--sl-color-neutral-50);
	  border-bottom: var(--sl-panel-border-width) solid var(--sl-color-neutral-200);

	  th {
		border-right: var(--sl-panel-border-width) solid var(--sl-color-neutral-200);

		div.innerContainer {
		  max-height: 10em;
		  overflow-x: hidden;
		  overflow-y: auto;
		}
	  }

	  th.optcol span.selectcols {
		height: 9px;
		padding: 4px 14px 0 2px;
		margin-top: 4px;
		background-image: url(../../api/templates/default/images/selectcols.svg);
		background-repeat: no-repeat;
		background-size: 10px 10px;
		display: inline-block;
		background-position: top;
	  }
	}

	.egwGridView_scrollarea {
	  overflow-x: hidden;
	  overflow-y: auto;
	  table {
		border-collapse: collapse;
		tr {
		  border-bottom: var(--sl-panel-border-width) solid var(--sl-color-neutral-200);
		}
		tr.selected {
		  background-color: var(--highlight-background-color);
		}
	  }
	}
  }
}

div.et2_toolbar {
  .et2_toolbar_actionlist > span {
	gap: var(--sl-spacing-small);

	* {
	  margin-right: 0px;
	}
  }
}
/*** END WIDGETS ***/