<ul>
  <li>
    <h2>Getting Started</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://github.com/EGroupware/egroupware/wiki/#Development">Development</a></li>
      <li><a href="/getting-started/widgets">Widgets</a></li>
      <li><a href="/getting-started/styling">Styling</a></li>
      <li><a href="https://github.com/EGroupware/example">Example app</a></li>
    </ul>
  </li>
  <li>
    <h2>Resources</h2>
    <ul>
      <li><a href="https://help.egroupware.org/c/developers">Community</a></li>
      <li><a href="https://www.egroupware.org/professional-support">Help &amp; Support</a></li>
      <li><a href="https://github.com/EGroupware/egroupware/releases">Changelog</a></li>
      <li><a href="https://lit.dev/docs/components/lifecycle/">Lit Lifecycle</a></li>
    </ul>
  </li>
  <li>
    <h2>Tutorials</h2>
    <ul>
	  <li><a href="/tutorials/creating-a-widget">Creating a widget</a></li>
	  <li><a href="/tutorials/web-component-authoring">Web Component Authoring</a></li>
	  <li><a href="/tutorials/converting-to-webcomponents">Converting to WebComponent</a></li>
	  <li><a href="/tutorials/automatic-testing">Automatic testing</a></li>
      <li><a href="https://github.com/EGroupware/example/tree/step5?tab=readme-ov-file">Implementing the linking system</a></li>
    </ul>
  </li>
  <li>
    <h2>Reference</h2>
    <ul>
	  <li><a href="/reference/mime-click-behavior">Mime-type click behavior</a></li>
	  <li><a href="/reference/filemanager/">Filemanager widgets</a></li>
	  <li><a href="/reference/nextmatch/">Nextmatch widgets</a></li>
	  <li><a href="/reference/custom-fields/">Custom fields widgets</a></li>
	  <li><a href="/reference/linking-system/">Linking system widgets</a></li>
    </ul>
  </li>
  <li>
    <h2>Components</h2>
    <ul>
    <li><em><a href="/components/sandbox">Sandbox</a></em></li>
      {% for category in widgetTaxonomy.categories %}
        <li>
          <h3>
            {% if category.icon %}<i class="bi {{ category.icon }}"></i>{% endif %}
            {{ category.name }}
          </h3>
          <ul>
            {% for entry in category.entries %}
              {% set href = "/mixins/" + (entry.base.name | slugify) if not entry.base.tagName else "/components/" + entry.base.tagName %}
              <li>
                <a href="{{ href }}">{{ entry.base.name | classNameToComponentName }}</a>

                {% if entry.variations.length %}
                  <ul class="variations">
                    {% for v in entry.variations %}
                      <li>
                        <a href="/components/{{ v.tagName }}">{{ v.name | classNameToComponentName }}</a>
                        {% if v.associated.length %}
                          <ul class="associated-widgets">
                            {% for assoc in v.associated %}
                              <li><a href="/components/{{ assoc.tagName }}">{{ assoc.name | classNameToComponentName }}</a></li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}

                {% if entry.base.associated.length %}
                  <ul class="associated-widgets">
                    {% for assoc in entry.base.associated %}
                      <li>
                        <a href="/components/{{ assoc.tagName }}">{{ assoc.name | classNameToComponentName }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </li>
</ul>
