.redItalic { color: red; font-style: italic; }
.editphones{ 
  position: absolute;
  top: 10%;
  left: 30%;
  display:none;
  border: 2px solid black;
  background-color: #ffffff;
  padding: 4px; 
}
.windowheader{
  background-image:url(../../../phpgwapi/templates/idots/images/appbox-header-background.png);
  background-repeat:repeat-x;
  height: 20px;
  border-spacing: 0px;
  border-collapse:collapse;
  border-bottom: #9c9c9c 1px solid; 
}
.phoneGroup fieldset{
  margin-top: 18px;
  font-size: 110%;
  height: 117px;
  border: solid black 2px;
  margin-bottom: 0px;
}
.phoneGroup table{
  height: 102px;
}
.emailGroup fieldset{
  margin-top: 0px;
  font-size: 110%;
  height: 104px;
  border: solid black 2px;
  margin-bottom: 0px;
}
.emailGroup table{
  height: 87px;
}
