/**
 * CRM view with contact data in sidebox
 */
.addressbook_sidebox_name {
	font-weight: bold;
}
.addressbook_sidebox_name, .addressbook_sidebox_org {
	font-size: 130%;
	padding: 2px 0 2px 0;
}
td.addressbook_sidebox_header {
	font-weight: bold;
	height: 20px;
	vertical-align: bottom;
}
#addressbook-view.et2_container {
	height: 0 !important;
}
td.addressbook_sidebox_toolbar {
	vertical-align: bottom;
	height: 32px;
}

div#addressbook_view_sidebox img.photo {
	width: 68px;
	padding-right: 3px;
	height: auto;
	vertical-align: bottom;
}

/**
 * new addressbook.edit
 */
#addressbook-edit.et2_container {
}
div.addressbook_edit_general_picture {
	position: relative;
}
div.addressbook_edit_general_picture img {
	position: absolute;
	width: auto;
	max-width: 80px;
	height: 105px;
	left: 2px;
}
.uploadphoto{
	position: absolute;
	top: 70px;
	left: 0;
	display: none;
	border: 2px solid black;
	background-color: #ffffff;
	padding: 4px;
	z-index: 1;
}
.typeIcon { height: 16px; width: 16px; }
.editname{
	position: absolute;
	display: none;
	border: 2px solid black;
	background-color: #ffffff;
	padding: 4px;
	top: 55px;
	left: 102px;
	z-index: 1;
	padding-right: 10px;
}
.custom_country {
	display: none;
}
input.et2_radiobox {
	position: relative;
	left: 7px;
}
#addressbook-edit_tel_prefer-tel_work, #addressbook-edit_tel_prefer-tel_cell {
	left: 7px;
}
#addressbook-edit_memberships + .chzn-container .chzn-results {
	max-height: 85px;
}
/**
 * Index page
 */
#addressbook-index img.iphoto {
	width: 100%;
	height: auto;
}
#addressbook-index .avatar img.iphoto {border:none;box-shadow: none;}
#addressbook-index_org_view, #addressbook-index_addressbook-index-right_add > div.et2_box_widget {
	top: 0;
	padding-top: 0;
}
#addressbook-edit_adr_one_locality,
#addressbook-edit_adr_two_locality,
#addressbook-edit_adr_one_postalcode,
#addressbook-edit_adr_two_postalcode{
	padding-top:5px;
	padding-bottom: 5px;
}
#addressbook-edit_adr_one_postalcode,
#addressbook-edit_adr_two_postalcode{
	margin-right: -4px;
}
div.city_state_postcode #addressbook-edit_adr_two_postalcode,
div.city_state_postcode #addressbook-edit_adr_one_postalcode {margin-right: 5px !important;}
#addressbook-edit_role {
	margin-right: 5px;
}
.addressbookHooked .egwGridView_grid label>span.et2_link {
	display: none;
}
/**
 * adjust width of select-boxes in nextmatch
 */
#addressbook-index .filtersContainer {
	position: absolute;
	left: 342px;
	right: 215px;
}
#addressbook-index .filtersContainer select {
	width: 31.5%;
}
/* category filter chosen. !important is neccessary to override the width set by chosen*/
#addressbook-index .nextmatch_header_row .et2_selectbox.select-cat {min-width:auto;width: 31.5% !important;}
select#addressbook-index_col_filter\[tid\] {
	width: 82px;
}
#addressbook-index_addressbook-index-row select{
	float: right;
	width: 134px;
}
#addressbook-edit .chzn-container .chzn-results {max-height: 110px}

#addressbook-index_nm .chzn-drop {width:auto;}
#addressbook-edit_adr_one_region, #addressbook-edit_adr_two_region {
	width: 130px;
    vertical-align: middle;
    margin-left: 1px;
}
.smime_section_border {border-top: 1px solid #e5e5e5;}
.smime_section_border> * {padding-top: 10px;}