/**
 * Give space to both contact view & infolog list
 */
#addressbook-index  {height: 100%}
.et2_container[id^="infolog-index-addressbook"] {min-height: 250px}

/**
 * new addressbook.edit
 */
div#addressbook-edit.et2_container {
	width: 842px;
}
div.addressbook_edit_general_picture {
	position: relative;
}
div.addressbook_edit_general_picture img {
	position: absolute;
	width: auto;
	max-width: 80px;
	height: 105px;
	left: 2px;
}
.uploadphoto{
	position: absolute;
	top: 70px;
	left: 0;
	display: none;
	border: 2px solid black;
	background-color: #ffffff;
	padding: 4px;
	z-index: 1;
}
.typeIcon { height: 16px; width: 16px; }
.editname{
	position: absolute;
	display: none;
	border: 2px solid black;
	background-color: #ffffff;
	padding: 4px;
	top: 55px;
	left: 102px;
	z-index: 1;
}
.custom_country {
	display: none;
}
tr.dialogHeader td, tr.dialogHeader2 td, tr.dialogHeader3 td, tr.dialogHeader4 td,
tr.dialogOperators td,.dialogFooterToolbar {
	padding: 5px 0 5px 0;
	vertical-align: middle;
}
input.et2_radiobox {
	position: relative;
	left: -16px;
}
#addressbook-edit_tel_prefer-tel_work, #addressbook-edit_tel_prefer-tel_cell {
	left: -13px;
}
/**
 * Index page
 */
img.iphoto {
	width: 100%;
}
