/**
 * Addressbook index rows
 */
img.iphoto {
  height: auto;
}
.avatar img.iphoto {
  border: none;
  box-shadow: none;
}
.avatar span {
  margin-right: 0;
}
label > span.et2_link {
  display: none;
}
